.file-icon {
    max-height: 80px;
}

.anexo-thumb {
    min-height: 180px;
    line-height: 180px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}
.botoes a {
    text-transform: uppercase;
}

.card-anexo {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.card-anexo-wrapper {
    color: inherit;
}
.card-anexo-wrapper:hover {
    text-decoration: none;
}
.botoes a:hover {
    text-decoration: none;
    background-color: #666;
    border-radius: 4px;
    color: #fff;
    transition-duration: .3s;
}
.botoes a {
    padding: 8px;
}
.anexo-image {
    object-fit: cover;
    width: 100%;
    height: 180px;
}
.card-anexo-no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    padding: 24px 0;
    background-color: #999;
    color: #fff;
}

.caption-descricao {
    height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}

.card-pasta-dragging * {
    pointer-events: none;
}
.card-pasta:-moz-drag-over,
.menu-pasta:-moz-drag-over {
    border: 2px solid #f00 !important;
}

.menu-pasta:-moz-drag-over {
    color: #f00;
}
.menu-pasta:-moz-drag-over:before {
    content: "+";
    color: #F00;
    font-weight: bold;
    margin-right: 4px;
}

#maskArmengue {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: none;
    z-index: 2000;
}

/* Comportamento da imagem para abrir no modal */
.anexo img:hover {
    opacity: 0.7;
}
.anexoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.anexoModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#captionAnexoModal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.anexoModal-content, #captionAnexoModal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.closeAnexoModal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeAnexoModal:hover,
.closeAnexoModal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .anexoModal-content {
    width: 100%;
  }
}

.card-anexo-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-anexo-menu:hover {
    box-shadow: #000 6px 6px 6px;
    background-color: #fdd;
}

.anexo-card-selected {
    box-shadow: 12px 12px 12px #fcc;
}

.anexos-table-select {
    width: auto;
}

.bg-pasta {
    background-color: #ddd;
}
