{% extends 'account/base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <header>
        {% include 'account/parts/header.html' %}
        </header>

        <div class="card mb-3">
          <div class="card-body">

            {% block card-content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
