{% extends "account/layout_card.html" %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}

{% block includes %}
<style>
body { background-color: #f4f4f4 !important; }
.login-color { background-color: #f4f4f4 !important; }
</style>
{% endblock %}

{% block content %}
<div class="row pt-5" style="min-width: 0;">
  <div class="col-xl-8 col-lg-6 col-md-12">


    <div class="col-md-10 card mt-5 border-0 login-color">
      <div class='card-body'>
        <h2 class="card-title">Plataforma Lume</h2>
        <p class=""><br>
          {% trans "A metodologia LUME - 'Método de Análise Econômico-Ecológica de Agroecossistemas', foi criada pela AS-PTA com a finalidade de dar visibilidade a relações econômicas, ecológicas e políticas que singularizam os modos de produção e de vida da agricultura familiar, povos e comunidades tradicionais e que têm sido historicamente ocultadas ou descaracterizadas pela teoria econômica convencional." %}
        </p>
        <p><br>
          <a href="https://aspta.org.br/files/2017/03/2-livro_METODO-DE-ANALISE-DE-AGROECOSSISTEMAS_web.pdf" target="blank" class="btn btn-xs btn-light"><i class="mr-1 fas fa-file-download"></i> {% trans "Baixe o livro!" %}</a>
        </p>
      </div>
    </div>


  </div>


  <div class="col-xl-4 col-lg-6 col-md-12 pr-5">

    <div class="col-md-12 card float-right">
      <div class="card-body">
        {% block content_login %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<hr>

<p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/parts/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/parts/login_extra.html" %}

{% endif %}

{% endblock %}
