{% extends "account/login_base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content_login %}
<h5 class="card-title">
  {% trans "Sign In" %}
</h5>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <p>
    {% blocktrans %}Se você ainda não criou uma conta, por favor entre em contato com a AS-PTA para solicitar uma conta de acesso.{% endblocktrans %}
  </p>

  <br><br>

  <div class="">
    <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i>
      {% trans "Sign In" %}
    </button>
    &nbsp;
    <a class="btn btn-link" href="{% url 'account_reset_password' %}">
      {% trans "Forgot Password?" %}
    </a>
  </div>

</form>
{% endblock %}
