{% extends "account/layout_card.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block card-content %}
  <h5 class="card-title">
    {% trans "Change Password" %}
  </h5>

  <form method="POST" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <button type="submit" name="action" class="btn btn-primary">
        {% trans "Change Password" %}
      </button>
    </div>
  </form>
{% endblock %}
