{% extends "account/login_base.html" %}

{% load account %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_login %}

  <h5 class="card-title">
    {% trans "Password Reset" %}
  </h5>

  {% if user.is_authenticated %}
    {% include "account/parts/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary"/>
    </div>
  </form>

  <br>

  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock %}
