{% extends "account/login_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_login %}
    <h5 class="card-title">
      {% trans "Password Reset" %}
    </h5>

    {% if user.is_authenticated %}
    {% include "account/parts/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
