{% extends "account/layout_card.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block card-content %}
    <h5 class="card-title">
      {% trans "Set Password" %}
    </h5>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary" />
    </form>
{% endblock %}
