{% extends "account/layout_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block card-content %}
  <h5 class="card-title">
    {% trans "Sign Up Closed" %}
  </h5>

  <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}
