{% extends "account/layout_card.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
  {% trans "Register New Account" %}
{% endblock %}
{% block card-content %}
  <h5 class="card-title">{% trans "Register New Account" %}</h5>
  <p>
    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>
  <form class="signup"
        id="signup_form"
        method="post"
        action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} »</button>
    </div>
  </form>
{% endblock %}
