{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}

<tr id="anexo_{{ anexo.id|unlocalize }}" data-pasta="{{ anexo.pasta.id }}">
    <td>
        <a href="{% url 'anexos:anexo_update' pk=anexo.id agroecossistema_id=agroecossistema.id %}">{{ anexo.nome }}</a>
    </td>
    {% if not isPasta and agroecossistema.pastas.all.count > 0 %}
        <td data-order="{{ anexo.pasta }}">
            <select class="custom-select anexos-table-select">
                <option value=""{% if not anexo.pasta %} selected{% endif %}>
                    Nenhuma
                </option>
                {% for pasta in agroecossistema.pastas.all %}
                    <option value="{{ pasta.id }}"{% if pasta.id == anexo.pasta.id %}selected{% endif %}>
                        {{ pasta }}
                    </option>
                {% endfor %}
            </select>
        </td>
    {% endif %}
    {% if not related_id %}
        <td>
            {% if anexo.recipientes.all.count > 0 %}
                <strong>{{ anexo.recipientes.all.first.recipiente_content_type|title }}:</strong> {{ anexo.recipientes.all.first.recipiente }}
            {% endif %}
        </td>
    {% endif %}
    <td>{{ anexo.descricao }}</td>
    <td data-order="{{ anexo.criacao|date:'U' }}">
        {{ anexo.criacao|date:'d/m/Y' }}
    </td>
    <td data-order="{{ anexo.ultima_alteracao|date:'U' }}">
        {{ anexo.ultima_alteracao|date:'d/m/Y' }}
    </td>
    <td class="sorting_disabled datatable-export-disabled">
        <a
            class="btn btn-danger btn-xs anexos-table-apagar"
            href="#"
            alt="{% trans 'Apagar' %}"
            data-url="{% url 'anexos:anexo_delete_ajax' agroecossistema_id=agroecossistema.id pk=anexo.id %}"
        >
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </a>
    </td>
</tr>
