{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}
{% load anexos_tags %}

<div id="modoLista" class="mt-3">
    <table
        {% tabela_class tableId='lista_anexos' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
        id="lista_anexos"
        datatable-title="Anexos"
        datatable-filename="Anexos"
    >
        <thead>
            {% if not isPasta and agroecossistema.pastas.all.count > 0 %}
                {% tabela_cabecalho colspan=related_id|yesno:'6,7' tableTitle=titulo targetId='lista_anexos' editavel=False %}
            {% else %}
                {% tabela_cabecalho colspan=related_id|yesno:'5,6' tableTitle=titulo targetId='lista_anexos' editavel=False %}
            {% endif %}
            <tr>
                <th>{% trans "Anexo" %}</th>
                {% if not isPasta and agroecossistema.pastas.all.count > 0 %}
                    <th>{% trans "Pasta" %}</th>
                {% endif %}
                {% if not related_id %}
                    <th>{% trans "Item relacionado" %}</th>
                {% endif %}
                <th>{% trans "Descrição" %}</th>
                <th>{% trans "Criação" %}</th>
                <th>{% trans "Alteração" %}</th>
                <th class="sorting_disabled datatable-export-disabled"></th>
            </tr>
        </thead>
        <tbody>
        {% for id, pasta in anexos.anexosOrganizados.items %}
            {% for anexo in pasta.anexos %}
                {% anexosModoListaRow agroecossistema=agroecossistema anexo=anexo related_id=related_id %}
            {% endfor %}
        {% endfor %}
        {% for anexo in anexos.soltos %}
            {% anexosModoListaRow agroecossistema=agroecossistema anexo=anexo related_id=related_id %}
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const isPasta = {% if isPasta %}true{% else %}false{% endif %};
    const ajaxUrl = `{% url 'anexos:anexo_rest_update' agroecossistema_id=agroecossistema.id %}`
    const anexosPlural = '{{ anexosPlural }}';
    const anexosSingular = '{{ anexosSingular }}';
</script>
