{% load i18n %}
{% load l10n %}
{% load rules %}
{% load anexos_tags %}

<div
    id="{{ cardId }}"
    class="row mt-3 anexos-masonry"
    data-masonry='{"percentPosition": true }'
>
{% for anexo in anexos %}
    <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 anexo"
        ondragstart="drag(event)"
    >
        <div class="card card-anexo mb-4">
            <a
                id="anexo_{{ anexo.id|unlocalize }}"
                data-nome="{{ anexo.nome }}"
                data-descricao="{{ anexo.descricao }}"
                data-arquivo_nome="{{ anexo.arquivo.url|filename }}"
                {% if anexo.pasta %}
                    data-pasta="{{ anexo.pasta.id|unlocalize }}"
                {% endif %}
                href="{{ anexo.arquivo.url }}"
                alt="baixar"
                class="card-anexo-wrapper"
                download="{{ anexo.nome }}"
            >
                {% if anexo.is_image %}
                    <img src="{{ anexo.arquivo.url }}" class="card-img-top anexo-header" alt="">
                {% else %}
                    <div class="card-anexo-no-image anexo-header">
                        <i class="far fa-{{ anexo.get_awesome_icon }}"></i>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ anexo.nome }}</h5>
                    {% if anexo.descricao %}
                        <p class="card-text descricao">
                            {{ anexo.descricao }}
                        </p>
                    {% endif %}
                    {% if anexo.recipientes.all.count > 0 %}
                        <p class="card-text objeto_relacionado">
                            <strong>{{ anexo.recipientes.all.first.recipiente_content_type|title }}:</strong> {{ anexo.recipientes.all.first.recipiente }}
                        </p>
                    {% endif %}
                    <p class="card-text">
                        <small class="text-muted">{{ anexo.criacao }}</small>
                    </p>
                </div>
            </a>
            {% if showMenu %}
                <div class="card-anexo-menu"><i class="fa fa-bars"></i></div>
            {% endif %}
            <div class="card-footer botoes{% if not showFooter %} d-none{% endif %}">
                <a
                    href=""
                    class="caption-apagar"
                    alt="{% trans 'Apagar' %}"
                    data-url="{% url 'anexos:anexo_delete_ajax' agroecossistema_id=agroecossistema.id pk=anexo.id %}"
                    data-filename="{{ anexo.nome }}"
                >
                    {% trans 'Apagar' %}
                </a>
                <a
                    href="{% url 'anexos:anexo_update' agroecossistema_id=agroecossistema.id pk=anexo.id %}"
                    alt="{% trans 'Editar' %}"
                    class="anexo-editar"
                >
                    {% trans 'Editar' %}
                </a>
                <a
                    href="{{ anexo.arquivo.url }}"
                    alt="{% trans 'Baixar' %}"
                    class="anexo-baixar"
                    download="{{ anexo.nome }}"
                >
                    {% trans 'Baixar' %}
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
