{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}
{% load anexos_tags %}

<div id='modoGrade'>
    {% for id, pasta in anexos.anexosOrganizados.items %}
        <div
            id="pasta_{{ id|unlocalize }}"
            class="card bg-pasta mt-4 card-pasta"
            data-qtde="{{ pasta.anexos|length }}"
            ondrop = "drop(event)"
            ondragover = "allowDrop(event)"
            ondragenter = "dragEntered(event)"
            ondragleave = "dragLeft(event)"
        >
            <h5 class="card-title p-2">
                {{ pasta.nome }}
                <span class="small qtdeAnexos">
                    ({% if pasta.anexos|length == 1 %}1 {{ anexosSingular }}{%else%}{{ pasta.anexos|length }} {{ anexosPlural }}{% endif %})
                </span>
            </h5>
            <div class="card-body">
                {% anexosModoGradeCard cardId=pasta.id|unlocalize agroecossistema=agroecossistema anexos=pasta.anexos %}
            </div>
        </div>
    {% endfor %}

    <div
        id="{% if isPasta %}pasta_{{ pasta.id }}{% else %}pasta_solto{% endif %}"
        class="card mt-4 card-pasta"
        data-qtde="{{ anexos.soltos|length }}"
        {% if not isPasta %}
            ondrop = "drop(event)"
            ondragover = "allowDrop(event)"
            ondragenter = "dragEntered(event)"
            ondragleave = "dragLeft(event)"
        {% endif %}
    >
        {% if not isPasta %}
            <h5 class="card-title p-2">
                {{ anexosPlural|title }} {% trans 'sem pasta' %}
                <span class="small qtdeAnexos">
                    ({% if anexos.soltos|length == 1 %}1 {{ anexosSingular }}{%else%}{{ anexos.soltos|length }} {{ anexosPlural }}{% endif %})
                </span>
            </h5>
        {% endif %}
        <div class="card-body">
            {% anexosModoGradeCard cardId="" agroecossistema=agroecossistema anexos=anexos.soltos %}
        </div>
    </div>
</div>

<div class="dropdown-menu dropdown-menu-sm" id="contextMenu">
    <a id="menuBaixar" class="dropdown-item small">
        <i class="fa fa-download mr-2"></i>
        {% trans 'Baixar' %}
    </a>
    <a id="menuEditar" class="dropdown-item small modal-right-open">
        <i class="fa fa-pen mr-2"></i>
        {% trans 'Editar' %}
    </a>
    {% if agroecossistema.pastas.all.count > 0 %}
        <a id="menuMover" class="dropdown-item small">
            <i class="fa fa-folder mr-2"></i>
            {% trans 'Mover para...' %}
        </a>
    {% endif %}
    <a id="menuApagar" class="dropdown-item small">
        <i class="fa fa-times mr-2"></i>
        {% trans 'Apagar' %}
    </a>
    <div class="dropdown-divider"></div>
    <a id="menuCriar" class="dropdown-item small modal-right-open">
        <i class="fa fa-plus mr-2"></i>
        {% trans 'Novo' %}
    </a>
</div>
{% if agroecossistema.pastas.all.count > 0 %}
    <div class="dropdown-menu dropdown-menu-sm" id="contextMenuSub">
        <a class="dropdown-item small context-menu-sub" data-pasta_id="">
            {% trans 'Nenhuma' %}
        </a>
        {% for pasta in agroecossistema.pastas.all %}
            <a class="dropdown-item small context-menu-sub" data-pasta_id="{{ pasta.id }}">
                {{ pasta }}
            </a>
        {% endfor %}
    </div>
{% endif %}

<script>
    const isPasta = {% if isPasta %}true{% else %}false{% endif %};
    const ajaxUrl = `{% url 'anexos:anexo_rest_update' agroecossistema_id=agroecossistema.id %}`
    const anexosPlural = '{{ anexosPlural }}';
    const anexosSingular = '{{ anexosSingular }}';
</script>
