{% load i18n %}
{% load custom_tags %}
{% load agroecossistema_tags %}

<h3 class="mb-3">{{ agroecossistema }}</h3>
{% if not sim_slug %}
  <p>
    {% if agroecossistema.territorio %}
      {% blocktrans %}O agroecossistema{% endblocktrans %} <strong>{{ agroecossistema }}</strong>
      {% blocktrans %}está localizado na comunidade{% endblocktrans %}
      <a href="{% url 'comunidade_detail' pk=agroecossistema.comunidade.id %}">{{ agroecossistema.comunidade.nome }}</a>, {% blocktrans %}no território{% endblocktrans %} <a href="{% url 'territorio_detail' pk=agroecossistema.territorio.id %}">{{ agroecossistema.territorio }}</a>,
    {% else %}
      {% blocktrans %}O agroecossistema{% endblocktrans %} <strong>{{ agroecossistema }}</strong>
      {% blocktrans %}está localizado na comunidade{% endblocktrans %}
      <a href="{% url 'comunidade_detail' pk=agroecossistema.comunidade.id %}">{{ agroecossistema.comunidade.nome }}</a>,
    {% endif %}
    {% blocktrans %}em{% endblocktrans %} {{ agroecossistema.comunidade.municipio }} - {{ agroecossistema.comunidade.municipio.uf.sigla }}.
    {% if car.terras.count %}
      {% blocktrans %}São {% endblocktrans %}{{ car.get_area_total|floatformat:1 }} {% blocktrans %}hectares de terra, das quais{% endblocktrans %}
      {% get_terras_list car=car tipo=tipo_sigla as terra_list %}
      {% for terra in terra_list %}
        {% if forloop.last %}e{% endif %}
        {{ terra.area|floatformat:0 }}<i>ha</i> como
        {% if forloop.last %}
          {{ terra.tipo }}.
        {% else %}
          {{ terra.tipo }},
        {% endif %}
      {% endfor %}
    {% endif %}
  </p>
  <p>
    {% blocktrans %}A organização responsável pelo cadastro é a{% endblocktrans %} <strong>{{ object.organizacao }}</strong>. {% blocktrans %}A última alteração no agroecossistema se deu em{% endblocktrans %} {{ agroecossistema.ultima_alteracao }}.
  </p>
{% else %}
  <strong>{{ car }}</strong>
  <br />
  <i>{{ car.sim_descricao }}</i>
{% endif %}

<div class="alert alert-info d-flex" role="alert">
  <div class="row">
    <div class="col-1 text-center">
      <i class="icon-panel-info" aria-hidden="true"></i>
    </div>
    <div class="col-11">
      {% blocktrans %}
      As informações abaixo apresentam dados das análises econômicas realizadas no período de {{ car }}.
      Selecione outro ciclo de referência para ver as análises de outro período.
      {% endblocktrans %}
    </div>
    <div class="col-1">
      &nbsp;
    </div>
    <div class="col-11 mt-2">
      {% include "main/partials/ciclo_selector.html" %}
    </div>
  </div>
</div>
