{% load i18n %}
{% load custom_tags %}
{% load agroecossistema_tags %}

{##########################################}
{############# COMPOSICAO NSGA ############}
{##########################################}
{% if car.composicoes_nsga.count %}
<table {% tabela_class editavel=False tableId='composicao_nsga' sticky=False %}
  id="composicao_nsga">
  <thead>
    {% tabela_cabecalho colspan=5 tableTitle="NSGA"|concat:': '|concat:object.nsga targetId='composicao_nsga' editavel=False %}
    <tr>
      <th>{% trans "Nome" %}</th>
      <th>{% trans "Sexo" %}</th>
      <th>{% trans "Idade" %}</th>
      <th>{% ajudaIndicador slug="UTF" %} {% trans "Agr." %}</th>
      <th>{% ajudaIndicador slug="UTF" %} {% trans "Plur." %}</th>
    </tr>
  </thead>
  <tbody>
    {% for horas_p in analise_economica.totais_horastrabalhoporpessoa.all %}
    <tr>
      <td>
        {{ horas_p.pessoa_nome }}
        {% if horas_p.responsavel %}
        <span class="asteriskField"
              title="Responsável pelo {% ajudaIndicador slug='NSGA' %}">*</span>
        {% else %}
        ({{ horas_p.get_grau_de_parentesco_display }})
        {% endif %}
      </td>
      <td>{{ horas_p.get_pessoa_sexo_display }}</td>
      <td>{{ horas_p.get_idade }}</td>
      <td>{{ horas_p.utf_agroecossistema|floatformat:2 }}</td>
      <td>{{ horas_p.utf_pluriatividade|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-secondary mb-0">
  {% trans "Ainda não há pessoas cadastradas no" %} {% ajudaIndicador slug="NSGA" %}.
</div>
{% endif %}

<br />

{#################################}
{############# TERRAS ############}
{#################################}
{% if car.terras.count %}
{% trans "Terras" as Terras %}
<table {% tabela_class editavel=False tableId='terras' sticky=False %}
  id="terras">
  <thead>
    {% tabela_cabecalho colspan=3 tableTitle=Terras targetId='terras' editavel=False %}
    <tr>
      <th>{% trans "Tipo" %}</th>
      <th>{% trans "Unid." %}</th>
      <th>{% trans "Área (ha)" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for tipo_sigla, tipo_nome in car.terras.first.TIPOS_TERRA %}
    {% get_terras car=car tipo=tipo_sigla as terra %}
    {% if terra.qtde %}
    <tr>
      <td>{{ tipo_nome }}</td>
      <td>{{ terra.qtde }}</td>
      <td>{{ terra.area }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>{% trans "TOTAL" %}</th>
      <th>{{ car.terras.count }}</th>
      <th>{{ car.get_area_total|floatformat:2 }}</th>
    </tr>
  </tfoot>
</table>
{% else %}
<div class="alert alert-secondary mb-0">{% trans "Ainda não há terras registradas." %}</div>
{% endif %}

<br>

{######################################}
{############# SUBSISTEMAS ############}
{######################################}
{% if subsistemas_object_list|length > 0 %}
  <div class="row">
    <div class="col-sm-12">
      <table
        {% tabela_class tableId='lista_subsistemas' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
        id="lista_subsistemas"
        datatable-title="Lista de subsistemas"
        datatable-filename="lista_subsistemas"
        >
        <thead>
          {% tabela_cabecalho colspan=4 tableTitle='Subsistemas' targetId='lista_subsistemas' editavel=False %}
          <tr>
            <th>{% trans "Subsistema" %}</th>
            <th>{% trans "Área (ha)" %}</th>
            <th>{% trans "Observações" %}</th>
            <th>{% trans "Criado em" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for object in subsistemas_object_list %}
          <tr>
            <td>{{ object }}</td>
            <td>{% if object.area is not None %}{{ object.area }}{% endif %}</td>
            <td>{% if object.observacoes is not None %}{{ object.observacoes }}{% endif %}</td>
            <td>{{ object.criacao }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="row mt-3">
    <div class="col-md-12 mt-2">
      <div class="alert alert-info">
        <h5>
          {% trans 'Ainda nao há subsistemas cadastrados.' %}
          {% if pode_cadastrar_subsistema %}
          {% trans "Seja a/o primeira/o a criar um" %} <a href="{{ car.get_subsistema_create_url }}">
            {% trans "clique aqui" %}</a>.
          {% endif %}
        </h5>
      </div>
    </div>
  </div>
{% endif %}

<script>
  action_buttons = $('#composicao_nsga .tableButtons').html();
  url_button = "{% url 'agroecossistema:car_update_composicao' agroecossistema.id ano_car %}"
  btn_title_attr = "{% trans 'abrirá em outra aba' %}";
  edit_button = '<div style="background-color:#fff;" class="ml-2">\
  <a href="'+url_button+'" class="btn btn-outline-primary" target="blank" title="'+btn_title_attr+'">\
            <i class="fa fa-pen mr-1" aria-hidden="true"></i>\
            Editar</a><div>';
  // $('#composicao_nsga .tableButtons').html(action_buttons+edit_button);
  $('#composicao_nsga .tableButtons').html(edit_button);

  action_buttons = $('#terras .tableButtons').html();
  url_button = "{% url 'agroecossistema:car_update_terras' agroecossistema.id ano_car %}"
  edit_button = '<div style="background-color:#fff;" class="ml-2">\
  <a href="'+url_button+'" class="btn btn-outline-primary" target="blank" title="'+btn_title_attr+'">\
            <i class="fa fa-pen mr-1" aria-hidden="true"></i>\
            Editar</a><div>';
  // $('#terras .tableButtons').html(action_buttons+edit_button);
  $('#terras .tableButtons').html(edit_button);

  action_buttons = $('#lista_subsistemas .tableButtons').html();
  url_button = "{% url 'economica:subsistema_list' agroecossistema.id ano_car %}"
  edit_button = '<div style="background-color:#fff;" class="ml-2">\
  <a href="'+url_button+'" class="btn btn-outline-primary" target="blank" title="'+btn_title_attr+'">\
            <i class="fa fa-pen mr-1" aria-hidden="true"></i>\
            Editar</a><div>';
  // $('#lista_subsistemas .tableButtons').html(action_buttons+edit_button);
  $('#lista_subsistemas .tableButtons').html(edit_button);
</script>
