{% load i18n %}
{% load custom_tags %}
{% load agroecossistema_tags %}

{% for atributo_id, atributo in atributos.items %}
<div class="row mt-5 download-chart-{{ atributo_id }}">
  <div class="col-md-12">
    <div class="d-flex justify-content-between align-items-baseline">
      <h4 class="tableTitle">{% trans "Gráfico" %}</h4>
      <a id="link-{{ atributo_id }}" class="btn btn-outline-secondary">
        <i class="fa fa-download"></i>
      </a>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12 d-flex justify-content-center"
       id="aranha-wrapper-{{ atributo_id }}">
    <div id="aranhaEmpty-{{ atributo_id }}" class="aranhaEmpty">
      <div class="alert alert-info">
        {% trans "Não há dados suficientes para mostrar o gráfico. Ele só será exibido quando todos os parâmetros deste atributo forem preenchidos. Caso queira eliminar parâmetros, clique no botão 'configurar análises' acima." %}
      </div>
    </div>
    <canvas id="aranha-{{ atributo_id }}" class="chartCanvas legendsRight"></canvas>
  </div>
</div>
{% endfor %}
