.block-extra-forms .item div {
  margin-right: 10px !important;
}

form
  .select2-container--default.select2-container--focus
  .select2-selection--multiple,
form .select2-container--default .select2-selection--multiple {
  line-height: 1.2 !important;
  display: inline-table !important;
}

.atributo-drag-icon {
  font-weight: bold;
  font-size: 14px;
  color: rgb(45, 126, 24);
  margin-left: 8px;
}

.atributo-delete,
.atributo-edit,
.atributo-save,
.atributo-vazio,
.atributo-move {
  color: #999;
  padding-left: 4px;
  padding-right: 4px;
}

.atributo-move {
  cursor: grab;
  color: #aaa;
}

.atributo-delete:hover,
.atributo-edit:hover,
.atributo-move:hover {
  color: #000;
}

.atributo-vazio {
  color: #fff;
}

.atributo-save {
  color: rgb(45, 126, 24);
}

.atributo-delete:hover,
.atributo-save:hover {
  cursor: pointer;
}

.atributo-save:hover {
  color: rgb(14, 49, 5);
}

#comparacao_nav .nav-link.active .nav-item-actions {
  display: inline;
}
#comparacao_nav .nav-link.active {
  padding-left: 0;
}

#comparacao_nav .nav-link .nav-item-actions {
  display: none;
}

.tab-content input {
  width: 100%;
}

.nav-atributo-input {
  width: 300px;
  margin-top: 12px;
}
