.qualitativa-recursos-produtivos-mercantis {
  /*background-color: #fff2cc;*/
  /* background-color: rgb(255,200,200); */
  background-color: #d8d8d8;
  font-weight: 700;
}
.qualitativa-base-de-recursos-autocontrolada {
  /*background-color: #dae3f3;*/
  /* background-color: rgb(200,200,255); */
  background-color: #d8d8d8;
  font-weight: 700;
}
td.qualitativa-textarea {
  padding: 4px;
  width: 100%;
}
.primeiraColuna {
  min-width: 12rem;
}
.qualitativa-textarea {
  width: 500px;
}
th.qualitativa-ano,
td.qualitativa-ano {
  min-width: 4.5rem;
}
td.qualitativa-textarea textarea,
.select2-selection__choice span {
  font-size: 0.7rem;
}
td.qualitativa-ano {
  padding-top: 4px;
}
td.qualitativa-ano select {
  font-size: 0.8rem;
  height: 2rem;
  padding-left: 0.2rem;
}
.toggleEditarLinha {
  cursor: pointer;
}
.toggleEditarLinha i {
  color: #3aa0a5;
}

.aranhaEmpty {
  display: none;
}

.qualitativa-comp-card {
  position: absolute;
  width: 300px;
  top: 0;
  right: 1rem;
}

.qualitativa-comp-card .card-body {
  max-height: 180px;
  overflow-y: auto;
}

/* canvas {
    max-width: 1024px;
    max-height: 350px;
} */

.qualitativa-mudancas_eventos
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  white-space: inherit;
}

.note-editor.note-frame {
  max-width: 100%;
}

.select_mudancas_eventos {
  width: 300px;
}

.select2-container--disabled .mudancas_eventos-editar {
  display: none;
}

.mudancas_eventos-editar-wrapper {
  background-color: transparent;
  border: none;
  border-right-width: medium;
  border-right-style: none;
  border-right-color: currentcolor;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}

.mudancas_eventos-editar-wrapper:hover {
  background-color: #f1f1f1;
  color: #333;
  outline: none;
}

.mudancas_eventos-editar {
  cursor: pointer;
  font-size: 0.6rem;
}

.select2-container--default.select2-container--disabled
  .mudancas_eventos-editar-wrapper {
  display: none;
}

.select2-container--default.select2-container--disabled
  .select2-selection--multiple
  .select2-selection__choice {
  padding-left: 2px;
}
