{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "Você saiu do LUME. Volte logo!" %}</p>
<a href="{% url 'login'%}">{% trans "Clique aqui para entrar novamente." %}</a>
{% endblock %}
