{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
      <input type="submit" class="btn btn-primary btn-sm btn-lg" value='{% trans "Alterar a senha" %}'>
  </form>
{% endblock %}
