{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "A senha foi alterada com sucesso!" %}</h3>
  <div class="row">
      <div class="col-md-12 mt-5">
          <p>
            <a href="{% url 'login' %}">{% trans "Fazer login novamente?" %}</a>
          </p>
      </div>
  </div>
{% endblock %}
