{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h3>{{ titulo }}</h3>
    <div class="row mt-5">
        <div class="col-md-12">
            {% crispy form %}
        </div>
    </div>

{% endblock %}
