{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
<div class="mt-3 d-flex justify-content-between align-items-center">
    <h3>
        {% trans "Caderno de campo" %}
    </h3>
    <div class="d-flex justify-content-end align-items-center">
        <a class="btn btn-primary btn-sm" href="{% url 'cadernodecampo:anotacao_create' agroecossistema_id=agroecossistema.id %}">
            <i class="fas fa-plus mr-1"></i>
            {% trans "Nova anotação" %}
        </a>
    </div>
</div>

{% if user.is_authenticated %}
{% if object_list|length > 0 %}
<div class="row mt-3">
    <div class="col-sm-12">
        <table
            {% tabela_class tableId='lista_anotacoes' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
            id="lista_anotacoes"
            datatable-title="Caderno de campo"
            datatable-filename="lista_anotacoes"
        >
            <thead>
                {% tabela_cabecalho colspan=4 tableTitle='Caderno de campo' targetId='lista_anotacoes' editavel=False %}
                <tr>
                    <th>{% trans "Nome" %}</th>
                    <th>{% trans "Data" %}</th>
                    <th>{% trans "Autor/a" %}</th>
                    <th>{% trans "Anexos" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                        <td>{{ object.data_visita }}</td>
                        <td>{{ object.autor.get_displayname }}</td>
                        <td>{{ object.anexos.count }} {% trans "anexos" %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há anotações no caderno de campo deste agroecossistema. Seja a/o primeira/o a criar uma anotação" %} <a href="{% url 'cadernodecampo:anotacao_create' agroecossistema_id=agroecossistema.id %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        </div>
    {% endif %}
    {% endif %}

{% endblock %}
