{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load vstatic %}
{% load i18n %}
{% load rules %}
{% load anexos_tags %}

{% block includes %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <link rel="stylesheet" href="{% vstatic 'anexos/css/anexos.css' %}">
    <script type="text/javascript" src="{% vstatic 'anexos/js/anexos.js' %}"></script>
{% endblock %}

{% block content %}
    {% has_perm 'permissao_padrao' user as pode_alterar %}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {{ object }}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn-secondary btn-sm mr-1" href="{% url 'cadernodecampo:anotacao_list' agroecossistema_id=agroecossistema.id %}">
                <i class="fas fa-list mr-1"></i>
                {% trans "Ver lista de anotações" %}
            </a>
            {% if pode_alterar %}
                <a class="btn btn-primary btn-sm mr-1" href="{{ object.get_update_url }}">
                    <i class="fas fa-pen mr-1"></i>
                    {% trans 'Editar' %}
                </a>
            {% endif %}
        </div>
    </div>

    <dl class="row mt-4 mb-2">
        <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Data da visita ou atividade" %}</dt>
        <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.data_visita }}</dd>

        <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Relato" %}</dt>
        <dd class="col-sm-12 col-md-7 col-lg-9 border">{{ object.safe_relato|linebreaks }}</dd>

        <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Autor/a" %}</dt>
        <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.autor }}</dd>

        <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Última atualização" %}</dt>
        <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.ultima_alteracao }}</dd>
    </dl>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <h3 class="">
            {% trans 'Anexos' %}
            <small class="text-muted ml-2">({% trans 'arraste para mudar pasta' %})</small>
        </h3>
        {% if pode_alterar %}
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-secondary btn-sm mr-1" href="{% url 'anexos:pasta_anexo_update' agroecossistema_id=agroecossistema.id %}">
                    <i class="fas fa-folder mr-1"></i>
                    {% trans 'Editar pastas' %}
                </a>
                <button id="btn-criar" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus mr-1"></i>
                    {% trans 'Adicionar anexo' %}
                </button>
            </div>
        {% endif %}
    </div>

    {% anexosModoGrade agroecossistema=agroecossistema anexos=anexos %}

{% endblock %}

{% block modal_right_form_tag %}
    {% if form %}
        <form method="post" class="h-100 form-vertical" enctype="multipart/form-data">
    {% endif %}
{% endblock %}

{% block modal_right_title %}
    <h3 id="modal-right-title" class="mb-2" data-title_criar="{% trans 'Novo anexo' %}" data-title_editar="{% trans 'Editar anexo' %}">{% trans 'Novo anexo' %}</h3>
{% endblock %}

{% block modal_right_body %}
    <div>
        {% csrf_token %}
        <div id="id_arquivo_img">
            <div class="img-thumb"></div>
            <div class="img-label"></div>
            <button class="btn btn-sm btn-secondary">{% trans 'Trocar arquivo' %}</button>
        </div>
        {{ form|crispy }}
        <input type="hidden" id="id_update_pk" name="update_pk" value="">
    </div>
{% endblock %}
