{% load l10n %}
{% load i18n %}
<select
    id="qualificacao-{{ dataTipo }}-{{ parametro_id }}"
    name="qualificacao_{{ dataTipo }}"
    data-agroecossistema-id="{{ analise.agroecossistema_id }}"
    data-parametro-id="{{ parametro_id }}"
    data-ano="{{ ano|unlocalize }}"
    data-tipo="{{ dataTipo }}"
    datatable-export-disabled="true"
    class="form-control"
>
    <option value=""{% if qualificacao is null %} selected{% endif %}>
    </option>
    <option value="1"{% if qualificacao == 1 %} selected{% endif %}>
        {% trans "Muito baixo" %}
    </option>
    <option value="2"{% if qualificacao == 2 %} selected{% endif %}>
        {% trans "Baixo" %}
    </option>
    <option value="3"{% if qualificacao == 3 %} selected{% endif %}>
        {% trans "Médio" %}
    </option>
    <option value="4"{% if qualificacao == 4 %} selected{% endif %}>
        {% trans "Alto" %}
    </option>
    <option value="5"{% if qualificacao == 5 %} selected{% endif %}>
        {% trans "Muito alto" %}
    </option>
</select>
<span class="d-none">
    {{ qualificacao }}
</span>
