{% extends "base.html" %}
{% load sitetree %}
{% load static %}
{% load rules %}
{% load vstatic %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
    {% has_perm 'organizacao.cadastrar' user as pode_cadastrar_organizacao %}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Eventos-gatilho" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_organizacao %}
            <a class="btn btn-primary btn-sm" href="{% url 'eventogatilho_create' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Novo evento-gatilho" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if object_list|length > 0 %}
        <div class="row mt-3">
            <div class="col-sm-12">
                <table
                    {% tabela_class tableId='eventogatilho_list_table' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                    id="eventogatilho_list_table"
                    datatable-title="Lista de eventos-gatilho"
                    datatable-filename="eventogatilho_list_table"
                >
                    <thead>
                        {% tabela_cabecalho colspan=3 tableTitle='Eventos-gatilho' targetId='eventogatilho_list_table' editavel=False %}
                        <tr>
                          <th>{% trans "Evento-gatilho" %}</th>
                          <th>{% trans "Organização" %}</th>
                          <th>{% trans "Detalhes" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                            <td>{{ object.organizacao }}</td>
                            <td>{{ object.detalhes|safe }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há evento-gatilho cadastrados" %}.
                    {% trans "Seja a/o primeira/o a criar um" %} <a href="{% url 'eventogatilho_create' %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
