{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {{ form.media }}
    <h4>{{ titulo }}</h4>
    <br/>
    {% crispy form %}

{% endblock %}

{% block includes %}
    <script type="text/javascript">
        var CHECKBOX_GATILHO = '#id_is_gatilho';

        function initFormEvento () {
            is_gatilho = $(CHECKBOX_GATILHO).is(':checked');

            $('#id_evento_gatilho').attr('disabled', !is_gatilho);
            $('#id_evento_gatilho').next('.invalid-feedback').eq(0).toggle(is_gatilho);
            $('#id_titulo').attr('disabled', is_gatilho);
            $('#id_titulo').next('.invalid-feedback').eq(0).toggle(!is_gatilho);
            $('#id_dimensao').attr('disabled', is_gatilho);
            $('#id_dimensao').next('.invalid-feedback').eq(0).toggle(!is_gatilho);
        }

        $(document).ready(function () {
            $(CHECKBOX_GATILHO)
              .ready(initFormEvento)
              .on('click', initFormEvento);
        });
    </script>
{% endblock %}
