{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}

{% block content %}
    {% has_perm 'permissao_padrao' user as pode_alterar %}
    <h3>{% trans "Evento-gatilho" %} <a href="{% url 'eventogatilho_list' %}" class="btn btn-secondary btn-sm"><i class="fas fa-eye mr-1"></i> {% trans "Ver lista" %}</a>
    </h3>
    <dl class="row mt-4">
      <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Organização" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.organizacao }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Título" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.titulo }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Dimensao" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.dimensao }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Criada em" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.criacao }}</dd>
    </dl>
    <div class="row mb-5">
        <div class="col-sm-12">
            <a class="btn btn-primary mt-2" href="{{ object.get_update_url }}"><i class="fas fa-pen mr-1"></i> {% trans 'Editar' %}</a>
        </div>
    </div>

{% endblock %}
