{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <p><a class="btn btn-primary btn-sm" href="{% url 'linhadotempo:eventogrupo_list' agroecossistema_id=agroecossistema.id %}">
        {% trans "Agrupamentos de Eventos" %}</a></p>
    {% crispy form %}

{% endblock %}
