{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <p><a class="btn btn-primary btn-sm" href="{% url 'linhadotempo:eventogrupo_list' agroecossistema_id=agroecossistema.id %}">
        {% trans "Agrupamentos de Eventos" %}</a></p>
    <table class="table">
        <tr>
          <td>{% trans "Agrupamento" %}</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td>{% trans "Criado em" %}</td>
            <td>{{ object.criacao }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans "Editar Agrupamento" %}</a>

{% endblock %}
