{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load vstatic %}
{% load crispy_forms_tags %}
{% load rules %}
{% if isTerritorial %}
    {% load linhaterritorial_tags %}
{% endif %}
{% block titulo_navbar %}
    {% if isTerritorial %}
        {% trans modulo|title %}
    {% else %}
        {% trans "Agroecossistema" %}
    {% endif %}
    : {{ titulo }}
{% endblock titulo_navbar %}
{% block includes %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="https://unpkg.com/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="https://www.greensock.com/js/src/utils/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt-BR.js"></script>
    <script src="{% vstatic 'main/js/eventos_form_helpers.js' %}"
            type="text/javascript"></script>
    <script src="{% vstatic 'linhadotempo/js/linhadotempo.js' %}"
            type="text/javascript"></script>
    <script src="{% vstatic 'main/js/html2canvas.min.js' %}"></script>
    <script type="text/javascript">
        const isTerritorial = {{ isTerritorial|yesno:'true,false' }};
        const initialWindowSize = 6;
        const grupos = {{ grupos|safe }};
        let dataInicio;
        let dataFim;
        {% if isTerritorial %}
            const eventos = {{ object_list|as_visjs_json|safe }};
            const restUpdateUrl = '{% url "linhaterritorial:evento_rest_update" %}';
            const restDeleteUrl = '{% url "linhaterritorial:evento_rest_delete" %}';
            const comunidadeOuTerritorioId = '{{ comunidadeOuTerritorio.id }}';
            const agroecossistemaId = null;
            const contentTypeId = '{{ content_type.id }}';
            const periodos = {{ periodos|safe }};
            let ajax_tipo_dimensao_id = "";
            const ajax_tipos_dimensao_url = "{% url modulo|add:'_linhaterritorial_api_tipos_dimensao' pk=comunidadeOuTerritorio.id %}";
            const ajax_dimensoes_url = "{% url modulo|add:'_linhaterritorial_api_dimensoes' pk=comunidadeOuTerritorio.id %}";
            dataInicio = moment(`${1900 + periodos[0].coluna}-01-03T00:00:00`).valueOf();
            dataFim = moment(`${1900 + periodos[periodos.length - 1].coluna}-12-30T00:00:00`).valueOf();
        {% else %}
            const eventos = [{% for object in object_list %}{{ object.as_visjs_json|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}];
            const restUpdateUrl = '{% url "linhadotempo:evento_rest_update" agroecossistema_id=agroecossistema.id %}';
            const restDeleteUrl = '{% url "linhadotempo:evento_rest_delete" agroecossistema_id=agroecossistema.id %}';
            const agroecossistemaId = "{{ agroecossistema.id }}";
            const comunidadeOuTerritorioId = null;
        {% endif %}

        $(document).ready(function () {
            initLinhaDoTempo();
        });
    </script>
    {{ form.media }}
{% endblock includes %}
{% block content %}
    {% if isTerritorial %}
        {% has_perm 'permissao_padrao' user as pode_alterar_linhadotempo %}
    {% else %}
        {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_linhadotempo %}
    {% endif %}
    <div class="toast d-none"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto" id="toastTitle">Salvo</strong>
            <button type="button"
                    class="ml-2 mb-1 close"
                    data-dismiss="toast"
                    aria-label="Fechar">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">O evento "" foi atualizado!</div>
    </div>
    <div class="row linhadotempoHeaders">
        <div id="buscaEventosWrapper" class="col-sm-6 col-md-4 col-lg-3">
            <label>
                <i class="fa fa-search"></i>
            </label>
            <select id="buscaEventos" name="buscaEventos">
                <option>vazio</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-9 text-right">
            <a class="btn btn-secondary mt-2 mb-2"
               id="download_linhadotempo"
               href=""
               download="{{ titulo }}_linhadotempo.png">{% trans "Exportar" %}</a>
        </div>
    </div>
    <div class="row mb-2 linhadotempoHeaders">
        <div class="col-sm-8 col-md-10 col-lg-10">
            <div id="linhadotempoSlider">
                <div id="linhadotempoSliderHolder" class="dragMove"></div>
                <div id="linhadotempoSliderHolderLeft" class="dragResize"></div>
                <div id="linhadotempoSliderHolderRight" class="dragResize"></div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-2 text-right">
            <span class="btn btn-secondary btn-xsm" id="zoomIn" title="ampliar"><i class="fas fa-plus"></i></span>
            <span class="btn btn-secondary btn-xsm disabled"
                  id="zoomOut"
                  title="reduzir"><i class="fas fa-minus"></i></span>
            <span class="btn btn-secondary btn-xsm disabled"
                  id="seeAll"
                  title="ver tudo"><i class="fas fa-compress-arrows-alt"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="linhadotempo_pane1 col-md-12">
            <div id="linhadotempo" class="linhadotempo_holder"></div>
            {% if pode_alterar_linhadotempo %}
                <div id="modoEdicaoWrapper" class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="modoEdicao">
                    <label class="custom-control-label" for="modoEdicao">Edição</label>
                </div>
            {% endif %}
        </div>
        <div class="dropdown-menu dropdown-menu-sm" id="contextMenu">
            <a id="menuVer" class="dropdown-item small"><i class="fa fa-eye mr-2 modal-right-open"></i>Ver evento</a>
            <a id="menuEditar" class="dropdown-item small"><i class="fa fa-pen mr-2 modal-right-open"></i>Editar</a>
            <a id="menuApagar" class="dropdown-item small"><i class="fa fa-times mr-2"></i>Apagar</a>
            <a id="menuCriar" class="dropdown-item small"><i class="fa fa-plus mr-2 modal-right-open"></i>Novo evento</a>
            <div class="dropdown-divider"></div>
            <a id="menuFit" class="dropdown-item small"><i class="fa fa-arrows-alt mr-2"></i>Ver tudo</a>
            {% if pode_alterar_linhadotempo %}
                <a id="menuAtivaEdicao" class="dropdown-item small"><i class="fa fa-tools mr-2"></i>Modo de edição</a>
            {% endif %}
            <a id="menuDesativaEdicao" class="dropdown-item small"><i class="fa fa-search mr-2"></i>Modo de visualização</a>
        </div>
    </div>
{% endblock content %}
{% block modal_right_title %}
    {% if not isTerritorial %}
        <div class="eventoFormDiv">
            <h5 class="modal-right-title"></h5>
        </div>
        <div class="eventoDetailDiv">
            <h5 class="modal-right-title"></h5>
            <div id="eventoModalBadgeGatilho" class="badge badge-warning">{% trans "evento-gatilho" %}</div>
        </div>
    {% endif %}
{% endblock modal_right_title %}
{% block modal_right_body %}
    <div class="eventoFormDiv">
        <div>
            {% csrf_token %}
            {% for f in form.invisible_fields %}{{ f.id_for_label }}{% endfor %}
            {{ form|crispy }}
        </div>
    </div>
    <div class="eventoDetailDiv">
        <div class="carousel slide"
             data-ride="carousel"
             id="evento-anexos-carousel">
            <div class="carousel-inner"></div>
            <a class="carousel-control-prev"
               href="#evento-anexos-carousel"
               role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Anterior" %}</span>
            </a>
            <a class="carousel-control-next"
               href="#evento-anexos-carousel"
               role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Próximo" %}</span>
            </a>
        </div>
        <ul class="list-group list-group-flush mt-4">
            {% if isTerritorial %}
                <li class="list-group-item bg-none px-0">
                    <dt>{% trans "Eventos" %}</dt>
                    <dd class="modal-right-title">
                    </dd>
                </li>
            {% endif %}
            <li class="list-group-item bg-none px-0 eventoDetailDivDimensao">
                <dt>{% trans "Dimensão" %}</dt>
                <dd id="evento-tipo">
                </dd>
            </li>
            {% if isTerritorial %}
                <li class="list-group-item bg-none px-0 eventoDetailDivSubDimensao">
                    <dt>Subdimensão</dt>
                    <dd id="evento-subdimensao">
                    </dd>
                </li>
            {% endif %}
            <li class="list-group-item bg-none px-0 eventoDetailDivPeriodo">
                <dt>
                    {% if isTerritorial %}
                        {% trans "Período" %}
                    {% else %}
                        {% trans "Ano" %}
                    {% endif %}
                </dt>
                <dd id="evento-ano">
                </dd>
            </li>
            <li class="list-group-item bg-none px-0 eventoDetailDivDescricao">
                <dt>{% trans "Descrição" %}</dt>
                <dd id="evento-descricao">
                </dd>
            </li>
        </ul>
    </div>
    <div class="eventoAnexosDiv{% if isTerritorial %} d-none{% endif %}">
        <div class="eventoAnexosDivInner">
            <h5>{% trans "Anexos" %}</h5>
            <div class="d-flex justify-content-end align-items-center">
                <a id="evento-anexos"
                   class="btn btn-primary btn-sm mr-1"
                   href=""
                   data-href="{% if isTerritorial %}{% url link_anexos pk=999999999999 %}{% else %}{% url 'linhadotempo:evento_anexos' agroecossistema_id=agroecossistema.id pk=999999999999 %}{% endif %}">
                    <i class="fas fa-pen mr-1"></i>
                    {% trans "Editar" %}
                </a>
            </div>
        </div>
        <div id="evento-anexos-files-wrapper" class="mt-3 mb-5">
            <ul class="list-group list-group-flush" id="evento-anexos-files">
                <li class="list-group-item"></li>
            </ul>
        </div>
        <div id="evento-anexos-files-empty" class="mt-3 mb-5">
            <span class="text-muted">{% trans "Este evento não tem arquivos anexos" %}</span>
        </div>
    </div>
{% endblock modal_right_body %}
{% block includes_footer %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="{% static 'linhadotempo/css/linhadotempo.css' %}">
{% endblock includes_footer %}
