{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_cadastrar_evento %}
    <h3>{% trans "Relações entre eventos" %} {% if pode_cadastrar_analise_qualitativa %} <a class="btn btn-info btn-sm" href="{% url 'linhadotempo:eventogrupo_create' agroecossistema_id=agroecossistema.id %}"><i class="fas fa-plus"></i> 
        {% trans "nova relação entre eventos" %}</a>{% endif %}</h3>
    <div class="row">
        {% if object_list|length > 0 %}
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                      <td>{% trans "Agrupamento" %}</td>
                      <td>{% trans "Descrição" %}</td>
                      <td>{% trans "Criado em" %}</td>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                            <td>{{ object.descricao }}</td>
                            <td>{{ object.criacao }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-primary" href="{% url 'linhadotempo:eventogrupo_create' agroecossistema_id=agroecossistema.id%}">
                  {% trans "Cadastrar Agrupamento" %}</a>
            </div>
        {% else %}
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há relações de eventos nesta linha do tempo" %}. 
                    {% trans "Seja a/o primeira/o a ar uma" %} <a href="{% url 'linhadotempo:eventogrupo_create' agroecossistema_id=agroecossistema.id %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
