{% load static %}
{% load i18n %}
{% load vstatic %}
{% load crispy_forms_tags %}
{% load rules %}
{% if isTerritorial %}
    {% load linhaterritorial_tags %}
{% endif %}
{% block content %}
    {% if isTerritorial %}
        {% has_perm 'permissao_padrao' user as pode_alterar_linhadotempo %}
    {% else %}
        {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_linhadotempo %}
    {% endif %}
      <ul class="list-group list-group-flush">
        {% for ano, eventos in linhadotempo.items %}
          <div style="padding-top: 8px;padding-bottom: 6px;padding-left: 8px;padding-right: 8px;display: inline-flex;">
            <div style="flex: 1 1 0; padding-left: 4px; padding-right: 4px; background: #DEEEEF; border-radius: 4px; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
              <div style="color: #333238;font-size: 12px; font-weight: 700;line-height: 16px;">
                {{ ano }}
              </div>
            </div>
          </div>
          {% for evento in eventos %}
            <div style="padding: 8px;justify-content: flex-start;align-items: flex-start;gap: 10px;display: inline-flex;">
              <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                  <div style="color: #333238;font-size: 14px; line-height: 16px;">{{ evento.titulo }}</div>
                  <div style="color: #737278;font-size: 10px; font-weight: 400;line-height: 14px;">Detalhes: {{ evento.detalhes|striptags }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </ul>
{% endblock content %}
