#modal-right-wrapper {
  width: 400px !important;
}

#accordionExample .card {
  border: none;
  border-top: 1px solid rgba(0,0,0,.125);
  margin-top: 30px;
}
#accordionExample .card-header {
  background-color: #fff;
  padding:0px;
  border: 0px;
}
#accordionExample .card-header button {
  color: #333238;
  font-size: 18px;
  /*font-family: Open Sans;*/
  font-weight: 600;
  line-height: 22.50px;
  word-wrap: break-word;
  text-decoration: none;
}
.icon-panel-accordion-item {
  background-image: url('/static/main/img/pajamas-gitlab/accordion-item.svg');
  width: 24px;
  height: 24px;
  display: inline-block;
}
.accordion_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.50px;
  padding-top: 5px;
}
.icon-panel-info {
  background-image: url('/static/main/img/pajamas-gitlab/icon-info.svg');
  width: 16px;
  height: 17px;
  display: inline-block;
}
.icon-panel-chevron-lg-down {
  background-image: url('/static/main/img/pajamas-gitlab/chevron-lg-down.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon-panel-chevron-lg-up {
  background-image: url('/static/main/img/pajamas-gitlab/chevron-lg-up.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon-panel-chevron-lg-left {
  background-image: url('/static/main/img/pajamas-gitlab/chevron-lg-left.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon-panel-chevron-lg-right {
  background-image: url('/static/main/img/pajamas-gitlab/chevron-lg-right.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}
.indicador-painel-agroecossistema:after {
    font-weight: unset;
    content: "" !important;
    cursor: pointer;
    color: unset;
    padding-left: unset;
}
