.select2-container--open {
    z-index: 99999;
}

.select2-container {
    width: 100%!important;
}
.modal-right-body input[type="submit"] {
    display: none
}

.mudancas_eventos-editar-wrapper {
    background-color: transparent;
    border: none;
    border-right-width: medium;
    border-right-style: none;
    border-right-color: currentcolor;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #555;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    margin-right: 5px;
    margin-top: 5px;
}
