#breadcrumb-holder {
    display: none;
}
#aa_wizard_lista_agroecossistemas {
    max-height: 250px;
    overflow: auto;
    border: ridge aliceblue;
}
.sidebar-analiseagregada .list-group-item.active {
    background-color: #f3ad55;
    border-color: #ac7f4c;
}
.sidebar-analiseagregada .list-group-item.active:hover {
    background-color: #f3ad55;
    border-color: #ac7f4c;
}
.bg-formwizard {
  background-color: #673AB7 !important;
}
