{% extends "base.html" %}
{% load static %}
{% load vstatic %}
{% load i18n %}
{% load rules %}
{% load economica_tags %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block post_app %}
{% endblock %}

{% block content %}
    {% get_has_sub_abas as has_sub_abas %}
    {% get_ajuda as ajuda %}
    {% get_subsistema_id as subsistema_id %}
    {% has_perm 'permissao_padrao' user as permissao_padrao %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Editar Análise Econômica" %}
            {% if submodulo|slice:":10" == "subsistema" and subsistema_id %}
                {% get_subsistema as sub_object %}
                    <span class="badge badge-info">Subsistema '{{ sub_object.nome }}'</span>
            {% endif %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if permissao_padrao and subsistema_id == '' %}
                <a href="{% if car.sim_slug %}{% url 'agroecossistema:sim_update_terras' agroecossistema_id=agroecossistema.id ano_car=car.ano sim_slug=car.sim_slug %}{% else %}{{ car.get_subsistema_list_url }}{% endif %}" class="btn btn-sm btn-secondary mr-2">
                    {% trans 'Criar subsistema' %}
                </a>
            {% endif %}

            {% include "main/partials/ciclo_selector.html" %}

        </div>
    </div>

    <div class="row mt-0 mb-5">
        <div class="col-12">
            <form method="post" class="monitor-formchanges warn-changed-beforeunload{% if no_convert_numbers_to_float is None %} convert-numbers-to-float{% endif %}">
                {% csrf_token %}
                <div class="d-none">{{ form }}</div>
                <div class="row">
                    <div class="col-12">
                        <div class="nav_bar_titles_wrapper d-flex align-items-baseline">
                            <i class="fa fa-angle-left mr-2"></i>
                            <div class="nav_bar_titles flex-grow-1">
                                {% nav_tab_titles %}
                            </div>
                            <i class="fa fa-angle-right ml-2"></i>
                        </div>

                        <!-- Tab pane -->
                        <div class="tab-content mb-5">
                            <div class="tab-pane tab-pane-analise fade in active show">

                                {% box_de_ajuda %}

                                {% if form.non_field_errors %}
                                <div class="alert alert-danger mt-3">
                                    {{ form.non_field_errors }}
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-12">
                                        {% block analise_section_block %} {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form.media }}
            </form>
        </div>
    </div>
    <link href="{% static 'main/css/select2-bootstrap4.css' %}" type="text/css" media="screen" rel="stylesheet">
    <script>
        btnSave = '{% trans "Gravar e continuar" %}';
    </script>

{% endblock %}
