{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 8 as colspan %}

    {% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo extra_class="estoque_insumos_table" %}

    {{ estoque_insumos_formset.management_form }}

    {% for form in estoque_insumos_formset.forms %}
        {% if forloop.first %}
            <thead>
                {% if has_sub_abas %}
                    {% sub_nav_tab_titles %}
                {% endif %}
                <tr>
                    <th></th>
                    <th colspan="2">{% trans "Acumulados no Período Anterior" %}</th>
                    <th colspan="2">{% trans "Subsistemas" %}</th>
                    <th colspan="2">{% trans "Final do Período" %}</th>
                    <th></th>
                </tr>
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name != 'unidade' %}
                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                {{ field.label|capfirst }}
                            </th>
                        {% endif %}
                        {% if field.name == 'valor_unitario_inicio' %}
                            <th>
                                {% trans 'Produzidos' %}
                            </th>
                            <th>
                                {% trans 'Consumidos' %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% endif %}
        <tr class="formset_row estoque_insumos_formset">
            {% for field in form.visible_fields %}
                {% if field.name != 'unidade' %}
                    <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% if field.name == 'quantidade_inicio' %} td_qtde{% elif field.name == 'quantidade_final' %} td_qtde noToggleEditar{% endif %}">
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{ field }}{% if field.name == 'quantidade_final' %}<span class="unidade_postfix"></span>{% endif %}

                        {% if field.name == 'produto' %}
                            {% with unidade=form.visible_fields|get_form_field:'unidade' %}
                            <div id="soma_unidade_{{ forloop.parentloop.counter }}" class="{{ unidade|field_type }} mt-2">
                                {{ unidade.errors.as_ul }}
                                {{ unidade }}
                            </div>
                            {% endwith %}
                        {% elif field.name == 'valor_unitario_inicio' %}
                            <div id="valor_total_inicio_{{ forloop.parentloop.counter }}" data-field-row="valor_total_inicio" class="total decimalfield_direct mt-4">
                            </div>
                        {% elif field.name == 'valor_unitario_final' %}
                            <div id="valor_total_final_{{ forloop.parentloop.counter }}" data-field-row="valor_total_final" class="total decimalfield_direct mt-4">
                            </div>
                        {% endif %}
                    </td>
                    {% if field.name == 'valor_unitario_inicio' %}
                        <td class="decimalfield_direct">
                            <div id="qtde_insumos_produzidos_{{ forloop.parentloop.counter }}" class="qtde_insumos_produzidos">
                            </div>
                        </td>
                        <td class="decimalfield_direct">
                            <div id="qtde_insumos_consumidos_pp_{{ forloop.parentloop.counter }}" class="qtde_insumos_consumidos_pp">
                            </div>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{% trans "Total" %}</th>
        <th></th>
        <th class="decimalfield_direct">
            <div id="valor_total_inicio" data-field-total="valor_total_inicio">
            </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th class="decimalfield_direct">
            <div id="valor_total_final" data-field-total="valor_total_final">
            </div>
        </th>
        <th></th>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $("[id$='-quantidade_final']").attr('disabled', 'disabled');

    const totais_qtde_por_produto_por_unidade = {{ totais_qtde_por_produto_por_unidade_json|safe }};
    const fn_ei = function () {
        init_calc('.estoque_insumos_table', '[data-field-row=quantidade_inicio] input', '[data-field-row=valor_unitario_inicio] input', '[data-field-row=valor_total_inicio]', '[data-field-total=valor_total_inicio]');
        init_calc('.estoque_insumos_table', '[data-field-row=quantidade_final] input', '[data-field-row=valor_unitario_final] input', '[data-field-row=valor_total_final]', '[data-field-total=valor_total_final]');
    };
    const fn_ei_changeEvent = function () {
        $("[id$='-produto']").each(function(i, el) {
            const tdEl = $(el).parents('td');
            const trEl = $(el).parents('tr');
            const produto_id = $(el).val();
            const unidade_id = $(tdEl).find("[id$='-unidade']").val();
            const unidade = $(tdEl).find("[id$='-unidade'] option:selected").text();
            const qtde_insumos_produzidos_el = $(trEl).find(".qtde_insumos_produzidos");
            const qtde_insumos_consumidos_pp_el = $(trEl).find(".qtde_insumos_consumidos_pp");
            const quantidade_final_el = $(trEl).find("[id$='-quantidade_final']");
            const quantidade_inicio_el = $(trEl).find("[id$='-quantidade_inicio']");
            const quantidade_inicio = formatQtde($(quantidade_inicio_el).val(), 'toFloat');
            let quantidade_final = quantidade_inicio;
            let qtde_insumos_produzidos_str = '0';
            let qtde_insumos_consumidos_pp_str = '0';
            for (produto of totais_qtde_por_produto_por_unidade) {
                if (produto.produto_id == produto_id && produto.unidade_id == unidade_id) {
                    const qtde_insumos_produzidos = isNaN(parseFloat(produto.qtde_insumos_produzidos))
                        ? 0.0
                        : parseFloat(produto.qtde_insumos_produzidos);
                    const qtde_insumos_consumidos_pp = isNaN(parseFloat(produto.qtde_insumos_consumidos_pp))
                        ? 0.0
                        : parseFloat(produto.qtde_insumos_consumidos_pp);
                    quantidade_final = quantidade_inicio + qtde_insumos_produzidos - qtde_insumos_consumidos_pp;

                    qtde_insumos_produzidos_str = formatQtde(qtde_insumos_produzidos);
                    qtde_insumos_consumidos_pp_str = formatQtde(qtde_insumos_consumidos_pp);
                }
            }
            $(qtde_insumos_produzidos_el).text(qtde_insumos_produzidos_str);
            $(qtde_insumos_consumidos_pp_el).text(qtde_insumos_consumidos_pp_str);
            const quantidade_final_str = formatQtde(quantidade_final);
            $(quantidade_final_el).val(quantidade_final_str);
            $(trEl).find('.unidade_postfix').text(unidade);
            $(quantidade_final_el).css('width', (quantidade_final_str.length + 1) + 'ch');
            fn_ei();
        });
    };

    $('.estoque_insumos_formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'estoques_insumos',
        added: fn_ei_changeEvent,
        removed: fn_ei_changeEvent,
        dataTableId: '{{ submodulo_titulo|slugify }}'
    });

    onChangeHooks.push('fn_ei_changeEvent');
    calculosCallbacks.push('fn_ei_changeEvent');

</script>

{{ estoque_insumos_formset.media }}

{% endwith %}
{% endblock %}
