{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 4 as colspan %}

{% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo extra_class="pagamento_terceiros_table" %}

    {{ pagamento_terceiros_formset.management_form }}
    {% for form in pagamento_terceiros_formset.forms %}
        {% if forloop.first %}
            <thead>
                {% if has_sub_abas %}
                    {% sub_nav_tab_titles %}
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name != 'unidade' %}
                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                {{ field.label|capfirst }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% endif %}
        <tr class="formset_row pagamento_terceiros_formset">
            {% for field in form.visible_fields %}
                {% if field.name != 'unidade' %}
                    <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% td_qtde field=field.name %}">
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{ field }}

                        {% if field.name == 'servico' %}
                            {% with unidade=form.visible_fields|get_form_field:'unidade' %}
                            <div class="{{ unidade|field_type }} mt-2">
                                {{ unidade.errors.as_ul }}
                                {{ unidade }}
                            </div>
                            {% endwith %}
                        {% elif field.name == 'valor_unitario' %}
                            <div id="valor_total_{{ forloop.parentloop.counter }}" data-field-row="valor_total" class="total decimalfield_direct mt-4">
                            </div>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{% trans "Total" %}</th>
        <th></th>
        <th class="decimalfield_direct">
            <div id="valor_total" data-field-total="valor_total">
            </div>
        </th>
        <th></th>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var fn_pt = function () {
        init_calc('.pagamento_terceiros_table', '[data-field-row=quantidade] input', '[data-field-row=valor_unitario] input', '[data-field-row=valor_total]', '[data-field-total]');
    };

    $('.pagamento_terceiros_formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'pagamentos_terceiros',
        added: fn_pt,
        removed: fn_pt,
        dataTableId: '{{ submodulo_titulo|slugify }}'
    });

    calculosCallbacks.push('fn_pt');

</script>
    {{ pagamento_terceiros_formset.media }}

{% endwith %}
{% endblock %}
