{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load economica_tags %}
{% load l10n %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}
{% block includes %}
<script type="text/javascript" src="{% static 'main/js/Chart.js' %}"></script>
<script type="text/javascript" src="{% vstatic 'main/js/chartjs-utils.js' %}"></script>
<script type="text/javascript"
        src="{% static 'main/js/chartjs-plugin-datalabels.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'main/js/chart3.min.js' %}"></script>
<script src="{% vstatic 'main/js/chart3-utils.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script> -->
<script type="text/javascript">
  const totais = {{ totais_json|safe }};
  const totais_por_produto = {{ totais_por_produto_json|safe }};
  const totais_tempostrabalho = {{ totais_tempostrabalho_json|safe }};
  const agroecossistema_nome = '{{ agroecossistema.nsga }}';
  const subtitulo = '{{ car }}';
  const arquivo_pre = '{{ arquivo_pre }}'
  jQuery(document).ready(function() {
    $('[data-toggle="popover"]').popover();
  })
</script>
<script type="text/javascript"
        src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script type="text/javascript"
        src="{% vstatic 'economica/js/economica.js' %}"></script>
{% endblock %}
{% block post_app %}{% endblock %}
{% block content %}
    {% get_subsistema_id as subsistema_id %}
    {% get_ano_car as ano_car %}
    {% has_perm 'permissao_padrao' user as pode_alterar %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Relatório Econômico" %}
            {% include "main/partials/ajuda_btn.html" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_alterar %}
                <a href="{% first_submodule_url agroecossistema_id=agroecossistema.id ano_car=ano_car sim_slug=request.session.sim_slug submodulo=submodulo subsistema_id=subsistema_id %}"
                   class="btn btn-sm btn-secondary mr-2">{% trans "Coleta de dados" %}</a>
            {% endif %}
            {% include "main/partials/ciclo_selector.html" %}
        </div>
    </div>
    {% box_de_ajuda extra_class='mt-4' %}
    {% if totais %}
        <div class="row">
            <div class="col-md-12">
                <div class="nav_bar_titles_wrapper d-flex align-items-baseline">
                    <i class="fa fa-angle-left mr-2"></i>
                    <div class="nav_bar_titles flex-grow-1">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            {% for key in totais.RELATORIOS %}
                                <li class="nav-item">
                                    <a class="nav-link{% if forloop.first %} active{% endif %}"
                                       href="#{{ totais.RELATORIOS|get_item:key|get_item:'id' }}"
                                       role="tab"
                                       data-toggle="tab">{{ totais.RELATORIOS|get_item:key|get_item:'titulo' }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <i class="fa fa-angle-right mr-2"></i>
                </div>
                <div class="tab-content mb-5">
                    {% for key in totais.RELATORIOS %}
                        {% with totais.RELATORIOS|get_item:key|get_item:'id' as rId %}
                            {% with totais.RELATORIOS|get_item:key|get_item:'tipo_tab' as rTipoTab %}
                                {% with totais.RELATORIOS|get_item:key|get_item:'titulo' as rTitulo %}
                                    {% with totais.RELATORIOS|get_item:key|get_item:'titulo_tab' as rTituloTab %}
                                        {% with totais.RELATORIOS|get_item:key|get_item:'itens' as rItens %}
                                            <div role="tabpanel"
                                                 class="tab-pane fade in{% if forloop.first %} active show{% endif %}"
                                                 id="{{ rId }}">
                                                {% if rTitulo and rId != 'quadroSintese' %}
                                                    {% if rTipoTab == 'graficos' %}
                                                        <div class="mt-2 mb-4 text-right">
                                                            <button id="exportar-{{ rId }}"
                                                                    data-tab-id="{{ rId }}"
                                                                    class="exportar_todos_graficos btn btn-secondary btn-sm">
                                                                <i class="fa fa-download mr-1"></i> {% trans "Exportar todos" %} - "{{ rTituloTab }}"
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if rTipoTab %}
                                                    <div class="{{ rId }}_tab_wrapper">
                                                        {% for item in rItens %}
                                                            {% if rTipoTab == 'tabelas' %}
                                                                {% tabela_relatorio_wrapper totais=totais car=car titulo=item.titulo template_name=item.template vars=item.vars titulo_tab=rTituloTab arquivo_pre=arquivo_pre %}
                                                            {% elif rTipoTab == 'graficos' %}
                                                                {% item_lista_graficos totais=totais i=forloop.counter itens=rItens %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-sm-12 pt-5">
                                                            {% if rId == 'quadroSintese' %}
                                                                {% tabela_relatorio totais=totais titulo=rTitulo template_name=rId targetId=rId %}
                                                            {% elif rId == 'diagramaSintese' %}
                                                                {% tabela_relatorio totais=totais titulo=rTitulo template_name=rId targetId=rId agroecossistema_nome=agroecossistema.nsga car=car %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if rTipoTab == 'graficos' %}
                                                    <button id="exportar2-{{ rId }}"
                                                            data-tab-id="{{ rId }}"
                                                            class="exportar_todos_graficos btn btn-secondary mt-4">
                                                        <i class="fa fa-download mr-1"></i> {% trans "Exportar todos" %} - "{{ rTituloTab }}"
                                                    </button>
                                                {% endif %}
                                            </div>
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {% trans "Ainda não há dados para gerar os relatórios." %}
                    <button type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="i{% trans "Fechar aviso" %}">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <p class="mt-5">&nbsp;</p>
                <p class="mt-5">&nbsp;</p>
                <p class="mt-5"></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
