{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load economica_tags %}
{% load l10n %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}
{% block includes %}
<script type="text/javascript" src="{% static 'main/js/Chart.js' %}"></script>
<script type="text/javascript" src="{% vstatic 'main/js/chartjs-utils.js' %}"></script>
<script type="text/javascript"
        src="{% static 'main/js/chartjs-plugin-datalabels.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'main/js/chart3.min.js' %}"></script>
<script src="{% vstatic 'main/js/chart3-utils.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script> -->
<script type="text/javascript">
  const totais = {{ totais_json|safe }};
  const totais_por_produto = {{ totais_por_produto_json|safe }};
  const totais_tempostrabalho = {{ totais_tempostrabalho_json|safe }};
  const agroecossistema_nome = '{{ agroecossistema.nsga }}';
  const subtitulo = '{{ car }}';
  const arquivo_pre = '{{ arquivo_pre }}'
  jQuery(document).ready(function() {
    $('[data-toggle="popover"]').popover();
  })
</script>
<script type="text/javascript"
        src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script type="text/javascript"
        src="{% vstatic 'economica/js/economica.js' %}"></script>
{% endblock %}
{% block post_app %}{% endblock %}
{% get_subsistema_id as subsistema_id %}
{% get_ano_car as ano_car %}
{% has_perm 'permissao_padrao' user as pode_alterar %}
<div class="col-12" style="background-color:#F4F4F4;">
  <div class="row p-3" style="box-shadow: 0px -2px 0px #BFBFBF inset;">
    <div class="col-8" id="title_economica_carousel" style="
    color: #333238;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    ">
      titulo
    </div>
    <div class="col-4 text-right p-0">
      <a class="btn btn-sm btn-link" type="button" data-target="#carouselEconomicaGraficos" data-slide="prev">
        <span class="icon-panel-chevron-lg-left mt-1" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="btn btn-sm btn-link" type="button" data-target="#carouselEconomicaGraficos" data-slide="next">
        <span class="icon-panel-chevron-lg-right mt-1" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
{% if totais %}
<div class="col-12 p-0 mt-4">
  <div id="carouselEconomicaGraficos" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      {% for key in totais.RELATORIOS %}
      {% with totais.RELATORIOS|get_item:key|get_item:'id' as rId %}
      {% with totais.RELATORIOS|get_item:key|get_item:'tipo_tab' as rTipoTab %}
      {% with totais.RELATORIOS|get_item:key|get_item:'titulo' as rTitulo %}
      {% with totais.RELATORIOS|get_item:key|get_item:'titulo_tab' as rTituloTab %}
      {% with totais.RELATORIOS|get_item:key|get_item:'itens' as rItens %}
      {% if rTitulo and rId != 'quadroSintese' %}
      {% if rTipoTab == 'graficos' %}
      <!-- div class="mt-2 mb-4 text-right">
        <button id="exportar-{{ rId }}"
        data-tab-id="{{ rId }}"
        class="exportar_todos_graficos btn btn-secondary btn-sm">
        <i class="fa fa-download mr-1"></i> {% trans "Exportar todos" %} - "{{ rTituloTab }}"
        </button>
        </div -->
        {% endif %}
        {% endif %}
        {% if rTipoTab %}
        {% for item in rItens %}
        <div class="carousel-item"
             data-atributo-title-header="{{ rTituloTab }}">
          {% if rTipoTab == 'tabelas' %}
          {% tabela_relatorio_wrapper totais=totais car=car titulo=item.titulo template_name=item.template vars=item.vars titulo_tab=rTituloTab arquivo_pre=arquivo_pre %}
          {% elif rTipoTab == 'graficos' %}
          {% item_lista_graficos totais=totais i=forloop.counter itens=rItens cols=1.5 %}
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="carousel-item tab-pane{% if forloop.first %} active show{% endif %}"
             data-atributo-title-header="{{ rTituloTab }}">
          {% if rId == 'quadroSintese' %}
          {% tabela_relatorio totais=totais titulo=rTitulo template_name=rId targetId=rId %}
          {% elif rId == 'diagramaSintese' %}
          {% tabela_relatorio totais=totais titulo=rTitulo template_name=rId targetId=rId agroecossistema_nome=agroecossistema.nsga car=car %}
          {% endif %}
        </div>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row mt-5">
  <div class="col-12">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {% trans "Ainda não há dados para gerar os relatórios." %}
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-label="i{% trans "Fechar aviso" %}">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <p class="mt-5">&nbsp;</p>
    <p class="mt-5">&nbsp;</p>
    <p class="mt-5"></p>
  </div>
</div>
{% endif %}
<script>
  setTitleEconomicaCarousel($('#carouselEconomicaGraficos'));
</script>
