{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 7 as colspan %}
    {% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo extra_class="patrimonio_table" %}

        {{ patrimonio_formset.management_form }}

        {% for form in patrimonio_formset.forms %}
            {% if forloop.first %}
                <thead>
                    {% if has_sub_abas %}
                        {% sub_nav_tab_titles %}
                    {% endif %}
                <tr>
                    <th></th>
                    <th colspan="2">{% trans "Início do Período" %}</th>
                    <th colspan="2">{% trans "Fim do Período" %}</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name != 'unidade' %}
                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                {{ field.label|capfirst }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr class="formset_row patrimonio_formset">
                {% for field in form.visible_fields %}
                    {% if field.name != 'unidade' %}
                        <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% td_qtde field=field.name %}">
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}

                            {{ field.errors.as_ul }}
                            {{ field }}

                            {% if field.name == 'item' %}
                                {% with unidade=form.visible_fields|get_form_field:'unidade' %}
                                <div class="{{ unidade|field_type }} mt-2">
                                    {{ unidade.errors.as_ul }}
                                    {{ unidade }}
                                </div>
                                {% endwith %}
                            {% elif field.name == 'valor_unitario_inicio' %}
                                <div id="v_quantidade_inicio_{{ forloop.parentloop.counter }}" data-field-row="v_quantidade_inicio" class="total decimalfield_direct mt-4">
                                </div>
                            {% elif field.name == 'valor_unitario_final' %}
                                <div id="v_quantidade_final_{{ forloop.parentloop.counter }}" data-field-row="v_quantidade_final" class="total decimalfield_direct mt-4">
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>{% trans 'Totais' %}</th>
            <th></th>
            <th class="decimalfield_direct">
                <div id="valor_inicio" data-field-total="valor_inicio">
                </div>
            </th>
            <th></th>
            <th class="decimalfield_direct">
                <div id="valor_final" data-field-total="valor_final">
                </div>
            </th>
            <th colspan="2"></th>
        </tr>
        </tfoot>
    </table>
    <script type="text/javascript">

        var fn_rn = function () {
            jQuery('input[name$="tipo"]').val(window.location.href[window.location.href.length - 1]);
            init_calc('.patrimonio_table', '[data-field-row=valor_unitario_inicio] input', '[data-field-row=quantidade_inicio] input', '[data-field-row=v_quantidade_inicio]', '[data-field-total=valor_inicio]');
            init_calc('.patrimonio_table', '[data-field-row=valor_unitario_final] input', '[data-field-row=quantidade_final] input', '[data-field-row=v_quantidade_final]', '[data-field-total=valor_final]');
        };

        var added_fn = function (row) {
            fn_rn();
            row.find('input[name$="tipo"]').val(window.location.href[window.location.href.length - 1]);
        };


        $('.patrimonio_formset').formset({
            addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
            addCssClass: 'button-new btn btn-secondary',
            deleteText: '<i class="fas fa-trash-alt"></i>',
            deleteCssClass: 'btn btn-danger btn-xs button-delete',
            prefix: 'patrimonios',
            added: added_fn,
            removed: fn_rn,
            dataTableId: '{{ submodulo_titulo|slugify }}'
        });

        calculosCallbacks.push('fn_rn');
        onChangeHooks.push('copyFormValuesFromInitialToFinal');

    </script>
    {{ patrimonio_formset.media }}

{% endwith %}
{% endblock %}
