{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 5 as colspan %}
    {% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo extra_class="renda_nao_agricola_table" %}

        {{ renda_nao_agricola_formset.management_form }}

        {% for form in renda_nao_agricola_formset.forms %}
            {% if forloop.first %}
                <thead>
                    {% if has_sub_abas %}
                        {% sub_nav_tab_titles %}
                    {% endif %}
                    <tr>
                        {% for field in form.visible_fields %}
                            {% if field.name != 'unidade' %}
                                <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                    {{ field.label|capfirst }}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
            {% endif %}
                    <tr class="formset_row renda_nao_agricola_formset">
                        {% for field in form.visible_fields %}
                            {% if field.name != 'unidade' %}
                                <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% td_qtde field=field.name %}">
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}

                                    {{ field.errors.as_ul }}
                                    {{ field }}

                                    {% if field.name == 'item' %}
                                        {% with unidade=form.visible_fields|get_form_field:'unidade' %}
                                        <div class="{{ unidade|field_type }} mt-2">
                                            {{ unidade.errors.as_ul }}
                                            {{ unidade }}
                                        </div>
                                        {% endwith %}
                                    {% elif field.name == 'valor_unitario' %}
                                        <div id="valor_total_{{ forloop.parentloop.counter }}" data-field-row="valor_total" class="total decimalfield_direct mt-4">
                                        </div>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{% trans "Total" %}</th>
                    <th></th>
                    <th class="decimalfield_direct">
                        <div id="valor_total" data-field-total="valor_total">
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
    </table>
    <script type="text/javascript">

        var fn_rn = function () {
            init_calc('.renda_nao_agricola_table', '[data-field-row=quantidade] input', '[data-field-row=valor_unitario] input', '[data-field-row=valor_total]', '[data-field-total]');
            jQuery('input[name$="tipo"]').val(window.location.href[window.location.href.length - 1]);
        };

        var added_fn = function (row) {
            fn_rn();
            row.find('input[name$="tipo"]').val(window.location.href[window.location.href.length - 1]);
        };

        calculosCallbacks.push('fn_rn');

        $('.renda_nao_agricola_formset').formset({
            addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
            addCssClass: 'button-new btn btn-secondary',
            deleteText: '<i class="fas fa-trash-alt"></i>',
            deleteCssClass: 'btn btn-danger btn-xs button-delete',
            prefix: 'rendas_nao_agricolas',
            added: added_fn,
            removed: fn_rn,
            dataTableId: '{{ submodulo_titulo|slugify }}'
        });


    </script>
    {{ renda_nao_agricola_formset.media }}

{% endwith %}
{% endblock %}
