{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
<div class="alert alert-info mt-3 col-sm-12 col-md-10 col-lg-6 offset-sm-0 offset-md-1 offset-lg-3">
    <p>
        {% trans 'O agroecossistema ainda não tem nenhum subsistema cadastrado para o ciclo atual. Crie um ou mais subsistemas para poder editar dados da análise específicos a cada subsistema.' %}
    </p>
    <div class="d-flex justify-content-end mt-4">
        <a href='{{ car.get_subsistema_list_url }}' class='btn btn-primary'>{% trans 'Criar subsistema(s)' %}</a>
    </div>
</div>

{% endblock %}
