{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 21 as colspan %}

{% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo hasSubsistemaSelector=True extra_class="subsistema_producao_table" %}

    {% for form in subsistema_producao_formset.forms %}
        {% if forloop.first %}
            <thead class="tabelaPeq">
                {% if has_sub_abas %}
                    {% sub_nav_tab_titles %}
                {% endif %}
                <tr>
                    <th class="border-0"></th>
                    <th colspan="2">{% trans 'Venda Convencional' %}</th>
                    <th colspan="2">{% trans 'Venda Territorial' %}</th>
                    <th colspan="2">{% trans 'Venda Institucional' %}</th>
                    <th colspan="2">{% trans 'Autoconsumo' %}</th>
                    <th colspan="2">{% trans 'Doações' %}</th>
                    <th colspan="2">{% trans 'Estoque' %}</th>
                    <th colspan="2" class="subsistemaProducaoSubtotais">{% trans 'Subtotal' %}</th>
                    <th colspan="2">{% trans 'Insumos gerados' %}</th>
                    <th colspan="2" class="subsistemaProducaoSubtotais">{% trans 'Total' %}</th>
                    <th class="border-0"></th>
                    <th class="border-0 datatable-export-disabled"></th>
                </tr>
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name not in 'unidade' %}
                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                {{ field.label|capfirst }}
                                {% if forloop.first %}
                                    {{ subsistema_producao_formset.management_form }}
                                {% endif %}
                            </th>
                        {% endif %}

                        {% if field.name in 'valor_estoque,valor_insumos_produzidos' %}
                            <th class="subsistemaProducaoSubtotais">{% trans "Qtde" %}</th>
                            <th class="subsistemaProducaoSubtotais">{% trans "Total" %}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="tabelaPeq">
        {% endif %}
        <tr class="formset_row producao_formset">
            {% for field in form.visible_fields %}
                {% if field.name not in 'unidade' %}
                <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% td_qtde field=field.name %}">
                    <div class="d-flex flex-column justify-content-start align-items-left">
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                    {% if field.name == 'produto' %}
                        {% with unidade=form.visible_fields|get_form_field:'unidade' %}
                        <div class="{{ unidade|field_type }} mt-2">
                            {{ unidade.errors.as_ul }}
                            {{ unidade }}
                        </div>
                        {% endwith %}
                    {% elif field.name in 'valor_venda_convencional, valor_venda_territorial, valor_venda_institucional, valor_autoconsumo, valor_doacoes_trocas, valor_estoque, valor_insumos_produzidos' %}
                        <div id="v_{{ field.name }}_{{ forloop.parentloop.counter }}" data-field-row="v_{{ field.name }}" class="total decimalfield_direct mt-4">
                        </div>
                    {% endif %}
                    </div>
                </td>
                {% endif %}
                {% if field.name == 'valor_estoque' %}
                    <td class="decimalfield_direct subsistemaProducaoSubtotais td_qtde">
                        <div id="quantidade_produtos_total_{{ forloop.parentloop.counter }}" data-field-row="quantidade_produtos_total">
                        </div>
                    </td>
                    <td class="decimalfield_direct subsistemaProducaoSubtotais">
                        <div id="v_valor_produtos_total_{{ forloop.parentloop.counter }}" data-field-row="v_valor_produtos_total">
                        </div>
                    </td>
                {% endif %}
                {% if field.name == 'valor_insumos_produzidos' %}
                    <td class="decimalfield_direct subsistemaProducaoSubtotais td_qtde">
                        <div id="quantidade_produtos_insumos_total_{{ forloop.parentloop.counter }}" data-field-row="quantidade_produtos_insumos_total">
                        </div>
                    </td>
                    <td class="decimalfield_direct subsistemaProducaoSubtotais">
                        <div id="v_valor_produtos_insumos_total_{{ forloop.parentloop.counter }}" data-field-row="v_valor_produtos_insumos_total">
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>

    {% endfor %}
    </tbody>
    <tfoot class="tabelaPeq">
        <tr>
            <th>{% trans 'Totais' %}</th>
            <th></th>
            <th class="decimalfield_direct">
                <div id="v_valor_venda_convencional" data-field-total="v_valor_venda_convencional">
                </div>
            </th>
            <th></th>
            <th class="decimalfield_direct">
                <div id="v_valor_venda_territorial" data-field-total="v_valor_venda_territorial">
                </div>
            </th>
            <th></th>
            <th id="v_valor_venda_institucional" data-field-total="v_valor_venda_institucional" class="decimalfield_direct"></th>
            <th></th>
            <th id="v_valor_autoconsumo" data-field-total="v_valor_autoconsumo" class="decimalfield_direct"></th>
            <th></th>
            <th id="v_valor_doacoes_trocas" data-field-total="v_valor_doacoes_trocas" class="decimalfield_direct"></th>
            <th></th>
            <th id="v_valor_estoque" data-field-total="v_valor_estoque" class="decimalfield_direct"></th>
            <th></th>
            <th id="v_valor_produtos_total" data-field-total="v_valor_produtos_total" class="decimalfield_direct subsistemaProducaoSubtotais"></th>
            <th></th>
            <th id="v_valor_insumos_produzidos" data-field-total="v_valor_insumos_produzidos" class="decimalfield_direct"></th>
            <th></th>
            <th id="v_valor_produtos_insumos_total" data-field-total="v_valor_produtos_insumos_total" class="decimalfield_direct subsistemaProducaoSubtotais"></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script>
    // const formTemplate = $('.formTemplate').clone();
    // cleanValues(formTemplate);
    $('.producao_formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'producoes',
        dataTableId: '{{ submodulo_titulo|slugify }}'
        // formTemplate: formTemplate
        //added: fn_rn,
        //removed: fn_rn
    });

    function executa_calculos() {
        // lista_colunas, valor_origem_name, out_quantidade_field, out_valor_field
        var params = [
            {
                lista_colunas: ['quantidade_venda_convencional'],
                valor_origem_name: 'valor_venda_convencional',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_venda_convencional',
            },
            {
                lista_colunas: ['quantidade_venda_territorial'],
                valor_origem_name: 'valor_venda_territorial',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_venda_territorial',
            },
            {
                lista_colunas: ['quantidade_venda_institucional'],
                valor_origem_name: 'valor_venda_institucional',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_venda_institucional',
            },
            {
                lista_colunas: ['quantidade_autoconsumo'],
                valor_origem_name: 'valor_autoconsumo',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_autoconsumo',
            },
            {
                lista_colunas: ['quantidade_doacoes_trocas'],
                valor_origem_name: 'valor_doacoes_trocas',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_doacoes_trocas',
            },
            {
                lista_colunas: ['quantidade_estoque'],
                valor_origem_name: 'valor_estoque',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_estoque',
            },
            {
                lista_colunas: ['quantidade_insumos_produzidos'],
                valor_origem_name: 'valor_insumos_produzidos',
                out_quantidade_field: null,
                out_valor_field: 'v_valor_insumos_produzidos',
            },
            {
                lista_colunas: ['v_valor_venda_convencional', 'v_valor_venda_territorial', 'v_valor_venda_institucional', 'v_valor_autoconsumo', 'v_valor_doacoes_trocas', 'v_valor_estoque'],
                valor_origem_name: null,
                out_quantidade_field: null,
                out_valor_field: 'v_valor_produtos_total'
            },
            {
                lista_colunas: ['quantidade_venda_convencional', 'quantidade_venda_territorial', 'quantidade_venda_institucional', 'quantidade_autoconsumo', 'quantidade_doacoes_trocas', 'quantidade_estoque'],
                valor_origem_name: null,
                out_quantidade_field: null,
                out_valor_field: 'quantidade_produtos_total'
            },
            {
                lista_colunas: ['v_valor_venda_convencional', 'v_valor_venda_territorial', 'v_valor_venda_institucional', 'v_valor_autoconsumo', 'v_valor_doacoes_trocas', 'v_valor_estoque', 'v_valor_insumos_produzidos'],
                valor_origem_name: null,
                out_quantidade_field: null,
                out_valor_field: 'v_valor_produtos_insumos_total'
            },
            {
                lista_colunas: ['quantidade_venda_convencional', 'quantidade_venda_territorial', 'quantidade_venda_institucional', 'quantidade_autoconsumo', 'quantidade_doacoes_trocas', 'quantidade_estoque', 'quantidade_insumos_produzidos'],
                valor_origem_name: null,
                out_quantidade_field: null,
                out_valor_field: 'quantidade_produtos_insumos_total'
            }
        ];
        soma_colunas_bulk('#{{ submodulo_titulo|slugify }}', params, '.dataTables_scrollFoot table');
    }

    calculosCallbacks.push('executa_calculos');
    onChangeHooks.push('executa_calculos');

        // $('.toggleEditar').on('click', function(e) {
        //     $('#{{ submodulo_titulo|slugify }}').parent().animate({scrollLeft: 0});
        // });
</script>
{{ subsistema_producao_formset.media }}

{% endwith %}
{% endblock %}
