{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load economica_tags %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    {% has_perm 'permissao_padrao' user as pode_cadastrar_subsistema %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Subsistemas" %}
            {% include "main/partials/ajuda_btn.html" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% include "main/partials/ciclo_selector.html" %}
        </div>
    </div>

    {% box_de_ajuda extra_class='mt-3' %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger mt-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="row mt-3">
            <div class="col-sm-12">
                <form method="post" class="monitor-formchanges warn-changed-beforeunload convert-numbers-to-float">
                    {% csrf_token %}

                    {% tabela editavel=True fitToPage=True tableId="lista_subsistemas" colspan=form.visible_fields|length tableTitle="Subsistemas" %}

                        {{ subsistemas_formset.management_form }}

                        {% for form in subsistemas_formset.forms %}
                            {% if forloop.first %}
                                <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                            {% endif %}
                            <tr class="formset_row subsistema_formset">
                                {% for field in form.visible_fields %}
                                    <td class="{{ field|field_type }}">
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>{% trans 'Área total' %}</th>
                                <th class="decimalfield_direct" data-field-total="area"></th>
                                <th colspan="6"></th>
                            </tr>
                        </tfoot>
                    </table>
                    {{ form.media }}
                    {{ subsistemas_formset.media }}
                </form>
            </div>
        </div>
    {% else %}
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <div class="alert alert-info">
                    <h5>
                        {% trans 'Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar.' %}
                    </h5>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        function executa_calculos() {
            var params = [
                {
                    lista_colunas: ['area'],
                    valor_origem_name: null,
                    out_quantidade_field: null,
                    out_valor_field: '',
                    sum_columns: true
                }
            ];
            soma_colunas_bulk('#lista_subsistemas', params, '.dataTables_scrollFoot table');
        }

        calculosCallbacks.push('executa_calculos');
        onChangeHooks.push('executa_calculos');

        $('.subsistema_formset').formset({
            addText: '<i class="fas fa-plus mr-2"></i>Adicionar subsistema',
            addCssClass: 'button-new btn btn-secondary',
            deleteText: '<i class="fas fa-trash-alt"></i>',
            deleteCssClass: 'btn btn-danger btn-xs button-delete',
            prefix: 'subsistemas',
            dataTableId: 'lista_subsistemas'
        });
        $('.dynamic-form-add').appendTo($('.button-new').parents('table').find('tfoot'));
    </script>

{% endblock %}
