{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load economica_tags %}
{% load widget_tweaks %}

{% block analise_section_block %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    {% with formset.visible_fields|length as colspan %}

    {% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo hasSubsistemaSelector=True %}

        {{ subsistema_tempo_trabalho_formset.management_form }}

        {% for formset in subsistema_tempo_trabalho_formset.forms %}
            {% if forloop.first %}
                <thead>
                    {% if has_sub_abas %}
                        {% sub_nav_tab_titles %}
                    {% endif %}
                    <tr>
                        {% for field in formset.visible_fields %}
                            <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                {{ field.label|capfirst }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
            {% endif %}
                    <tr class="formset_row subsistema_tempo_trabalho_formset">
                        {% for field in formset.visible_fields %}
                            <td data-field-row="{{ field.name }}" class="{{ field|field_type }}{% td_qtde field=field.name ref='horas' %}">
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in formset.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>{% trans 'Total no subsistema' %}</th>
                        <th data-field-total="v_qtde_horas" class="decimalfield_direct td_qtde"></th>
                        <th></th>
                    </tr>
                </tfoot>
    </table>
    <script type="text/javascript">
        $('.subsistema_tempo_trabalho_formset').formset({
            addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
            addCssClass: 'button-new btn btn-secondary',
            deleteText: '<i class="fas fa-trash-alt"></i>',
            deleteCssClass: 'btn btn-danger btn-xs button-delete',
            prefix: 'subsistema_tempos_de_trabalho',
            dataTableId: '{{ submodulo_titulo|slugify }}'
        });

        var fn_rn = function () {
            init_calc('.tabelaEditavel', '[data-field-row=horas] input', '', '', '[data-field-total=v_qtde_horas]');
        };

        var added_fn = function (row) {
            fn_rn();
        };

        calculosCallbacks.push('fn_rn');
    </script>
    {{ subsistema_tempo_trabalho_formset.media }}

    {% endwith %}
{% endblock %}
