{% extends "economica/analise_nav_tabs.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load economica_tags %}

{% block analise_section_block %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% with 7 as colspan %}
    {% tabela editavel=True fitToPage=True tableId=submodulo_titulo|slugify colspan=colspan tableTitle=submodulo_titulo %}

    {{ tempo_trabalho_formset.management_form }}

    {% for form in tempo_trabalho_formset.forms %}
        {% if forloop.first %}
            <thead>
                {% if has_sub_abas %}
                    {% sub_nav_tab_titles %}
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                            {{ field.label|capfirst }}
                        </th>
                        {% if field.name == 'horas_pluriatividade' %}
                            <th>
                                {% trans 'Mercantil e autoconsumo' %}
                            </th>
                            <th class="subsistemaProducaoSubtotais">
                                {% trans 'Total' %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% endif %}
        <tr class="formset_row tempo_trabalho_formset">
            {% for field in form.visible_fields %}
                <td data-field-row="{{ field.name }}" class="td_qtde">
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            <div class="datatable-export-disabled">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            </div>
                        {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% if field.name == 'horas_pluriatividade' %}
                    <td class="decimalfield_direct td_qtde">
                        <div id="horas_mercantil_{{ forloop.parentloop.counter }}" data-field-row="horas_mercantil">
                        </div>
                    </td>
                    <td class="decimalfield_direct subsistemaProducaoSubtotais td_qtde">
                        <div id="horas_pessoa__{{ forloop.parentloop.counter }}" data-field-row="horas_pessoa">
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% trans 'Totais' %}</th>
            <th class="decimalfield_direct td_qtde">
                <div id="horas_domestico_cuidados" data-field-total="horas_domestico_cuidados">
                </div>
            </th>
            <th class="decimalfield_direct td_qtde">
                <div id="horas_participacao_social" data-field-total="horas_participacao_social">
                </div>
            </th>
            <th class="decimalfield_direct td_qtde">
                <div id="horas_pluriatividade" data-field-total="horas_pluriatividade">
                </div>
            </th>
            <th class="decimalfield_direct td_qtde">
                <div id="horas_mercantil" data-field-total="horas_mercantil">
                </div>
            </th>
            <th class="decimalfield_direct td_qtde">
                <div id="horas_pessoa" data-field-total="horas_pessoa">
                </div>
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $('.tempo_trabalho_formset').formset({
      addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'tempos_de_trabalho',
        dataTableId: '{{ submodulo_titulo|slugify }}'
    });
    const horas_trabalho_por_pessoa = {% if horas_trabalho_por_pessoa %}{{ horas_trabalho_por_pessoa|safe }}{% else %}[]{% endif %}
    const composicoes_nsga = {{ composicoes_nsga|safe }}

    function update_horas_mercantil() {
        $('#{{ submodulo_titulo|slugify }} tbody tr').each(function (i, el) {
            const composicao_nsga_id = $(el).find('[data-field-row=composicao_nsga] select').val();
            let horas_mercantil_str = '';
            for (composicao_nsga of composicoes_nsga) {
                if (composicao_nsga.pk == composicao_nsga_id) {
                    for (horas of horas_trabalho_por_pessoa) {
                        if (composicao_nsga.fields.pessoa == horas.fields.pessoa) {
                            horas_mercantil_str = formatQtde(parseFloat(horas.fields.horas_mercantil));
                            break;
                        }
                    }
                    break;
                }
            }
            $(el).find('[data-field-row=horas_mercantil]').text(horas_mercantil_str);
        });
    }

    function executa_calculos() {
        update_horas_mercantil();
        // lista_colunas, valor_origem_name, out_quantidade_field, out_valor_field
        var params = [
            {
                lista_colunas: ['horas_domestico_cuidados', 'horas_participacao_social', 'horas_pluriatividade', 'horas_mercantil'],
                valor_origem_name: null,
                out_quantidade_field: null,
                out_valor_field: 'horas_pessoa',
                sum_columns: true
            }
        ];
        soma_colunas_bulk('#{{ submodulo_titulo|slugify }}', params, '.dataTables_scrollFoot table');
    }

    calculosCallbacks.push('executa_calculos');
    onChangeHooks.push('executa_calculos');
</script>

{% endwith %}
{% endblock %}
