{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load vstatic %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}
{% load anexos %}
{% load anexos_tags %}

{% block includes %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <link rel="stylesheet" href="{% vstatic 'anexos/css/anexos.css' %}">
    <script type="text/javascript" src="{% vstatic 'anexos/js/anexos.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div id="maskArmengue" ondragover = "armengue(event)"></div>

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {{ titulo }}
            {% if isPasta %}
                <small class="qtdeAnexos">
                    ({% if anexos.soltos|length == 1 %}1 {{ anexosSingular }}{%else%}{{ anexos.soltos|length }} {{ anexosPlural }}{% endif %})
                </small>
            {% else %}
                <small class="text-muted ml-2">
                    ({% trans 'arraste para mudar pasta' %})
                </small>
            {% endif %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if modo == 'lista' %}
                <a
                    id="btnGrade"
                    class="btn btn-secondary btn-sm btn-toggle-modo mr-2"
                    href="{{ anexosUrlList }}?modo=galeria"
                >
                    <i class="fas fa-image mr-1"></i>
                    {% trans "Galeria" %}
                </a>
            {% else %}
                <a
                    id="btnLista"
                    class="btn btn-secondary btn-sm btn-toggle-modo mr-2"
                    href="{{ anexosUrlList }}?modo=lista"
                >
                    <i class="fas fa-list mr-1"></i>
                    {% trans "Lista" %}
                </a>
            {% endif %}
            <button
                id="btn-criar"
                class="btn btn-primary btn-sm modal-right-open"
            >
                <i class="fas fa-plus mr-1"></i>
                {% trans "Novo anexo" %}
            </button>
            {% if related_id %}
                <a
                    id="btnVoltar"
                    class="btn btn-primary btn-sm ml-2"
                    href="{{ relatedUrl }}"
                >
                    <i class="fas fa-arrow-left mr-1"></i>
                    {% trans "Voltar" %}
                </a>
            {% endif %}
        </div>
    </div>

    {% if modo == 'lista' %}
        {% anexosModoLista agroecossistema=agroecossistema anexos=anexos isPasta=isPasta titulo=titulo anexosSingular=anexosSingular anexosPlural=anexosPlural related_id=related_id %}
    {% else %}
        {% anexosModoGrade agroecossistema=agroecossistema anexos=anexos isPasta=isPasta anexosSingular=anexosSingular anexosPlural=anexosPlural %}
    {% endif %}

    <div
        id="anexoModal"
        class="modal fade bd-example-modal-lg"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>


    {% if 1 == 2 %}
        <div class="col-md-12 mt-2">
            <div class="alert alert-dark">
                <h5>
                    Não há {{ anexosPlural }}
                </h5>
            </div>
        </div>
    {% endif %}

{% else %}
    <script>
        window.location='/';
    </script>
{% endif %}

{% endblock %}

{% block modal_right_form_tag %}
    {% if form %}
        <form method="post" class="h-100 form-vertical" enctype="multipart/form-data">
    {% endif %}
{% endblock %}

{% block modal_right_title %}
    <h3 id="modal-right-title" class="mb-2" data-title_criar="{% trans 'Novo anexo' %}" data-title_editar="{% trans 'Editar anexo' %}">{% trans 'Novo anexo' %}</h3>
{% endblock %}

{% block modal_right_body %}
    <div>
        {% csrf_token %}
        <div id="id_arquivo_img">
            <div class="img-thumb"></div>
            <div class="img-label"></div>
            <button class="btn btn-sm btn-secondary">{% trans 'Trocar arquivo' %}</button>
        </div>
        {{ form|crispy }}
        <input type="hidden" id="id_update_pk" name="update_pk" value="">
    </div>
{% endblock %}
