{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load anexos %}

{% block content %}
<h3>
    {% if submodulo == 'update' %}
        {{ titulo }}: <strong>{{ object.nome }}</strong>
    {% else %}
        {{ titulo }}
    {% endif %}
</h3>

<div class="row mt-5">
    <div class="col-md-12">
        {% crispy form %}
    </div>
</div>

{% endblock %}
