{% extends "base.html" %}
{% load static %}
{% load anexos %}
{% block content %}
    <p><a class="btn btn-primary btn-sm" href="{% url 'anexorecipiente_list' related_type=related_type related_id=related_id %}">
        {% trans "Anexo" %}</a></p>
    <table class="table">
        <tr>
          <td>{% trans "anexo" %}</td>
            <td>{{ object.recipiente_object_id }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans "Editar anexo" %}</a>

{% endblock %}
