{% extends "base.html" %}
{% load vstatic %}
{% load i18n %}
{% load rules %}
{% load anexos %}
{% block includes %}
    <link rel="stylesheet" href="{% vstatic 'anexos/css/anexos.css' %}">
    <style>
      .anexo-image {
        height: unset;
      }
    </style>
{% endblock %}
{% block breadcrumb_bar %}{% endblock %}
{% block content %}
    {% has_perm 'permissao_padrao' user as pode_alterar %}
    <div class="row mt-4 text-left">
        <div class="col-lg-3 col-md-4 col-12">
            <figure class="figure w-100">
                <div class="thumbnail">{{ object.thumbnail_tag|safe }}</div>
            </figure>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <h3>
                <a href="{{ object.arquivo.url }}" target="_blank">{{ object.nome }}</a>
            </h3>
            <!--h5>Tipo: {{ object.tipo.nome }}</h5 -->
            <p>{{ object.descricao|linebreaks }}</p>
        </div>
    </div>
    {% if pode_alterar %}
        <div class="row mb-5 mt-4">
            <div class="col-sm-12">
                <a class="btn btn-primary mt-2"
                   href="{% url 'anexos:anexo_update' agroecossistema_id=agroecossistema.id pk=object.id %}"><i class="fas fa-pen mr-1"></i> {% trans 'Editar' %}</a>
            </div>
        </div>
    {% endif %}
    {# <hr>
    <h3>Objetos associados:</h3>
    <ul>
        {% for anexorecipiente in object.recipientes.all %}
            <li>
                {{anexorecipiente.recipiente}}
                <a href="{% url 'anexos:anexorecipiente_list' related_type=anexorecipiente.recipiente_content_type_id related_id=anexorecipiente.recipiente_object_id %}">{{ anexorecipiente.recipiente|get_class }}: {{ anexorecipiente.recipiente }}</a>
            </li>
        {% endfor %}
</ul> #}
{% endblock %}
