{% extends "base.html" %}
{% load vstatic %}
{% load i18n %}
{% load anexos %}

{% block includes %}
    <link rel="stylesheet" href="{% vstatic 'anexos/css/anexos.css' %}">
    <script type="text/javascript" src="{% vstatic 'anexos/js/anexos.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3>{% trans "Anexos" %} - {{ related_object|get_class|lower }} <i>{{ related_object }}</i> <a class="btn btn-success btn-sm"
       href="{% url 'anexos:anexorecipiente_create' related_type=related_type related_id=related_id %}">
    <i class="fas fa-plus"></i> {% trans "Novo anexo" %}</a></h3>
    <div class="row text-center text-lg-left">
        {% if object_list|length > 0 %}
        {% for object in object_list %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 arquivo">
                <figure class="figure w-100">
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="caption-apagar" data-url="{{ object.anexo.get_delete_ajax_url }}" data-filename="{{ object.anexo.nome }}"><i class="fas fa-trash"></i></p>
                            <p class="caption-descricao">{{ object.anexo.descricao }}</p>
                            <p><a href="{{ object.anexo.get_absolute_url }}" class="btn btn-info btn-xs">{% trans "Detalhes" %}</a> <a href="{{ object.anexo.arquivo.url }}" class="btn btn-light btn-xs" target="_blank">{% trans "Baixar" %}</a></p>
                        </div>
                        {{ object.anexo.thumbnail_tag|safe }}
                    </div>
                    <figcaption class="figure-caption">{{ object.anexo.nome }}</figcaption>
                </figure>

            </div>
        {% endfor %}
        {% else %}
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há anexos. Seja a/o primeira/o a anexar um arquivo" %}<a href="{% url 'anexos:anexorecipiente_create' related_type=related_type related_id=related_id %}">{% trans "anexar um arquivo" %}</a>.</h5>
                </div>
            </div>
        {% endif %}
    </div>

    <a class="btn btn-primary" href="{{ related_object.get_absolute_url }}">
      <i class="fas fa-arrow-left"></i> {% blocktrans %}Voltar a <i>{{ related_object }}{% endblocktrans %}</i></a>

{% else %}
<script>
window.location='/';
</script>
{% endif %}
{% endblock %}
