{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load anexos_tags %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
{% has_perm 'permissao_padrao' user as pode_cadastrar_pasta %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}

{% if form.non_field_errors %}
<div class="alert alert-danger mt-3">
    {{ form.non_field_errors }}
</div>
{% endif %}

{% if user.is_authenticated %}
    <div class="row mb-5">
        <div class="col-sm-12">
            <form method="post" class="monitor-formchanges warn-changed-beforeunload">
                {% csrf_token %}
                <div class="d-none">{{ form|crispy }}</div>

                {% tabela editavel=True fitToPage=True tableId="lista_pastas" colspan=2 tableTitle="Lista de pastas" %}

                    {{ pastas_formset.management_form }}

                    {% for form in pastas_formset.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>{{ field.label|capfirst }}</th>
                                        {% if forloop.first %}
                                            <th>
                                                {% trans 'Anexos' %}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {{ form.media }}
                        {% endif %}
                        <tr class="formset_row pastas_formset">
                            {% for field in form.visible_fields %}
                                <td class="{{ field|field_type }}">
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                                {% if forloop.first %}
                                    <td>
                                        {% get_count_anexos_from_form form=form %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                {% trans 'Total em pastas' %} / {% trans 'Total no agroecossistema' %}
                            </th>
                            <th>
                                {% get_count_total_anexos_from_form forms=pastas_formset.forms %} / {% get_count_anexos agroecossistema_id=agroecossistema.id %}
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                {{ form.media }}
                {{ pastas_formset.media }}
            </form>
        </div>
    </div>
{% else %}
    <div class="row mt-3">
        <div class="col-md-12 mt-2">
            <div class="alert alert-info">
                <h5>
                    {% trans 'Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar.' %}
                </h5>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $('.pastas_formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>Cadastrar pasta',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'pastas',
        dataTableId: 'lista_pastas'
    });
</script>


{% endblock %}
