{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}

{% block content %}
<h3>{% trans "Modelo de análise qualitativa" %} <a href="{% url 'analise_template_list' %}" class="btn btn-secondary btn-sm"><i class="fas fa-eye mr-1"></i> {% trans "Ver lista de modelos de análises qualitativas" %}</a>
    </h3>
    <dl class="row mt-4">
      <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Unidade" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.nome }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Criada em" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.criacao }}</dd>
    </dl>
    {% if pode_alterar %}
        <div class="row mb-5">
            <div class="col-sm-12">
                <a class="btn btn-primary mt-2" href="{{ object.get_update_url }}"><i class="fas fa-pen mr-1"></i> {% trans 'Editar' %}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
