{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% load formset_tags %}
{% load crispy_forms_tags %}

{% block content %}
<p><a class="btn btn-primary btn-sm" href="{% url 'analise_template_list' %}">{% trans "Lista de Modelos de análises qualitativas" %}</a></p>
<h3>{{ titulo }}</h3>

<form class="form-horizontal" id="form-analise_template" method="post" >
    {% csrf_token %}
    {{ form|crispy }}

    <div class="form-group">
        <input type="button" name="btn_back" onclick="history.back();" value="Voltar" class="btn btn-primary">
        <input type="submit" name="btn_submit" value="Continuar" class="btn btn-success" id="submit-id-btn_submit">
    </div>
</form>
{% endblock %}

{% block includes %}
<style>
.block-extra-forms .item div {
  margin-right: 10px !important;
}
form .select2-container--default.select2-container--focus .select2-selection--multiple,
form .select2-container--default .select2-selection--multiple {
  line-height: 1.2 !important;
  display: inline-table !important;
}
</style>

{{ block.super }}
{{ form.media }}
{% endblock %}
