{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}

{% block content %}
    {# has_perm 'permissao_padrao' user as pode_cadastrar_unidade #}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Modelos de análises qualitativas" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {# if pode_cadastrar_unidade #}
            <a class="btn btn-primary btn-sm" href="{% url 'analise_template_create' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Novo modelo de análise qualitativa" %}
            </a>
            {# endif #}
        </div>
    </div>

    {% if user.is_authenticated %}
    {% if object_list|length > 0 %}
    <div class="row mt-3">
        <div class="col-sm-12">
            <table
                {% tabela_class tableId='lista_modelo_analise_qualitativa' sticky=False fitToPage=True editavel=False searchable=True orderable=True searchIsTitle=True extra='no-sort-on-start' %}
                id="lista_modelo_analise_qualitativa"
                datatable-title="Lista de modelos de análises qualitativas"
                datatable-filename="lista_modelo_analise_qualitativa"
            >
                <thead>
                    {% tabela_cabecalho colspan="4" tableTitle='Modelos de análises qualitativas' targetId='lista_modelo_analise_qualitativa' editavel=False %}
                    <tr>
                        <th>{% trans "Modelo" %}</th>
                        <th>{% trans "Organizações" %}</th>
                        <th>{% trans "Descrição" %}</th>
                        <th>{% trans "Criada em" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{{ object.get_update_url }}">{{ object }}</a></td>
                        <td>
                            {% if object.eh_template_global %}
                                Modelo global
                            {% else %}
                                {% for obj_organizacao in object.organizacoes.all %}
                                    <span class="badge badge-secondary">{{ obj_organizacao }}</span>
                                {% empty %}
                                    Nenhuma selecionada.
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ object.descricao|default:'-' }}</td>
                        <td>{{ object.criacao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="text-center mt-5 mb-5 jumbotron">
        <h5>{% trans 'Ainda não ha unidades cadastrados.' %}
            {% if pode_cadastrar_unidade %}
            {% trans "Seja a/o primeira/o a criar um" %} <a href="{% url 'analise_template_create' %}">{% trans "clique aqui" %}</a>.
            {% endif %}
        </h5>
    </div>
    {% endif %}
    {% else %}
    <div class="row mt-5">
        <div class="col-md-12 mt-2">
            <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                <div class="card-body text-center">
                    <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
                         class="w-25"
                         alt=""/>
                    <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
                    <div class="alert alert-dark">
                      <h5>{% trans "Acesso não permitido. Faça Login para continuar" %}</h5>
                        <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                          {% trans "Entrar" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
