{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}

{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_cadastrar_analise_qualitativa %}
    {% has_perm 'agroecossistema.apagar' user agroecossistema as pode_apagar_analise_qualitativa %}


    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Análises qualitativas" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            <!-- <a href="{# url 'qualitativa:parametros_select' agroecossistema_id=agroecossistema.id #}" class="btn btn-secondary btn-sm mr-2"> -->
            <!--     <i class="fas fa-cog"></i> -->
            <!-- </a> -->
            {% if pode_cadastrar_analise_qualitativa %}
            <a class="btn btn-primary btn-sm" href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Nova análise qualitativa" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if object_list|length > 0 %}
        <div class="row mt-3">
            <div class="col-sm-12">
                <table
                    {% tabela_class tableId='qualitativa_list_table' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                    id="qualitativa_list_table"
                    datatable-title="Lista de análises qualitativas"
                    datatable-filename="qualitativa_list_table"
                >
                    <thead>
                        {% tabela_cabecalho colspan=pode_cadastrar_analise_qualitativa|yesno:"4,3" tableTitle='Análises qualitativas' targetId='qualitativa_list_table' editavel=False %}
                        <tr>
                            <th>{% trans "Análise" %}</th>
                            <th>{% trans "Modelo" %}</th>
                            <th>{% trans "Criada em" %}</th>
                            {% if pode_cadastrar_analise_qualitativa  %}
                                <th class="min no-sort datatable-export-disabled"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td><a href="{{ object.get_update_url }}">{{ object }}</a></td>
                                <td>{{ object.analise_template }}</td>
                                <td>{{ object.criacao }}</td>
                                {% if pode_cadastrar_analise_qualitativa %}
                                    <td class="d-flex">
                                        <a class="btn btn-sm btn-light mr-2" href="{% url 'qualitativa:analise_update' agroecossistema_id=agroecossistema.id pk=object.id %}" ><i class="fas fa-pen"></i></a>
                                        {% if pode_apagar_analise_qualitativa %}
                                            <button class="btn btn-sm btn-light" data-delete-url="{% url 'qualitativa:analise_delete' agroecossistema_id=agroecossistema.id pk=object.id %}" data-delete-confirm-message="Deseja realmente apagar esta análise qualitativa?" data-success-url="{% url 'qualitativa:analise_list' agroecossistema_id=agroecossistema.id %}">
                                                <i class="fas fa-trash text-danger"></i></button>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há análises qualitativas criadas para este agroecossistema" %}.
                    {% trans "Seja a/o primeira/o a criar uma" %} <a
                                                                    href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
