{% extends "base.html" %}
{% load static %}
{% load vstatic %}
{% load i18n %}
{% load rules %}
{% load formset_tags %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <p>
        <a class="btn btn-primary btn-sm"
           href="{% url 'analise_template_list' %}">{% trans "Lista de Modelos de análises qualitativas" %}</a>
    </p>
    <h3>{{ titulo }}</h3>
    <input type="hidden"
           id="form_main_analise_template_id"
           value="{{ object.id }}">
    <!-- FORM EDIT MODELO ANÀLISE -->
    <form action="{{ object.get_update_url }}"
          class="form-horizontal {% if not forms_atributos %}latest-form{% endif %}"
          id="form-analise_template"
          method="post">
        {% csrf_token %}
        {{ form|crispy }}
    </form>
    <!-- TABS ATRIBUTOS -->
    <ul id="comparacao_nav" class="nav nav-tabs" role="tablist">
        {% for atributo in object.atributos.all %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}"
                   id="nav_{{ atributo.id }}"
                   href="#at{{ atributo.id }}"
                   role="tab"
                   data-toggle="tab"
                   data-atributo-delete-url="{% url 'analise_template_atributo_delete' atributo.id %}">
                    <span class="nav-item-actions"><i class="fa fa-grip-vertical atributo-move"></i><i class="fa fa-trash atributo-delete"></i><i class="fa fa-pen atributo-edit"></i></span><span class="nav-item-label">{{ atributo }}</span>
                </a>
                <div class="nav-atributo-input-wrapper">
                    <span class="nav-item-actions"><i class="fa fa-grip-vertical atributo-vazio"></i><i class="fa fa-trash atributo-vazio"></i><i class="fa fa-check atributo-save"></i></span>
                    <input id="nav-atributo-{{ atributo.id }}"
                           class="nav-atributo-input"
                           value="{{ atributo }}" />
                </div>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link {% if not object.atributos.count %}active{% endif %}"
               id="nav_empty"
               href="#at_empty"
               role="tab"
               data-toggle="tab">+ {% trans "Crie um atributo" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        {% for form_atributo in forms_atributos %}
            {% if forloop.first %}{{ form_atributo.formset.0.obj_instance.forms.0.media }}{% endif %}
            {% with tabpanel_title=form_atributo.obj.nome|add:" - Parâmetros" %}
                <div role="tabpanel"
                     class="tab-pane fade in {% if forloop.first %}active show{% endif %}"
                     id="at{{ form_atributo.obj.id }}"
                     data-tbl-atributo="{{ form_atributo.obj.id }}"
                     data-atributo-title="Modelo de análise qualitativa '{{ object }}'|Atributo: {{ form_atributo.obj }}">
                    <form id="FormAtributo{{ form_atributo.obj.id }}"
                          action="{% url 'analise_template_atributo_update' form_atributo.obj.id %}"
                          method="post"
                          class="monitor-formchanges warn-changed-beforeunload form-atributo_parametros">
                        {{ form_atributo.form|crispy }}
                        {% csrf_token %}
                        {{ form_atributo.formset.0.obj_instance.management_form }}
                        {% tabela2 sticky=True editavel=True keyTable=False fitToPage=True orderable=True noSortOnStart=True tableId='table_atributo_'|concat:form_atributo.obj.id|slugify colspan=form_atributo.form.visible_fields|length tableTitle=tabpanel_title hasMarkItUp=True %}
                            <thead>
                                <tr>
                                    {% for field in form_atributo.formset.0.obj_instance.forms.0.visible_fields %}
                                        <th {% if forloop.last %}class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                            {{ field.label|capfirst }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for formset_form in form_atributo.formset.0.obj_instance.forms %}
                                    <tr class="formset_row parametros_formset">
                                        {% for field in formset_form.visible_fields %}
                                            <td data-field-row="{{ field.name }}"
                                                class="td_textarea"
                                                {% if field.name == 'ordem' %}data-order="{{ field.value|stringformat:"03d" }}"{% else %}data-order="{{ field.value }}"{% endif %}>
                                                {# Include the hidden fields in the formset_form #}
                                                {% if forloop.first %}
                                                    <div class="datatable-export-disabled">
                                                        {% for hidden in formset_form.hidden_fields %}{{ hidden }}{% endfor %}
                                                    </div>
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>&nbsp;</tfoot>
                        {% endtabela2 %}
                        <script type="text/javascript">
                            $('#at{{ form_atributo.obj.id }} .parametros_formset').formset({
                            addText: '<i class="fas fa-plus mr-2"></i>{% trans "Adicionar" %}',
                            addCssClass: 'button-new btn btn-secondary addCssClass_{{ form_atributo.obj.id }}',
                            deleteText: '<i class="fas fa-trash-alt"></i>',
                            deleteCssClass: 'btn btn-danger btn-xs button-delete deleteCssClass_{{ form_atributo.obj.id }}',
                            prefix: 'parametros_atributo_{{ form_atributo.obj.id }}',
                            dataTableId: '{{ "table_atributo_"|concat:form_atributo.obj.id|slugify }}',
                            showAllDeleteButtons: true,
                            onRowAdded: onRowAdded,
                        });
                        </script>
                    </form>
                </div>
                {{ form_atributo.form.media }}
            {% endwith %}
        {% endfor %}
        <!-- FORM ADD ATRIBUTO -->
        <div role="tabpanel"
             class="tab-pane fade in {% if not object.atributos.count %}active show{% endif %}"
             id="at_empty"
             data-tbl-atributo="empty"
             data-atributo-title="Modelo de análise qualitativa '{{ object }}'|Novo Atributo">
            <form action="{% url 'analise_template_atributo_create' %}"
                  class="form-horizontal latest-form"
                  id="FormAtributoEmpty"
                  method="post">
                {% csrf_token %}
                {{ form_atributo_novo|crispy }}
            </form>
        </div>
    </div>
    <div class="form-group mt-5 mb-5">
        <input type="button"
               name="btn_back"
               onclick="history.back();"
               value="Voltar"
               class="btn btn-primary">
        <input type="button"
               name="btn_submit"
               value="Salvar"
               class="btn btn-success"
               id="submit-id-btn_submit">
        <a type="button"
           name="btn_apagar"
           class="btn btn-danger float-right {% if object.id == 1 %}disabled{% endif %}"
           href="{% url 'analise_template_delete' object.id %}"
           id="submit-id-btn_submit">{% trans "Apagar Modelo de análise" %} "{{ object }}"</a>
    </div>
{% endblock content %}
{% block includes %}
    {{ block.super }}
    {{ form.media }}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script type="text/javascript"
            src="{% vstatic 'qualitativa/js/analisetemplate_form.js' %}"></script>
    <link rel="stylesheet"
          href="{% vstatic 'qualitativa/css/analisetemplate.css' %}">
{% endblock includes %}
