{%  extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content  %}
{% if user.is_authenticated %}
<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "card">
        <div class = "card-body">
          <h5 class = "card-title">{% trans "Cadastro de Análise Qualitativa" %}</h5>
          <p class = "card-text">
            {% blocktrans %}Formulário para Cadastro de <code>Análise Qualitativa</code>{% endblocktrans %}.
          </p>
          <form method = "post">
            <!-- Tag para evitar ataques de csrf -->
            {% csrf_token %}
              {{ analiseCreateForm|crispy }}
              <button class="btn btn-primary">{% trans "Salvar" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<script>
window.location='/';
</script>
{% endif %}
{% endblock %}
