{%  extends "base.html" %}
{% load i18n %}

{% block content  %}
<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "card">
        <div class = "card-body">
          <h5 class = "card-title">{% blocktrans %}Escolha de <code>Atributo</code>{% endblocktrans %}</h5>
          <p class = "card-text">
            {% blocktrans %}Caixa para escolha de <code>Atributo</code>{% endblocktrans %}.
          </p>
          <form method = "post">
            <!-- Tag para evitar ataques de csrf -->
            {% csrf_token %}
            <select name="atributo">
              {% for atributo in atributo_list %}
              <option value={{atributo.id}}>{{atributo.nome}}
              {% endfor %}
            </select>
            <button class="btn btn-success">{% trans "Escolher" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
