{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load vstatic %}
{% load crispy_forms_tags %}
{% load rules %}
{% load utils_tags %}
{% load custom_tags %}
{% load l10n %}
{% block includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <link href="{% vstatic 'admin/css/autocomplete.css' %}"
          type="text/css"
          media="screen"
          rel="stylesheet">
    {% comment %} <link href="{% vstatic 'main/css/select2-bootstrap4.css' %}" type="text/css" media="screen" rel="stylesheet"> {% endcomment %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt-BR.js"></script>
    <link rel="stylesheet"
          href="{% vstatic 'qualitativa/css/comparacao.css' %}">
    <script src="{% vstatic 'main/js/eventos_form_helpers.js' %}"
            type="text/javascript"></script>
    <script src="{% vstatic 'qualitativa/js/comparacao.js' %}"></script>
    <!--[if lte IE 8]>
  <script src="{% static 'js/excanvas.js' %}"></script>
<![endif]-->
    {{ form.media }}
{% endblock includes %}
{% block includes_footer %}
    <script type="text/javascript" src="{% static 'main/js/chart3.min.js' %}"></script>
    <script src="{% vstatic 'main/js/chart3-utils.js' %}"></script>
    <script type="text/javascript">
        function open_modal(title, elem_content) {
            elem_modal = $('#modalDetalhes');
            $('#modalDetalhesLabel').html(title);
            $('.modal-body', elem_modal).html($(`#${elem_content}`).val());
            elem_modal.modal('show');
        }
        let eventos = [{% for evento in eventos_linhadotempo %}{{ evento.as_visjs_json|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}];
        const restUpdateUrl = '{% url "linhadotempo:evento_rest_update" agroecossistema_id=agroecossistema.id %}';
        const restDeleteUrl = '{% url "linhadotempo:evento_rest_delete" agroecossistema_id=agroecossistema.id %}';
        const agroecossistemaId = "{{ agroecossistema.id }}";
        const ano = $("#analise-info").data("ano");
        const anoReferencia = $("#analise-info").data("ano-referencia");
        let newEventoInputId = null;
    </script>
{% endblock includes_footer %}
{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    {% with nao_pode_alterar_agroecossistema=pode_alterar_agroecossistema|yesno:"0,1" %}
        <div class="mt-3 d-flex justify-content-between align-items-center">
            <h3 id="analise-info"
                data-ano="{{ analise.ano|unlocalize }}"
                data-ano-referencia="{{ analise.ano_referencia|unlocalize }}">{% trans "Análise Qualitativa" %}</h3>
            <div class="d-flex justify-content-end align-items-center">
                {% if pode_alterar_agroecossistema %}
                    <a href="{% url 'qualitativa:parametros_select' agroecossistema_id=agroecossistema.id pk=analise.id %}"
                       class="btn btn-outline-secondary mr-2">
                        <i class="fas fa-cog"></i>
                    </a>
                {% endif %}
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">{{ analise }}</button>
                    {% if analises_list.count > 1 or pode_alterar_agroecossistema %}
                        <button type="button"
                                class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="sr-only">Mudar análise</span>
                        </button>
                        <div class="dropdown-menu bg-primary">
                            {% for outraAnalise in analises_list %}
                                {% if analise.id != outraAnalise.id %}
                                    <a class="dropdown-item" href="{{ outraAnalise.get_update_url }}">{{ outraAnalise }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if pode_alterar_agroecossistema %}
                                {% if analises_list.count > 1 %}<div class="dropdown-divider"></div>{% endif %}
                                <a class="dropdown-item"
                                   href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}">
                                    <i class="fa fa-plus mr-2"></i> {% trans "Nova" %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endwith %}
    <ul id="comparacao_nav" class="nav nav-tabs" role="tablist">
        {% for atributo_id, atributo in atributos.items %}
            <li class="nav-item">
                <a class="nav-link{% if forloop.first %} active{% endif %}"
                   id="nav_{{ atributo_id }}"
                   href="#at{{ atributo_id }}"
                   role="tab"
                   data-toggle="tab">{{ atributos_list|get_atributo_by_key:atributo_id }}</a>
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link"
               id="nav_sintese"
               href="#atSintese"
               role="tab"
               data-toggle="tab">{% trans "Síntese" %}</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content mb-5">
        {% for atributo_id, atributo in atributos.items %}
            {% with atributos_list|get_by_key:atributo_id as atributoNome %}
                <div role="tabpanel"
                     class="tab-pane fade in{% if forloop.first %} active show{% endif %}"
                     id="at{{ atributo_id }}"
                     data-tbl-atributo="{{ atributo_id }}"
                     data-atributo-title="{% trans "Análise qualitativa" %} {{ analise.ano_referencia|unlocalize }}x{{ analise.ano|unlocalize }} {% trans "do agroecossistema" %} {{ analise.agroecossistema }}|{% trans "Atributo" %}: {{ atributoNome }}">
                    {% for subsectionAtributoId, subsectionsAtributo in subsections.items %}
                        {% if subsectionAtributoId == atributo_id %}
                            {% for subsectionId, subsection in subsectionsAtributo.items %}
                                {% with atributo_id|concat:'_'|concat:subsection|slugify as tableId %}
                                    {% with "tabela_analise_qualitativa_"|concat:analise|concat:"_"|concat:subsection|slugify as filename %}
                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <table {% tabela_class editavel=True editDisabled=nao_pode_alterar_agroecossistema extra="comparacao-table" tableId=filename portrait=True %}
                                                       id="{{ filename }}"
                                                       data-subsecao="{{ subsectionId|slugify }}"
                                                       datatable-title="Atributo '{{ atributoNome }}' da Análise Qualitativa {{ analise }} - {{ analise.agroecossistema }}{% if subsectionId != atributo_id %} ({% trans "Subseção" %} '{% blocktrans %}{{ subsection }}{%  endblocktrans %}'){% endif %}"
                                                       datatable-filename="{{ filename }}">
                                                    <thead>
                                                        {% tabela_cabecalho colspan=tem_mudancas_antigo|yesno:"6,5" tableTitle=subsection targetId=filename editavel=True %}
                                                        <tr>
                                                            <th class="primeiraColuna">{% trans "Parâmetro" %}</th>
                                                            <th title="{% trans "Ano Referência" %}" class="qualitativa-ano">{{ analise.ano_referencia|unlocalize }}</th>
                                                            <th title="{% trans "Ano Atual" %}" class="qualitativa-ano">{{ analise.ano|unlocalize }}</th>
                                                            {% if tem_mudancas_antigo %}
                                                                <th class="qualitativa-textarea">{% trans "Eventos/Inovações" %} ({% trans "antigo" %})</th>
                                                            {% endif %}
                                                            <th class="qualitativa-textarea">{% trans "Eventos/Inovações" %}</th>
                                                            <th class="qualitativa-textarea">{% trans "Justificativa" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for parametro_id, parametro_row in atributo.items %}
                                                            {% if parametro_row.subsection == "" or parametro_row.subsection == subsection %}
                                                                <tr id="row-parametro-{{ parametro_id }}">
                                                                    <td class="primeiraColuna qualitativa-label align-middle">
                                                                        <span data-tipo="parametro_label" data-parametro-id="{{ parametro_id }}">{{ parametro_row.parametro_i18n }}</span>
                                                                        <a style="cursor:pointer"
                                                                           onclick="open_modal('{{ parametro_row.atributo_i18n }} » {{ parametro_row.parametro_i18n }}', 'ajuda-{{ parametro_id }}');">
                                                                            <i class="ml-2 fa fa-question-circle"></i>
                                                                        </a>
                                                                        <input type="hidden"
                                                                               id="ajuda-{{ parametro_id }}"
                                                                               value='{{ parametro_row.ajuda|linebreaksbr }}'>
                                                                    </td>
                                                                    <td class="input_cell qualitativa-ano align-middle">
                                                                        {% select_qualificacao parametro_id=parametro_id analise=analise qualificacao=parametro_row.qualificacao_referencia dataTipo="referencia" %}
                                                                    </td>
                                                                    <td class="input_cell qualitativa-ano align-middle">
                                                                        {% select_qualificacao parametro_id=parametro_id analise=analise qualificacao=parametro_row.qualificacao_atual dataTipo="atual" %}
                                                                    </td>
                                                                    {% if tem_mudancas_antigo %}
                                                                        <td class="input_cell qualitativa-textarea">
                                                                            <textarea id="mudancas-{{ parametro_id }}"
                                                                                      name="mudancas"
                                                                                      data-agroecossistema-id="{{ agroecossistema.id }}"
                                                                                      data-parametro-id="{{ parametro_id }}"
                                                                                      data-analise-id="{{ analise.id }}"
                                                                                      rows="5"
                                                                                      class="form-control">{{ parametro_row.mudancas }}</textarea>
                                                                        </td>
                                                                    {% endif %}
                                                                    <td class="input_cell qualitativa-mudancas_eventos align-middle">
                                                                        <select class="form-control select_mudancas_eventos"
                                                                                name="mudancas_eventos"
                                                                                id="mudancas_eventos-{{ parametro_id }}"
                                                                                multiple="multiple"
                                                                                data-agroecossistema-id="{{ agroecossistema.id }}"
                                                                                data-parametro-id="{{ parametro_id }}"
                                                                                data-analise-id="{{ analise.id }}">
                                                                            {% for evento in eventos_linhadotempo %}
                                                                                <option {% if evento.id in parametro_row.mudancas_eventos %}selected="selected"{% endif %}
                                                                                        value="{{ evento.id|safe }}">
                                                                                    {{ evento.data_inicio|safe }} - {{ evento.titulo }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </td>
                                                                    <td class="input_cell qualitativa-textarea">
                                                                        <textarea id="justificativa-{{ parametro_id }}"
                                                                                  name="justificativa"
                                                                                  data-agroecossistema-id="{{ agroecossistema.id }}"
                                                                                  data-parametro-id="{{ parametro_id }}"
                                                                                  data-analise-id="{{ analise.id }}"
                                                                                  rows="5"
                                                                                  class="form-control">{{ parametro_row.justificativa }}</textarea>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                    {% if subsectionsAtributo|length == 1 %}
                                                        <tfoot>
                                                            <tr>
                                                                <th>{% trans "Índice (0 a 1)" %}</th>
                                                                <th id="referencia-{{ atributo_id }}"></th>
                                                                <th id="atual-{{ atributo_id }}"></th>
                                                                <th colspan="2"></th>
                                                            </tr>
                                                        </tfoot>
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                            {% if subsectionsAtributo|length > 1 %}
                                {% with "tabela_analise_qualitativa_"|concat:analise|concat:"_totais"|slugify as filename %}
                                    <div class="row mt-5">
                                        <div class="col-sm-12">
                                            <table {% tabela_class tableId=filename sticky=False portrait=True %}
                                                   id="{{ filename }}"
                                                   datatable-title="Índice do Atributo '{{ atributoNome }}' da Análise Qualitativa {{ analise }} - {{ analise.agroecossistema }}"
                                                   datatable-filename="{{ filename }}">
                                                <thead>
                                                    {% tabela_cabecalho colspan=5 tableTitle='Índice do atributo: '|concat:atributoNome targetId=filename %}
                                                    <tr>
                                                        <th class="primeiraColuna">{% trans "Subseção" %}</th>
                                                        <th title="{% trans "Ano Referência" %}">{{ analise.ano_referencia|unlocalize }}</th>
                                                        <th title="{% trans "Ano Atual" %}">{{ analise.ano|unlocalize }}</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for subsectionId, subsection in subsectionsAtributo.items %}
                                                        <tr>
                                                            <td>{{ subsection }}</td>
                                                            <td class="qualitativa-ano"
                                                                id="subreferencia-{{ atributo_id }}_{{ subsectionId }}">
                                                            </td>
                                                            <td class="qualitativa-ano"
                                                                id="subatual-{{ atributo_id }}_{{ subsectionId }}">
                                                            </td>
                                                            <td class="qualitativa-textarea"></td>
                                                            <td class="qualitativa-textarea"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr id="totais-{{ atributo_id }}">
                                                        <th>{% trans "Índice (0 a 1)" %}</th>
                                                        <th id="referencia-{{ atributo_id }}"></th>
                                                        <th id="atual-{{ atributo_id }}"></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="row mt-5 download-chart-{{ atributo_id }}">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="tableTitle">{% trans "Gráfico" %}</h4>
                                <a id="link-{{ atributo_id }}" class="btn btn-outline-secondary">
                                    <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 d-flex justify-content-center"
                             id="aranha-wrapper-{{ atributo_id }}">
                            <div id="aranhaEmpty-{{ atributo_id }}" class="aranhaEmpty">
                                <div class="alert alert-info">
                                    {% trans "Não há dados suficientes para mostrar o gráfico. Ele só será exibido quando todos os parâmetros deste atributo forem preenchidos. Caso queira eliminar parâmetros, clique no botão 'configurar análises' acima." %}
                                </div>
                            </div>
                            <canvas id="aranha-{{ atributo_id }}" class="chartCanvas legendsRight"></canvas>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        {% with "Síntese da Análise Qualitativa "|concat:analise|concat:" - "|concat:analise.agroecossistema as tableTitle %}
            {% with "analise_qualitativa_"|concat:analise|concat:"_sintese"|slugify as filename %}
                <div role="tabpanel" class="tab-pane fade in" id="atSintese">
                    <div class="row pt-4" id="mensagem-sintese">
                        <div class="col-sm-12">
                            <h5>
                                {% blocktrans %}<code>Síntese</code> ainda não gerada por falta de dados. Favor preencher todos os Atributos{% endblocktrans %}
                            </h5>
                        </div>
                    </div>
                    <div class="row mt-2 sintese-geral">
                        <div class="col-sm-12">
                            <table {% tabela_class tableId=filename extra="sintese-table" sticky=False portrait=True editavel=False %}
                                   id="{{ filename }}"
                                   datatable-title="{{ tableTitle }}"
                                   datatable-filename="{{ filename }}">
                                <thead>
                                    {% tabela_cabecalho colspan=3 tableTitle=tableTitle targetId=filename %}
                                    <tr>
                                        <th class="w-50">{% trans "Atributos Sistêmicos" %}</th>
                                        <th class="w-25">{% trans "Ano de referência" %} ({{ analise.ano_referencia|unlocalize }})</th>
                                        <th class="w-25">{% trans "Ano atual" %} ({{ analise.ano|unlocalize }})</th>
                                    </tr>
                                </thead>
                                <tbody id="sintese-body">
                                    {% for atributo_id, atributo in atributos.items %}
                                        <tr>
                                            <td id="sintese-body-title-{{ atributo_id }}">{{ atributos_list|get_by_key:atributo_id }}</td>
                                            <td id="sintese-body-ano-ref-{{ atributo_id }}"></td>
                                            <td id="sintese-body-ano-atual-{{ atributo_id }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr id="totais-sintese">
                                        <th>{% trans "Índice de SÍNTESE" %} (0-1)</th>
                                        <th id="referencia-sintese">1</th>
                                        <th id="atual-sintese">2</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-5 download-chart-sintese">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="tableTitle">Gráfico</h4>
                                <a id="link-sintese" class="btn btn-outline-secondary">
                                    <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 d-flex justify-content-center"
                             id="aranha-wrapper-sintese">
                            <div id="aranhaEmpty-sintese" class="aranhaEmpty">
                                <div class="alert alert-info">
                                    {% trans "Não há dados suficientes para mostrar o gráfico. Ele só será exibido quando todos os parâmetros deste atributo forem preenchidos. Caso queira eliminar parâmetros, clique no botão 'configurar análises' acima." %}
                                </div>
                            </div>
                            <canvas id="aranha-sintese" class="chartCanvas legendsRight"></canvas>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endwith %}
    </div>
    <div class="toast d-none"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto" id="toastTitle">Salvo</strong>
            <button type="button"
                    class="ml-2 mb-1 close"
                    data-dismiss="toast"
                    aria-label="Fechar">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">O evento "" foi atualizado!</div>
    </div>
{% endblock content %}
{% block content_fluido %}
    <div class="modal fade"
         id="modalDetalhes"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalDetalhesLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetalhesLabel">{% trans "Informações" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-ameba-right-wrapper" class="modal-right">
        <div class="flex-grow-1 d-flex flex-column justify-content-start full-height">
            <div class="modal-right-header d-flex justify-content-between">
                <h3 class="modal-right-title"></h3>
                <button class="btn modal-right-close" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            {# BODY #}
            <div class="modal-right-body flex-grow-1">
                <dl class="mt-4">
                    <dt class="mb-2">Ano de referência: {{ analise.ano_referencia|unlocalize }}</dt>
                    <dt class="mb-2">Ano atual: {{ analise.ano|unlocalize }}</dt>
                    <dt>{% trans "Avaliação" %}</dt>
                    <dd id="card-avaliacao">
                    </dd>
                    <dt>{% trans "Mudanças" %}</dt>
                    <dd id="card-mudancas">
                    </dd>
                    <dt>{% trans "Justificativa" %}</dt>
                    <dd id="card-justificativa">
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content_fluido %}
{% block modal_right_title %}
    <div class="eventoFormDiv">
        <h5 class="modal-right-title"></h5>
    </div>
    <div class="eventoDetailDiv">
        <h5 class="modal-right-title"></h5>
        <div id="eventoModalBadgeGatilho" class="badge badge-warning">{% trans "evento-gatilho" %}</div>
    </div>
{% endblock modal_right_title %}
{% block modal_right_body %}
    <div class="eventoFormDiv">
        <div>
            {% csrf_token %}
            {% for f in form.invisible_fields %}{{ f.id_for_label }}{% endfor %}
            {{ form|crispy }}
        </div>
    </div>
    <div class="eventoDetailDiv">
        <div class="carousel slide"
             data-ride="carousel"
             id="evento-anexos-carousel">
            <div class="carousel-inner"></div>
            <a class="carousel-control-prev"
               href="#evento-anexos-carousel"
               role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Anterior" %}</span>
            </a>
            <a class="carousel-control-next"
               href="#evento-anexos-carousel"
               role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Próximo" %}</span>
            </a>
        </div>
        <ul class="list-group list-group-flush mt-4">
            <li class="list-group-item bg-none px-0 eventoDetailDivDimensao">
                <dt>{% trans "Dimensão" %}</dt>
                <dd id="evento-tipo">
                </dd>
            </li>
            <li class="list-group-item bg-none px-0 eventoDetailDivPeriodo">
                <dt>{% trans "Ano" %}</dt>
                <dd id="evento-ano">
                </dd>
            </li>
            <li class="list-group-item bg-none px-0 eventoDetailDivDescricao">
                <dt>{% trans "Descrição" %}</dt>
                <dd id="evento-descricao">
                </dd>
            </li>
        </ul>
    </div>
{% endblock modal_right_body %}
