{% extends "base.html" %}
{% load i18n %}
{% load vstatic %}

{% block content %}
<div id="delete-cascade-confirm"></div>
{% endblock %}

{% block includes %}
{{ block.super }}
<script>
    $(document).ready(function(){
        console.log($('#form_delete_cascade_confirm'));

        // tks https://www.htmlcenter.com/blog/retrieve-a-portion-of-html-with-jquery/
        $.ajax({
            url: "{{ url_delete_cascade_confirm }}",
            dataType: 'html',
            success: function(response) {

                // obtém conteúdo provido pela admin e
                // preenche o conteúdo local
                content = jQuery(response).find('#content').html();
                $('#delete-cascade-confirm').html(content);

                // move o attr `href` para `data-href`
                links = $('a', '#delete-cascade-confirm');
                links.each(function(){
                    href = $(this).attr('href');
                    if (href != '#') {
                        $(this).attr('data-href', href);
                        $(this).removeAttr('href');
                    }
                });

                // preparar formulário
                form = $('#delete-cascade-confirm form');
                form.attr('action', "{{ form_delete_cascade_confirm }}");
                form.attr('id', "form_delete_cascade_confirm");

                // confirmar exclusão
                input_submit = $('input[type="submit"]', '#delete-cascade-confirm');
                input_submit.attr('type', 'button');
                input_submit.attr('class', 'btn btn-danger');
                input_submit.attr('id', 'btn_delete_cascade_confirm');
                $(document).on('click', '#btn_delete_cascade_confirm', function(event) {
                    document.getElementById('form_delete_cascade_confirm').submit();
                });

                // botao cancelar
                input_cancel = $('.button.cancel-link');
                input_cancel.attr('class', 'btn btn-secondary');
                input_cancel.attr('onclick', 'window.history.back()');
            }
        });
    });
</script>
{% endblock %}
