{%  extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content  %}
<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "card">
        <div class = "card-body">
          <h5 class = "card-title">{% trans "Deletar Análise" %}</h5>
          <h6 class = "card-text">
            {% blocktrans %}Tem certeza que deseja <code>Deletar a Análise de {{analise.agroecossistema}} {{analise}}</code>{% endblocktrans %}.
          </h6>
          <form method = "post">
            <button class="btn btn-danger">{% trans "Deletar" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
