{% load static %}
{% load i18n %}
{% load vstatic %}
{% load crispy_forms_tags %}
{% load rules %}
{% load utils_tags %}
{% load custom_tags %}
{% load l10n %}

{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}

{#############}
{# CABEÇALHO #}
{#############}
<div class="col-12" style="background-color:#F4F4F4;">
  <div class="row p-3" style="box-shadow: 0px -2px 0px #BFBFBF inset;">
    <div class="col-8" id="title_qualitativa_carousel" style="
    color: #333238;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    ">
    </div>
    <div class="col-4 text-right p-0">
      {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
      {% with nao_pode_alterar_agroecossistema=pode_alterar_agroecossistema|yesno:"0,1" %}
      {% if pode_alterar_agroecossistema %}
      <a href="{% url 'qualitativa:parametros_select' agroecossistema_id=agroecossistema.id pk=analise.id %}"
         title="{% trans 'abrirá em outra aba' %}"
         target="blank"
         class="btn btn-outline-secondary mr-2">
        <i class="fas fa-cog"></i>
      </a>
      {% endif %}
      <div class="btn-group" style="z-index:999">
        <button type="button" class="btn btn-primary">{{ analise }}</button>
        {% if analises_list.count > 1 or pode_alterar_agroecossistema %}
        <button type="button"
                class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <span class="sr-only">{% trans "Mudar análise" %}</span>
        </button>
        <div class="dropdown-menu bg-primary">
          {% for outraAnalise in analises_list %}
          {% if analise.id != outraAnalise.id %}
          <!-- a class="dropdown-item" href="{{ outraAnalise.get_update_url }}">{{ outraAnalise }}</a -->
          <a class="dropdown-item btn-qualitativa-analise-change" href="{% url 'qualitativa:painel-graficos-item' agroecossistema.id outraAnalise.pk %}">{{ outraAnalise }}</a>
          {% endif %}
          {% endfor %}
          {% if pode_alterar_agroecossistema %}
          {% if analises_list.count > 1 %}<div class="dropdown-divider"></div>{% endif %}
          <a class="dropdown-item"
             target="blank"
             href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}">
            <i class="fa fa-plus mr-2"></i> {% trans "Nova" %}
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endwith %}
      <a class="btn btn-sm btn-link" type="button" data-target="#carouselQualitativaGraficos" data-slide="prev">
        <span class="icon-panel-chevron-lg-left mt-1" aria-hidden="true"></span>
        <span class="sr-only">{% trans "anterior" %}</span>
      </a>
      <a class="btn btn-sm btn-link" type="button" data-target="#carouselQualitativaGraficos" data-slide="next">
        <span class="icon-panel-chevron-lg-right mt-1" aria-hidden="true"></span>
        <span class="sr-only">{% trans "próximo" %}</span>
      </a>
    </div>
  </div>
</div>

{############}
{# GRÁFICOS #}
{############}
<div class="col-12">
  <div id="carouselQualitativaGraficos" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      {% for atributo_id, atributo in atributos.items %}
      {% with atributos_list|get_by_key:atributo_id as atributoNome %}
      <div role="tabpanel"
           class="carousel-item tab-pane
           {# if request.GET.param_atributo_id #}
           {% if 3 == 2 %}
             {% if request.GET.param_atributo_id == atributo_id %} active show{% endif %}
           {% else %}
             {% if forloop.first %} active show{% endif %}
           {% endif %}"
           id="at{{ atributo_id }}"
           data-tbl-atributo="{{ atributo_id }}"
           data-atributo-title=""
           data-atributo-title-header="{{ atributoNome }}">
        {% for subsectionAtributoId, subsectionsAtributo in subsections.items %}
        {% if subsectionAtributoId == atributo_id %}
        {% for subsectionId, subsection in subsectionsAtributo.items %}
        {% with atributo_id|concat:'_'|concat:subsection|slugify as tableId %}
        {% with "tabela_analise_qualitativa_"|concat:analise|concat:"_"|concat:subsection|slugify as filename %}
        <div class="row mt-2">
          <div class="col-sm-12">
            <table 
              id="{{ filename }}"
              data-subsecao="{{ subsectionId|slugify }}"
              datatable-title="{% trans 'Atributo' %} '{{ atributoNome }}' {% trans 'da Análise Qualitativa' %} {{ analise }} - {{ analise.agroecossistema }}{% if subsectionId != atributo_id %} ({% trans "Subseção" %} '{% blocktrans %}{{ subsection }}{%  endblocktrans %}'){% endif %}"
              datatable-filename="{{ filename }}"
              {% tabela_class editavel=True editDisabled=nao_pode_alterar_agroecossistema extra="comparacao-table" tableId=filename portrait=True %} >
              <thead>
                {% tabela_cabecalho colspan=tem_mudancas_antigo|yesno:"6,5" tableTitle=subsection targetId=filename editavel=True %}
                <tr>
                  <th class="primeiraColuna">{% trans "Parâmetro" %}</th>
                  <th title="{% trans "Ano Referência" %}" class="qualitativa-ano">{{ analise.ano_referencia|unlocalize }}</th>
                  <th title="{% trans "Ano Atual" %}" class="qualitativa-ano">{{ analise.ano|unlocalize }}</th>
                  {% if tem_mudancas_antigo %}
                  <th class="qualitativa-textarea">{% trans "Eventos/Inovações" %} ({% trans "antigo" %})</th>
                  {% endif %}
                  <th class="qualitativa-textarea">{% trans "Eventos/Inovações" %}</th>
                  <th class="qualitativa-textarea">{% trans "Justificativa" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for parametro_id, parametro_row in atributo.items %}
                {% if parametro_row.subsection == "" or parametro_row.subsection == subsection %}
                <tr id="row-parametro-{{ parametro_id }}">
                  <td class="primeiraColuna qualitativa-label align-middle">
                    <span data-tipo="parametro_label" data-parametro-id="{{ parametro_id }}">{{ parametro_row.parametro_i18n }}</span>
                    <a style="cursor:pointer"
                       onclick="open_modal('{{ parametro_row.atributo_i18n }} » {{ parametro_row.parametro_i18n }}', 'ajuda-{{ parametro_id }}');">
                      <i class="ml-2 fa fa-question-circle"></i>
                    </a>
                    <input type="hidden"
                           id="ajuda-{{ parametro_id }}"
                           value='{{ parametro_row.ajuda|linebreaksbr }}'>
                  </td>
                  <td class="input_cell qualitativa-ano align-middle">
                    {% select_qualificacao parametro_id=parametro_id analise=analise qualificacao=parametro_row.qualificacao_referencia dataTipo="referencia" %}
                  </td>
                  <td class="input_cell qualitativa-ano align-middle">
                    {% select_qualificacao parametro_id=parametro_id analise=analise qualificacao=parametro_row.qualificacao_atual dataTipo="atual" %}
                  </td>
                  {% if tem_mudancas_antigo %}
                  <td class="input_cell qualitativa-textarea">
                    <textarea id="mudancas-{{ parametro_id }}"
                              name="mudancas"
                              data-agroecossistema-id="{{ agroecossistema.id }}"
                              data-parametro-id="{{ parametro_id }}"
                              data-analise-id="{{ analise.id }}"
                              rows="5"
                              class="form-control">{{ parametro_row.mudancas }}</textarea>
                  </td>
                  {% endif %}
                  <td class="input_cell qualitativa-mudancas_eventos align-middle">
                    <select class="form-control select_mudancas_eventos"
                            name="mudancas_eventos"
                            id="mudancas_eventos-{{ parametro_id }}"
                            multiple="multiple"
                            data-agroecossistema-id="{{ agroecossistema.id }}"
                            data-parametro-id="{{ parametro_id }}"
                            data-analise-id="{{ analise.id }}">
                      {% for evento in eventos_linhadotempo %}
                      <option {% if evento.id in parametro_row.mudancas_eventos %}selected="selected"{% endif %}
                        value="{{ evento.id|safe }}">
                      {{ evento.data_inicio|safe }} - {{ evento.titulo }}
                      </option>
                      {% endfor %}
                    </select>
                  </td>
                  <td class="input_cell qualitativa-textarea">
                    <textarea id="justificativa-{{ parametro_id }}"
                              name="justificativa"
                              data-agroecossistema-id="{{ agroecossistema.id }}"
                              data-parametro-id="{{ parametro_id }}"
                              data-analise-id="{{ analise.id }}"
                              rows="5"
                              class="form-control">{{ parametro_row.justificativa }}</textarea>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
              {% if subsectionsAtributo|length == 1 %}
              <tfoot>
                <tr>
                  <th>{% trans "Índice (0 a 1)" %}</th>
                  <th id="referencia-{{ atributo_id }}"></th>
                  <th id="atual-{{ atributo_id }}"></th>
                  <th colspan="2"></th>
                </tr>
              </tfoot>
              {% endif %}
            </table>
          </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endfor %}
        {% if subsectionsAtributo|length > 1 %}
        {% with "tabela_analise_qualitativa_"|concat:analise|concat:"_totais"|slugify as filename %}
        <div class="row">
          <div class="col-sm-12">
            <table {% tabela_class tableId=filename sticky=False portrait=True %}
              id="{{ filename }}"
              datatable-title="{% trans 'Índice do Atributo' %} '{{ atributoNome }}' {% trans 'da Análise Qualitativa' %} {{ analise }} - {{ analise.agroecossistema }}"
              datatable-filename="{{ filename }}">
              <thead>
                {% tabela_cabecalho colspan=5 tableTitle='Índice do atributo: '|concat:atributoNome targetId=filename %}
                <tr>
                  <th class="primeiraColuna">{% trans "Subseção" %}</th>
                  <th title="{% trans "Ano Referência" %}">{{ analise.ano_referencia|unlocalize }}</th>
                  <th title="{% trans "Ano Atual" %}">{{ analise.ano|unlocalize }}</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for subsectionId, subsection in subsectionsAtributo.items %}
                <tr>
                  <td>{{ subsection }}</td>
                  <td class="qualitativa-ano"
                      id="subreferencia-{{ atributo_id }}_{{ subsectionId }}">
                  </td>
                  <td class="qualitativa-ano"
                      id="subatual-{{ atributo_id }}_{{ subsectionId }}">
                  </td>
                  <td class="qualitativa-textarea"></td>
                  <td class="qualitativa-textarea"></td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr id="totais-{{ atributo_id }}">
                  <th>{% trans "Índice (0 a 1)" %}</th>
                  <th id="referencia-{{ atributo_id }}"></th>
                  <th id="atual-{{ atributo_id }}"></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        {% endwith %}
        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center"
               id="aranha-wrapper-{{ atributo_id }}">
            <div id="aranhaEmpty-{{ atributo_id }}" class="aranhaEmpty">
              <div class="alert alert-info">
                {% trans "Não há dados suficientes para mostrar o gráfico. Ele só será exibido quando todos os parâmetros deste atributo forem preenchidos. Caso queira eliminar parâmetros, clique no botão 'configurar análises' acima." %}
              </div>
            </div>
            <canvas id="aranha-{{ atributo_id }}" class="chartCanvas legendsRight"></canvas>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
  <script src="{% vstatic 'qualitativa/js/comparacao.js' %}"></script>
  <script>
    setTitleQualitativaCarousel($('#carouselQualitativaGraficos'));
  </script>
