{% extends "base.html" %}

{% load utils_tags %}
{% load vstatic %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
{% block includes %}
    <script src="{% vstatic 'qualitativa/js/parametro_list.js' %}" type="text/javascript"></script>
{% endblock %}

<h4>{% trans "Parâmetros da Análise Qualitativa" %} {{ analise }}</h4>
<form method = "post">
  {% csrf_token %}
    {% for atributo in atributos_list %}
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">{{ atributo.nome }}</h5>
        </div>
        <div class="card-body">
            <table id="tabela_atributo_{{ atributo.id }}" class="table table-sm datatable no-paging mb-2">
                <thead class="thead-light">
                  <tr>
                      <th><input type="checkbox" class="atributo_select_all" id="atributo_{{atributo.id}}"{% if atributo.id in atributos_ativos_list %} checked{% endif %}></th>
                      <th>{% trans "Parâmetro" %}</th>
                  </tr>
                </thead>
                <tbody>

                {% for parametro in parametros_list|get_obj_attr:atributo.id %}
                    <tr>
                        <td><input type="checkbox" class="parametro_do_atributo_{{ atributo.id }}" name="parametro-{{parametro.id}}"{% if parametro.id not in inativos_list %} checked>{% endif %}</td>
                        <td>{{ parametro.nome }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">{% trans "Salvar" %}</button>
        </div>
    </div>

    {% endfor %}
</form>
{% else %}
<script>
window.location='/';
</script>
{% endif %}
{% endblock %}
