{% load i18n %}
{% load custom_tags %}
{% load economica_tags %}
{% get_car_list as get_car_list %}
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-primary">{{ car }}</button>

    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Mudar análise</span>
    </button>
    <div class="dropdown-menu bg-primary">
        {% for outroCiclo in get_car_list %}
            {% if car.ano != outroCiclo.ano or car.sim_slug %}
                {% if not car.sim_slug or car.sim_slug != outroCiclo.sim_slug %}
                    <a class="dropdown-item" href="{% if submodulo == 'agroecossistema_painel' %}{% url 'agroecossistema_detail_car' pk=agroecossistema.id ano_car=outroCiclo.ano %}{% elif submodulo == 'composicaonsga' %}{% url 'agroecossistema:car_update_composicao' agroecossistema_id=agroecossistema.id ano_car=outroCiclo.ano %}{% elif submodulo == 'terras' %}{% url 'agroecossistema:car_update_terras' agroecossistema_id=agroecossistema.id ano_car=outroCiclo.ano %}{% elif submodulo == 'subsistemas' %}{{ outroCiclo.get_subsistema_list_url }}{% else %}{{ outroCiclo.get_subsistema_list_url }}{% endif %}">
                      {{ outroCiclo }}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if car.sim_slug %}
            <a class="dropdown-item" href="{% get_car_list_url %}">
                {% trans 'Ver todas as simulações' %}
            </a>
            <a class="dropdown-item" href="{% get_car_list_url force_exit_sim=True %}">
                {% trans 'Sair da simulação' %}
            </a>
        {% else %}
            <a class="dropdown-item" href="{% get_car_list_url %}">
                {% trans 'Ver todos os ciclos' %}
            </a>
        {% endif %}
        <div class="dropdown-divider"></div>
        {% if car.sim_slug %}
            <a class="dropdown-item" href="{% url 'agroecossistema:sim_create' agroecossistema_id=agroecossistema.id ano_car=car.ano %}">
                <i class="fa fa-plus mr-2"></i> {% trans 'Nova simulação' %}
            </a>
        {% else %}
            <a class="dropdown-item" href="{% url 'agroecossistema:car_create' agroecossistema_id=agroecossistema.id %}">
                <i class="fa fa-plus mr-2"></i> {% trans 'Criar ciclo' %}
            </a>
        {% endif %}
    </div>
</div>
