{% load i18n %}
{% load custom_tags %}
{% load economica_tags %}
<div id="sidebar-wrapper"
     class="d-flex flex-column justify-content-between">
    <div class="list-group list-group-flush sidebar-items">
        <a class="list-group-item list-group-item-action sidebar-header d-flex justify-content-start align-items-center"
           href="{% url 'agroecossistema_update' pk=agroecossistema.id %}">
            <div class="avatar-square">
                <div class="initials">{{ agroecossistema.get_initials }}</div>
            </div>
            <span class="ml-2">{{ agroecossistema }}</span>
        </a>
        {% if sim_slug %}
            <div class="list-group-item sidebar-subheader">
                <span class="small disabled">{% trans 'Simulação' %}</span>
            </div>
        {% endif %}
        <a class="list-group-item list-group-item-action{% if is_agroecossistema_menu %} menu-active{% endif %}"
           href="{% if ano_car %}{% if sim_slug %}{% url 'agroecossistema_detail_sim' pk=agroecossistema.id ano_car=ano_car sim_slug=sim_slug %}{% else %}{% url 'agroecossistema_detail_car' pk=agroecossistema.id ano_car=ano_car %}{% endif %}{% else %}{% url 'agroecossistema_detail' pk=agroecossistema.id %}{% endif %}"
           alt="{% trans 'Agroecossistema' %}"
           title="{% trans 'Agroecossistema' %}">
            <i class="mr-1 fa fa-home"></i>
            <span>{% trans "Agroecossistema" %}</span>
        </a>
        {% if is_agroecossistema_menu %}
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'painel' %} active{% endif %}"
               href="{% if ano_car %}{% if sim_slug %}{% url 'agroecossistema_detail_sim' pk=agroecossistema.id ano_car=ano_car sim_slug=sim_slug %}{% else %}{% url 'agroecossistema_detail_car' pk=agroecossistema.id ano_car=ano_car %}{% endif %}{% else %}{% url 'agroecossistema_detail' pk=agroecossistema.id %}{% endif %}"
               alt="{% trans 'Painel' %}"
               title="{% trans 'Painel' %}">{% trans "Painel" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if submodulo == 'composicaonsga' or submodulo == 'pessoas' %} active{% endif %}"
               href="{% if ano_car %}{% if sim_slug %}{% url 'agroecossistema:sim_update_composicao' agroecossistema_id=agroecossistema.id ano_car=ano_car sim_slug=sim_slug %}{% else %}{% url 'agroecossistema:car_update_composicao' agroecossistema_id=agroecossistema.id ano_car=ano_car %}{% endif %}{% else %}#{% endif %}"
               alt="{% trans 'Composição do NSGA' %}"
               title="{% trans 'Composição do NSGA' %}">{% trans "Composição do NSGA" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if submodulo == 'subsistemas' %} active{% endif %}"
               href="{% if ano_car %}{{ car.get_subsistema_list_url }}{% else %}#{% endif %}"
               alt="{% trans 'Subsistemas' %}"
               title="{% trans 'Subsistemas' %}">{% trans "Subsistemas" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if submodulo == 'terras' %} active{% endif %}"
               href="{% if ano_car %}{% if sim_slug %}{% url 'agroecossistema:sim_update_terras' agroecossistema_id=agroecossistema.id ano_car=ano_car sim_slug=sim_slug %}{% else %}{% url 'agroecossistema:car_update_terras' agroecossistema_id=agroecossistema.id ano_car=ano_car %}{% endif %}{% else %}#{% endif %}"
               alt="{% trans 'Terras' %}"
               title="{% trans 'Terras' %}">{% trans "Terras" %}</a>
        {% endif %}
        <a class="list-group-item list-group-item-action{% if modulo == 'linhadotempo' %} active{% endif %}{% if sim_slug %} disabled {% endif %}"
           href="{% url 'linhadotempo:evento_list' agroecossistema_id=agroecossistema.id %}"
           alt="{% trans 'Linha do tempo' %}"
           title="{% trans 'Linha do tempo' %}">
            <i class="mr-1 fa fa-calendar-alt"></i>
            <span>{% trans "Linha do Tempo" %}</span>
        </a>
        <a class="list-group-item list-group-item-action{% if modulo == 'qualitativa' %} active{% endif %}{% if sim_slug %} disabled {% endif %}"
           href="{% url 'qualitativa:analise_list' agroecossistema_id=agroecossistema.id %}"
           alt="{% trans 'Análise Qualitativa' %}"
           title="{% trans 'Análise Qualitativa' %}">
            <i class="mr-1 fa fa-clipboard-list"></i>
            <span>{% trans "Análise Qualitativa" %}</span>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-menu{% if modulo == 'economica' %} active{% endif %}{% if submodulo == 'relatorios' or submodulo == 'simulacoes' or submodulo == 'comparacao_economica' or submodulo == 'lista' or submodulo == 'editar_dados' %} has_submenu{% endif %}"
           href="{% if ano_car %}{% get_economica_analise_detail_url agroecossistema_id=agroecossistema.id sim_slug=sim_slug ano_car=ano_car %}{% else %}{% url 'agroecossistema:car_list' agroecossistema_id=agroecossistema.id %}{% endif %}"
           alt="{% trans 'Análise Econômica' %}"
           title="{% trans 'Análise Econômica' %}">
            <i class="mr-1 fa fa-chart-bar"></i>
            <span>{% trans "Análise econômica" %}</span>
        </a>
        {% if modulo == 'economica' %}
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if submodulo == 'relatorios' %} active{% endif %}"
               href="{% if ano_car %}{% get_economica_analise_detail_url agroecossistema_id=agroecossistema.id sim_slug=sim_slug ano_car=ano_car %}{% else %}#{% endif %}"
               alt="{% trans 'Relatório Econômico' %}"
               title="{% trans 'Relatório Econômico' %}">{% trans "Relatório econômico" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if is_economica_editar_dados %} active{% endif %}"
               href="{% if ano_car %}{% first_submodule_url agroecossistema_id=agroecossistema.id ano_car=ano_car submodulo=submodulo sim_slug=sim_slug subsistema_id=subsistema_id %}{% else %}#{% endif %}"
               alt="{% trans 'Editar dados' %}"
               title="{% trans 'Editar dados' %}">{% trans "Coleta de dados" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if not ano_car %} disabled{% endif %}{% if submodulo == 'simulacoes' %} active{% endif %}"
               href="{% if ano_car %}{% url 'agroecossistema:sim_list' agroecossistema_id=agroecossistema.id ano_car=ano_car %}{% else %}#{% endif %}"
               data-alert-text="Simulações deste Ciclo Econômico"
               alt="{% trans 'Simulações' %}"
               title="{% trans 'Simulações' %}">{% trans "Simulações" %}</a>
            {% if sim_slug %}
                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'comparacao_economica' %} active{% endif %}"
                   href="{% url 'agroecossistema:analise_compara_escolha_simulacao' agroecossistema_id=agroecossistema.id ano_car=ano_car sim_slug=sim_slug %}"
                   alt="{% trans 'Comparar simulação' %}"
                   title="{% trans 'Comparar simulação' %}">{% trans "Comparar simulação" %}</a>
            {% endif %}
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if agroecossistema.tem_multiplas_analises_economicas %}{% if submodulo == 'comparacao_economica' %} active{% endif %}{% else %} disabled{% endif %}"
               href="{% url 'agroecossistema:analise_compara_escolha' agroecossistema_id=agroecossistema.id %}"
               alt="{% trans 'Comparar ciclos' %}"
               title="{% trans 'Comparar ciclos' %}">{% trans "Comparar ciclos" %}</a>
        {% endif %}
        <a class="list-group-item list-group-item-action{% if modulo == 'cadernodecampo' %} active{% endif %}{% if sim_slug %} disabled {% endif %}"
           href="{% url 'cadernodecampo:anotacao_list' agroecossistema_id=agroecossistema.id %}"
           alt="{% trans 'Caderno de campo' %}"
           title="{% trans 'Caderno de campo' %}">
            <i class="mr-1 fa fa-hiking"></i>
            <span>{% trans "Caderno de campo" %}</span>
        </a>
        <a class="list-group-item list-group-item-action {% if sim_slug %}disabled{% endif %}"
           href="{% url 'anexos:anexo_list' agroecossistema_id=agroecossistema.id %}"
           alt="{% trans 'Anexos' %}"
           title="{% trans 'Anexos' %}">
            <i class="mr-1 fa fa-folder-open"></i>
            <span>{% trans "Anexos" %}</span>
        </a>
        {% if modulo == 'anexos' %}
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'todos' %} active{% endif %}"
               href="{% url 'anexos:anexo_list' agroecossistema_id=agroecossistema.id %}"
               alt="{% trans 'Todos' %}"
               title="{% trans 'Todos' %}">{% trans "Todos" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'imagens' %} active{% endif %}"
               href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='imagens' %}"
               alt="{% trans 'Imagens' %}"
               title="{% trans 'Imagens' %}">{% trans "Imagens" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'documentos' %} active{% endif %}"
               href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='documentos' %}"
               alt="{% trans 'Documentos' %}"
               title="{% trans 'Documentos' %}">{% trans "Documentos" %}</a>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'videos' %} active{% endif %}"
               href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='videos' %}"
               alt="{% trans 'Vídeos' %}"
               title="{% trans 'Vídeos' %}">{% trans "Vídeos" %}</a>
            <div class="list-group-divider list-group-item list-group-item-submenu"></div>
            <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'pastas' %} active{% endif %}"
               href="{% url 'anexos:pasta_anexo_update' agroecossistema_id=agroecossistema.id %}"
               alt="{% trans 'Pastas' %}"
               title="{% trans 'Pastas' %}">{% trans "Pastas" %}</a>
            {% for pasta in agroecossistema.pastas.all %}
                <a id="menu_pasta_{{ pasta.id }}"
                   data-nome="{{ pasta.nome }}"
                   class="menu-pasta list-group-item list-group-item-action list-group-item-submenu{% if submodulo == pasta.nome %} active{% endif %}"
                   href="{% url 'anexos:anexo_pasta' agroecossistema_id=agroecossistema.id pastaId=pasta.id %}"
                   alt="{{ pasta.nome }}"
                   title="{{ pasta.nome }}"
                   ondrop="drop(event)"
                   ondragover="allowDrop(event)"
                   ondragenter="dragEntered(event)"
                   ondragleave="dragLeft(event)">
                    <i class="fa fa-folder mr-1"></i>{{ pasta.nome }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto" id="toastTitle">Salvo</strong>
        <button type="button"
                class="ml-2 mb-1 close"
                data-dismiss="toast"
                aria-label="Fechar">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="toast-body"></div>
</div>
<script>$(".toast").toast({delay: 1500});</script>
