{% load i18n %}
{% load custom_tags %}
<div id="sidebar-wrapper"
     class="d-flex flex-column justify-content-between comunidade_ou_territorio">
    <div class="list-group list-group-flush sidebar-items">
        {% if comunidadeOuTerritorio.id %}
            <a class="list-group-item list-group-item-action sidebar-header d-flex justify-content-start align-items-center"
               href="{% if modulo == 'comunidade' %}{% url 'comunidade_detail' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_detail' pk=comunidadeOuTerritorio.id %}{% endif %}">
                <div class="avatar-square d-none">
                    <div class="initials"></div>
                </div>
                <span>
                    {% if modulo == 'comunidade' %}
                        {% trans "Comunidade" %}
                    {% else %}
                        {% trans 'Território' %}{% endif %}
                        <br />
                    {{ comunidadeOuTerritorio.nome }}</span>
                </a>
                <a class="list-group-item list-group-item-action{% if submodulo == 'inicio' %} active{% endif %}"
                   href="{% if modulo == 'comunidade' %}{% url 'comunidade_detail' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_detail' pk=comunidadeOuTerritorio.id %}{% endif %}"
                   alt="{% trans 'Início' %}"
                   title="{% trans 'Início' %}">
                    <i class="mr-1 fa fa-home"></i>
                    <span>{% trans 'Início' %}</span>
                </a>
                <a class="list-group-item list-group-item-action{% if submodulo == 'linhaterritorial' %} active{% endif %}"
                   href="{% if modulo == 'comunidade' %}{% url 'comunidade_linhaterritorial' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_linhaterritorial' pk=comunidadeOuTerritorio.id %}{% endif %}"
                   alt="{% trans 'Linha do tempo da comunidade' %}"
                   title="{% trans 'Linha do tempo da comunidade' %}">
                    <i class="mr-1 fa fa-calendar-alt"></i>
                    <span>{% trans "Linha do Tempo" %}</span>
                </a>
                <a class="list-group-item list-group-item-action{% if submodulo == 'periodos' %} active{% endif %}"
                   href="{% if modulo == 'comunidade' %}{% url 'comunidade_linhaterritorial_periodos' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_linhaterritorial_periodos' pk=comunidadeOuTerritorio.id %}{% endif %}"
                   alt="{% trans 'Períodos da linha do tempo' %}"
                   title="{% trans 'Períodos da linha do tempo' %}">
                    <i class="mr-1 fa fa-clock"></i>
                    <span>{% trans "Editar períodos" %}</span>
                </a>
                <a class="list-group-item list-group-item-action{% if submodulo == 'agroecossistemas_list' %} active{% endif %}"
                   href="{% if modulo == 'comunidade' %}{% url 'comunidade_agroecossistemas' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_agroecossistemas' pk=comunidadeOuTerritorio.id %}{% endif %}"
                   alt="{% trans 'Agroecossistemas relacionados' %}"
                   title="{% trans 'Agroecossistemas relacionados' %}">
                    <i class="mr-1 fa fa-star"></i>
                    <span>{% trans "Agroecossistemas" %}</span>
                </a>
                <a class="list-group-item list-group-item-action{% if submodulo == 'update' %} active{% endif %}"
                   href="{% if modulo == 'comunidade' %}{% url 'comunidade_update' pk=comunidadeOuTerritorio.id %}{% else %}{% url 'territorio_update' pk=comunidadeOuTerritorio.id %}{% endif %}"
                   alt="{% trans 'Editar' %}"
                   title="{% trans 'Editar' %}">
                    <i class="mr-1 fa fa-pen-alt"></i>
                    <span>{% trans "Editar" %}</span>
                </a>
                {% comment %}
            <a class="list-group-item list-group-item-action {% if sim_slug %} disabled {% endif %}" href="{% url 'anexos:anexo_list' %}" alt = "{% trans 'Anexos' %}" title = "{% trans 'Anexos' %}">
                <i class="mr-1 fa fa-folder-open"></i>
                <span>{% trans "Anexos" %}</span>
            </a>
            {% if modulo == 'anexos' %}

                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'todos' %} active{% endif %}" href="{% url 'anexos:anexo_list' agroecossistema_id=agroecossistema.id %}" alt = "{% trans 'Todos' %}" title = "{% trans 'Todos' %}">
                    {% trans "Todos" %}
                </a>
                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'imagens' %} active{% endif %}" href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='imagens' %}" alt = "{% trans 'Imagens' %}" title = "{% trans 'Imagens' %}">
                    {% trans "Imagens" %}
                </a>
                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'documentos' %} active{% endif %}" href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='documentos' %}" alt = "{% trans 'Documentos' %}" title = "{% trans 'Documentos' %}">
                    {% trans "Documentos" %}
                </a>
                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'videos' %} active{% endif %}" href="{% url 'anexos:anexo_filter' agroecossistema_id=agroecossistema.id filter='videos' %}" alt = "{% trans 'Vídeos' %}" title = "{% trans 'Vídeos' %}">
                    {% trans "Vídeos" %}
                </a>
                <div class="list-group-divider list-group-item list-group-item-submenu"></div>
                <a class="list-group-item list-group-item-action list-group-item-submenu{% if submodulo == 'pastas' %} active{% endif %}" href="{% url 'anexos:pasta_anexo_update' agroecossistema_id=agroecossistema.id %}" alt = "{% trans 'Pastas' %}" title = "{% trans 'Pastas' %}">
                    {% trans "Pastas" %}
                </a>

                {% for pasta in agroecossistema.pastas.all %}
                    <a id = "menu_pasta_{{ pasta.id }}" data-nome="{{pasta.nome}}" class = "menu-pasta list-group-item list-group-item-action list-group-item-submenu{% if submodulo == pasta.nome %} active{% endif %}" href = "{% url 'anexos:anexo_pasta' agroecossistema_id=agroecossistema.id pastaId=pasta.id %}" alt = "{{ pasta.nome }}" title = "{{ pasta.nome }}" ondrop = "drop(event)" ondragover = "allowDrop(event)" ondragenter = "dragEntered(event)" ondragleave = "dragLeft(event)">
                        <i class="fa fa-folder mr-1"></i>{{ pasta.nome }}
                    </a>
                {% endfor %}
            {% endif %}
                {% endcomment %}
            {% else %}
                <a class="list-group-item list-group-item-action sidebar-header d-flex justify-content-start align-items-center"
                   href="#">
                    <div class="avatar-square d-none">
                        <div class="initials"></div>
                    </div>
                    <span>
                        {% if modulo == 'comunidade' %}
                            {% trans "Criar Comunidade" %}
                        {% else %}
                        {% trans 'Criar Território' %}{% endif %}</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto" id="toastTitle">Salvo</strong>
                <button type="button"
                        class="ml-2 mb-1 close"
                        data-dismiss="toast"
                        aria-label="Fechar">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body"></div>
        </div>
        <script>$(".toast").toast({delay: 1500});</script>
