.table td.subsistemaProducaoSubtotais,
.table th.subsistemaProducaoSubtotais {
    /* background-color: #cbbe7d; */
    font-weight: 700;
}

.subsistemaProducaoAlter {
    background-color: #c3e1c4;
}

.qsintese {
    font-weight: 700;
}

#producao th {
    white-space: nowrap;
}


.imagemSintese {
    background: url("/static/economica/img/diagrama_sintese2.png");
    width: auto;
    height: 400px;
    position: relative;
}


.sinteseElementos {
    position: absolute;
}

.grafico_card {
}

@media (min-width: 1920px) {
    #legend_diagrama_sintese, .diagrama_sintese {
        width: 1870px;
    }

    .diagrama_sintese {
        position: relative;
        height: 1028px;
        background-image: url("/static/economica/img/diagrama_sintese_1920.png");
    }

    .diagrama_sintese .total {
        position: absolute;
        font-size: 1.17rem;
        padding-right: 4px;
        font-weight: bold;
    }

    .diagrama_sintese .total_cp {
        top: 264px;
        right: 1605px
    }

    .diagrama_sintese .total_mercantilizacao {
        top: 486px;
        right: 1414px;
    }

    .diagrama_sintese .total_pb_autoconsumo {
        top: 576px;
        right: 284px;
    }

    .diagrama_sintese .total_pb_doacoes_trocas {
        top: 886px;
        right: 284px;
    }

    .diagrama_sintese .total_pb_insumos_produzidos {
        top: 576px;
        right: 1605px;
    }

    .diagrama_sintese .total_pb_venda {
        top: 264px;
        right: 284px;
    }

    .diagrama_sintese .total_reciprocidade {
        top: 886px;
        right: 1605px
    }

    .diagrama_sintese .total_pp {
        top: 767px;
        right: 911px;
    }

    .diagrama_sintese .rentabilidade_monetaria {
        top: 210px;
        right: 988px;
    }

    .diagrama_sintese .grafico {
        position: absolute;
    }

    .diagrama_sintese .grafico_sintese_tam_xp {
        height: 140px;
        width: 140px;
        margin-right: 20px;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_tam_p {
        height: 165px;
        width: 165px;
        margin-bottom: -15px;
        margin-right: 10px;
    }

    .diagrama_sintese .grafico_sintese_tam_m {
        height: 190px;
        width: 190px;
        margin-bottom: -15px;
        margin-right: 0px;
    }

    .diagrama_sintese .grafico_sintese_tam_l {
        height: 215px;
        width: 215px;
        margin-bottom: -15px;
        margin-right: -10px;
    }

    .diagrama_sintese .grafico_sintese_tam_xl {
        height: 240px;
        width: 240px;
        margin-right: -25px;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_cp_wrapper {
        bottom: 778px;
        right: 1619px;
    }

    .diagrama_sintese .grafico_sintese_pb_insumos_produzidos_wrapper {
        bottom: 466px;
        right: 1619px;
    }

    .diagrama_sintese .grafico_sintese_reciprocidade_wrapper {
        bottom: 152px;
        right: 1619px;
    }

    .diagrama_sintese .grafico_sintese_pb_venda_wrapper {
        bottom: 778px;
        right: 300px;
    }

    .diagrama_sintese .grafico_sintese_pb_autoconsumo_wrapper {
        bottom: 466px;
        right: 300px;
    }

    .diagrama_sintese .grafico_sintese_pb_doacoes_trocas_wrapper {
        bottom: 152px;
        right: 300px;
    }

}


@media (max-width: 1919px) {
    #legend_diagrama_sintese, .diagrama_sintese {
        width: 1230px;
    }

    .diagrama_sintese {
        position: relative;
        height: 676px;
        background-image: url("/static/economica/img/diagrama_sintese_1280-v2.png");
    }

    .diagrama_sintese .total {
        position: absolute;
        font-size: 0.85rem;
        padding-right: 4px;
        font-weight: bold;
    }

    .diagrama_sintese .total_cp {
        top:  172px;
        right:  1054px;
    }

    .diagrama_sintese .total_mercantilizacao {
        top:  319px;
        right:  929px;
    }

    .diagrama_sintese .total_pb_autoconsumo {
        top: 377px;
        right: 189px;
    }

    .diagrama_sintese .total_pb_doacoes_trocas {
        top: 582px;
        right: 189px;
    }

    .diagrama_sintese .total_pb_insumos_produzidos {
        top: 377px;
        right:  1054px;
    }

    .diagrama_sintese .total_pb_venda {
        top: 172px;
        right: 189px;
    }

    .diagrama_sintese .total_reciprocidade {
        top: 582px;
        right: 1054px;
    }

    .diagrama_sintese .total_pp {
        top: 503px;
        right: 601px;
    }

    .diagrama_sintese .rentabilidade_monetaria {
        top: 140px;
        right: 650px;
    }

    .diagrama_sintese .grafico {
        position: absolute;
    }

    .diagrama_sintese .grafico_sintese_tam_xp {
        height: 70px;
        width: 70px;
        margin-right: 35px;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_tam_p {
        height: 95px;
        width: 95px;
        margin-bottom: -15px;
        margin-right: 20px;
    }

    .diagrama_sintese .grafico_sintese_tam_m {
        height: 120px;
        width: 120px;
        margin-right: 10px;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_tam_l {
        height: 145px;
        width: 145px;
        margin-right: 0;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_tam_xl {
        height: 170px;
        width: 170px;
        margin-right: -15px;
        margin-bottom: -15px;
    }

    .diagrama_sintese .grafico_sintese_cp_wrapper {
        bottom: 518px;
        right: 1060px;
    }

    .diagrama_sintese .grafico_sintese_reciprocidade_wrapper {
        bottom: 105px;
        right: 1060px;
    }

    .diagrama_sintese .grafico_sintese_pb_autoconsumo_wrapper {
        bottom: 311px;
        right: 190px;
    }

    .diagrama_sintese .grafico_sintese_pb_doacoes_trocas_wrapper {
        bottom: 105px;
        right: 190px;
    }

    .diagrama_sintese .grafico_sintese_pb_insumos_produzidos_wrapper {
        bottom: 311px;
        right: 1060px;
    }

    .diagrama_sintese .grafico_sintese_pb_venda_wrapper {
        bottom: 518px;
        right: 190px;
    }
}

#chartjs-tooltip {
    background-color: #333;
    color: #fff;
    position: absolute;
    border-radius: 5px;
}

#chartjs-tooltip table {
    line-height: 1;
}
