{% extends "base.html" %}
{% load i18n %}
{% load vstatic %}
{% load crispy_forms_tags %}
{% block includes %}
    {{ block.super }}
{% endblock includes %}
{% block content %}
    <h3 class="mt-3">{{ titulo }}</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">{% crispy form %}</div>
    </div>
{% endblock content %}
{% block modal_right_title %}
    <div class="comunidadeFormDiv modalFormDiv">
        <h5 class="modal-right-title"></h5>
    </div>
    <div class="territorioFormDiv modalFormDiv">
        <h5 class="modal-right-title"></h5>
    </div>
{% endblock modal_right_title %}
{% block modal_right_body %}
    <div class="comunidadeFormDiv modalFormDiv">
        <div>{% crispy form_comunidade %}</div>
    </div>
    <div class="territorioFormDiv modalFormDiv">
        <div>{% crispy form_territorio %}</div>
    </div>
{% endblock modal_right_body %}
{% block includes_footer %}
    {{ block.super }}
    <script>
    ID_TO_REPLACE = '9999999999';

    FORM_ACTION_ADD_COMUNIDADE = '{% url "comunidade_create" %}';
    FORM_ACTION_COMUNIDADE = '{% url "comunidade_update" 9999999999 %}';
    URL_COMUNIDADE = '{% url "comunidade_detail_json" 9999999999 %}';
    URL_DELETE_COMUNIDADE = '{% url "comunidade_delete" 9999999999 %}';

    FORM_ACTION_ADD_TERRITORIO = '{% url "territorio_create" %}';
    FORM_ACTION_TERRITORIO = '{% url "territorio_update" 9999999999 %}';
    URL_TERRITORIO = '{% url "territorio_detail_json" 9999999999 %}';
    URL_DELETE_TERRITORIO = '{% url "territorio_delete" 9999999999 %}';
    </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <link href="{% vstatic 'admin/css/autocomplete.css' %}"
          type="text/css"
          media="screen"
          rel="stylesheet">
    <link href="{% vstatic 'agroecossistema/css/agroecossistema_form.css' %}"
          type="text/css"
          media="screen"
          rel="stylesheet">
    {% comment %} <link href="{% vstatic 'main/css/select2-bootstrap4.css' %}" type="text/css" media="screen" rel="stylesheet"> {% endcomment %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt-BR.js"></script>
    <!-- <script src="{% vstatic 'main/js/eventos_form_helpers.js' %}" type="text/javascript"></script> -->
    <script type="text/javascript"
            src="{% vstatic 'agroecossistema/js/agroecossistema_form.js' %}"></script>
{% endblock includes_footer %}
