{% extends "base.html" %}
{% load sitetree %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load custom_tags %}
{% block includes %}
  <style>
      body {
          background-image: url("/static/main/img/painel-inicio-bg.png");
          background-size: cover;
          background-repeat: repeat-y;
          background-position: top;
      }

      .initial-panel-action-buttons {
          text-align: right;
      }
  </style>
{% endblock includes %}
{% block content %}
  <div class="row mt-3 mb-2">
    <div class="col-4">{% content_index_tabs model='agroecossistema' %}</div>
    <div class="col-4">{% content_index_tabs model='comunidade' %}</div>
    <div class="col-4">{% content_index_tabs model='territorio' %}</div>
  </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
