{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load anexos %}
{% load economica_tags %}
{% load custom_tags %}
{% load relatorios_tags %}
{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    <div class="row mb-2">
      <div class="col-12 text-right">
        <a href="{% url 'agroecossistema_detail_car_new' car.agroecossistema.id car.ano %}" class="btn btn-sm btn-link" title="clique para visualizar a nova versão do painel" style="
          position: absolute;
          top: -40px;
          z-index: 9999;
          right: 15px;
          "><i>(nova versão)</i></a>
      </div>
        <div class="col-12 mb-2">
            <div class="w-100 my-2">
                {% if not sim_slug %}
                    <p>
                        {% if agroecossistema.territorio %}
                            {% blocktrans %}O agroecossistema{% endblocktrans %} <strong>{{ agroecossistema }}</strong>
                            {% blocktrans %}está localizado na comunidade{% endblocktrans %}
                            <a href="{% url 'comunidade_detail' pk=agroecossistema.comunidade.id %}">{{ agroecossistema.comunidade.nome }}</a>, {% blocktrans %}no território{% endblocktrans %} <a href="{% url 'territorio_detail' pk=agroecossistema.territorio.id %}">{{ agroecossistema.territorio }}</a>,
                        {% else %}
                            {% blocktrans %}O agroecossistema{% endblocktrans %} <strong>{{ agroecossistema }}</strong>
                            {% blocktrans %}está localizado na comunidade{% endblocktrans %}
                            <a href="{% url 'comunidade_detail' pk=agroecossistema.comunidade.id %}">{{ agroecossistema.comunidade.nome }}</a>,
                        {% endif %}
                        {% blocktrans %}em{% endblocktrans %} {{ agroecossistema.comunidade.municipio }} - {{ agroecossistema.comunidade.municipio.uf.sigla }}.
                        {% if car.terras.count %}
                            São {{ car.get_area_total|floatformat:1 }} hectares de terra, das quais
                            {% get_terras_list car=car tipo=tipo_sigla as terra_list %}
                            {% for terra in terra_list %}
                                {% if forloop.last %}e{% endif %}
                                {{ terra.area|floatformat:0 }}<i>ha</i> como
                                {% if forloop.last %}
                                    {{ terra.tipo }}.
                                {% else %}
                                    {{ terra.tipo }},
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% blocktrans %}A organização responsável pelo cadastro é a{% endblocktrans %} <strong>{{ object.organizacao }}</strong>. {% blocktrans %}A última alteração no agroecossistema se deu em{% endblocktrans %} {{ agroecossistema.ultima_alteracao }}.
                    </p>
                {% else %}
                    <strong>{{ car }}</strong>
                    <br />
                    <i>{{ car.sim_descricao }}</i>
                {% endif %}
            </div>
        </div>
        {% if not sim_slug %}
            <div class="col-md-6 mb-2">
                <div class="card w-100 mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">{% trans "Linha do Tempo" %}</h5>
                        <div>
                            <a href="{% url 'linhadotempo:evento_list' agroecossistema_id=agroecossistema.id %}"
                               class="btn btn-primary btn-sm">
                                <i class="fa fa-calendar-alt mr-2"></i> {% trans "Ver/Editar" %}
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {% blocktrans %}
                                Eventos registrados:
                            {% endblocktrans %}
                            {% if object.eventos.count %}
                                {{ object.eventos.count }}
                            {% else %}
                                <i>(nenhum evento registrado)</i>
                            {% endif %}
                            {% if object.eventos.count %}
                                {% blocktrans %}
                                    <br />Período coberto: {{ years }}
                                {% endblocktrans %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="card w-100 mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">{% trans "Análises Qualitativas" %}</h5>
                        {% if pode_alterar_agroecossistema %}
                            <div>
                                <!-- <a href="{# url 'qualitativa:parametros_select' agroecossistema_id=agroecossistema.id #}"
    -->
                                <!--    class="btn btn-outline-secondary btn-sm" -->
                                <!--    alt="Configurar" -->
                                <!--    title="Configurar"> -->
                                <!--     <i class="fa fa-cog"></i> -->
                                <!-- </a> -->
                                <a href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}"
                                   class="btn btn-primary btn-sm">
                                    <i class="fa fa-plus mr-1"></i> {% trans "Nova" %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% for analise in object.analise_set.all %}
                            <p class="card-text">
                                <a href="{{ analise.get_update_url }}">{{ analise }}</a>
                            </p>
                        {% empty %}
                            <p class="card-text">{% trans "Nenhuma análise qualitativa" %}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="card w-100 mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">{% trans "Anexos" %}</h5>
                        <div>
                            <a href="{{ agroecossistema.get_anexos_url }}"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-folder-open"></i> {% trans "Ver/Editar" %}
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ agroecossistema.anexos.count }} {% trans "documento(s)" %}</p>
                    </div>
                </div>
                <div class="card w-100 mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">
                            {% trans "Caderno de campo" %}
                            {% if object.anotacoes.count == 1 %}
                                <i>({{ object.anotacoes.count }}{% trans "nota" %})</i>
                            {% else %}
                                <i>({{ object.anotacoes.count }}{% trans "notas" %})</i>
                            {% endif %}
                        </h5>
                        <div>
                            <a href="{% url 'cadernodecampo:anotacao_list' agroecossistema_id=agroecossistema.id %}"
                               class="btn btn-secondary btn-sm"><i class="fa fa-hiking"></i> {% trans "Todas" %}</a>
                            <a href="{% url 'cadernodecampo:anotacao_create' agroecossistema_id=agroecossistema.id %}"
                               class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> {% trans "Nova" %}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if object.anotacoes.count > 0 %}
                            {% for anotacao in object.anotacoes.all|slice:":3" %}
                                <dl class="row col-md-12">
                                    <dt class="col-sm-5 col-md-3 col-lg-12">{{ anotacao.data_visita }}</dt>
                                    <dd class="col-sm-7 col-md-9 col-lg-12">
                                        <a href="{{ anotacao.get_absolute_url }}" class="">{{ anotacao }}</a> <span class="small text-muted">{% blocktrans %}(Por {{ anotacao.autor }}){% endblocktrans %}</span>
                                    </dd>
                                </dl>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">
                                {% trans "Ainda não há anotações no caderno de campo deste agroecossistema. Seja a/o primeira/o a criar uma anotação" %}
                                <a href="{% url 'cadernodecampo:anotacao_create' agroecossistema_id=agroecossistema.id %}">{% trans "clique aqui" %}</a>.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="{% if not sim_slug %}col-md-6{% else %}col-md-12{% endif %} mb-2">
            {% tabela_relatorio totais=totais template_name='quadroSintese' titulo='Análise Econômica' targetId='quadroSintese' addButtonToAnalise=True %}
            <br />
            {% if car.composicoes_nsga.count %}
                <table {% tabela_class editavel=False tableId='composicao_nsga' sticky=False %}
                       id="composicao_nsga">
                    <thead>
                        {% tabela_cabecalho colspan=5 tableTitle="NSGA"|concat:': '|concat:object.nsga targetId='composicao_nsga' editavel=False %}
                        <tr>
                            <th>{% trans "Nome" %}</th>
                            <th>{% trans "Sexo" %}</th>
                            <th>{% trans "Idade" %}</th>
                            <th>{% ajudaIndicador slug="UTF" %} {% trans "Agr." %}</th>
                            <th>{% ajudaIndicador slug="UTF" %} {% trans "Plur." %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horas_p in analise_economica.totais_horastrabalhoporpessoa.all %}
                            <tr>
                                <td>
                                    {{ horas_p.pessoa_nome }}
                                    {% if horas_p.responsavel %}
                                        <span class="asteriskField"
                                              title="Responsável pelo {% ajudaIndicador slug='NSGA' %}">*</span>
                                    {% else %}
                                        ({{ horas_p.get_grau_de_parentesco_display }})
                                    {% endif %}
                                </td>
                                <td>{{ horas_p.get_pessoa_sexo_display }}</td>
                                <td>{{ horas_p.get_idade }}</td>
                                <td>{{ horas_p.utf_agroecossistema|floatformat:2 }}</td>
                                <td>{{ horas_p.utf_pluriatividade|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-secondary mb-0">
                    {% trans "Ainda não há pessoas cadastradas no" %} {% ajudaIndicador slug="NSGA" %}.
                </div>
            {% endif %}
            <br />
            {% if car.terras.count %}
                {% trans "Terras" as Terras %}
                <table {% tabela_class editavel=False tableId='terras' sticky=False %}
                       id="terras">
                    <thead>
                        {% tabela_cabecalho colspan=3 tableTitle=Terras targetId='terras' editavel=False %}
                        <tr>
                            <th>{% trans "Tipo" %}</th>
                            <th>{% trans "Unid." %}</th>
                            <th>{% trans "Área (ha)" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo_sigla, tipo_nome in car.terras.first.TIPOS_TERRA %}
                            {% get_terras car=car tipo=tipo_sigla as terra %}
                            {% if terra.qtde %}
                                <tr>
                                    <td>{{ tipo_nome }}</td>
                                    <td>{{ terra.qtde }}</td>
                                    <td>{{ terra.area }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>{% trans "TOTAL" %}</th>
                            <th>{{ car.terras.count }}</th>
                            <th>{{ car.get_area_total|floatformat:2 }}</th>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <div class="alert alert-secondary mb-0">{% trans "Ainda não há terras registradas." %}</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
