{% extends "base.html" %}

{% load sitetree %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load custom_tags %}

{% block content %}

    {% has_perm 'agroecossistema.cadastrar' user as pode_cadastrar_agroecossistema %}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {{ titulo }}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_agroecossistema %}
            <a class="btn btn-primary btn-sm" href="{% url 'agroecossistema_create' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Novo agroecossistema" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if object_list|length > 0 %}
    <ul class="nav nav-tabs mb-0" role="tablist">
        <li class="nav-item">
            <a
                class="nav-link active"
                id="nav_todos"
                href="#tab_todos"
                role="tab"
                data-toggle="tab"
            >
                {% trans 'Todos' %}
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="nav_meus"
                href="#tab_meus"
                role="tab"
                data-toggle="tab"
            >
                {% trans 'Criados por mim' %}
            </a>
        </li>
    </ul>

    <div class="tab-content mb-5">
        <div role="tabpanel" class="tab-pane fade in active show" id="tab_todos">
            <div class="row">
                <div class="col-sm-12">
                    <table
                        {% tabela_class tableId='lista_agroecossistemas' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                        id="lista_agroecossistemas"
                        datatable-title="Lista de agroecossistemas"
                        datatable-filename="lista_agroecossistemas"
                    >
                        <thead>
                            {% tabela_cabecalho colspan=7 tableTitle='Agroecossistemas' targetId='lista_agroecossistemas' editavel=False %}
                            <tr>
                                <th>{% trans "NSGA" %}</th>
                                <th>{% trans 'Organização' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Comunidade' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Município' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Território' %}</th>
                                <th>{% trans 'Criação' %}</th>
                                <th>{% trans 'Criado por' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agroecossistema in agroecossistemas %}
                            <tr>
                                <td>
                                    <a href="{% url 'agroecossistema_detail' pk=agroecossistema.id %}">{{ agroecossistema.nsga }}</a>
                                </td>
                                <td>{{ agroecossistema.organizacao.nome }}</td>
                                <td class="d-none d-md-table-cell">
                                    {{ agroecossistema.comunidade.nome }}
                                </td>
                                <td class="d-none d-md-table-cell">
                                    {{ agroecossistema.comunidade.municipio.nome }}{% if agroecossistema.comunidade.municipio.uf.sigla %}, {{ agroecossistema.comunidade.municipio.uf.sigla }}{% elif agroecossistema.comunidade.municipio.uf.nome %}, {{ agroecossistema.comunidade.municipio.uf.nome }}{% endif %}, {{ agroecossistema.comunidade.pais.nome }}
                                </td>
                                <td class="d-none d-md-table-cell">{{ agroecossistema.territorio.nome|default_if_none:"-" }}</td>
                                <td data-sort="{{ agroecossistema.criacao|date:"U" }}">{{ agroecossistema.criacao|date:"d/m/Y" }}</td>
                                <td>{{ agroecossistema.autor }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="tab_meus">
            <div class="row">
                <div class="col-sm-12">
                    <table
                        {% tabela_class tableId='lista_agroecossistemas_meus' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                        id="lista_agroecossistemas_meus"
                        datatable-title="Lista de agroecossistemas criados por mim"
                        datatable-filename="lista_agroecossistemas_meus"
                    >
                        <thead>
                            {% tabela_cabecalho colspan=6 tableTitle='Agroecossistemas criados por mim' targetId='lista_agroecossistemas_meus' editavel=False %}
                            <tr>
                                <th>{% trans "NSGA" %}</th>
                                <th>{% trans 'Organização' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Comunidade' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Município' %}</th>
                                <th class="d-none d-md-table-cell">{% trans 'Território' %}</th>
                                <th>{% trans 'Criação' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agroecossistema in own_agroecossistemas %}
                            <tr>
                                <td>
                                    <a href="{% url 'agroecossistema_detail' pk=agroecossistema.id %}">{{ agroecossistema.nsga }}</a>
                                </td>
                                <td>{{ agroecossistema.organizacao.nome }}</td>
                                <td class="d-none d-md-table-cell">
                                    {{ agroecossistema.comunidade.nome }}
                                </td>
                                <td class="d-none d-md-table-cell">
                                    {{ agroecossistema.comunidade.municipio.nome }}{% if agroecossistema.comunidade.municipio.uf.sigla %}, {{ agroecossistema.comunidade.municipio.uf.sigla }}{% elif agroecossistema.comunidade.municipio.uf.nome %}, {{ agroecossistema.comunidade.municipio.uf.nome }}{% endif %}, {{ agroecossistema.comunidade.pais.nome }}
                                </td>
                                <td class="d-none d-md-table-cell">{{ agroecossistema.territorio.nome|default_if_none:"-" }}</td>
                                <td data-sort="{{ agroecossistema.criacao|date:"U" }}">{{ agroecossistema.criacao|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% elif user.is_anonymous %}
    <div class="row mt-5">
        <div class="col-md-12 mt-2">
            <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                <div class="card-body text-center">
                    <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
                         class="w-25"
                         alt=""/>
                    <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
                    <div class="alert alert-dark">
                      <h5>{% trans "Acesso não permitido. Faça Login para continuar" %}</h5>
                        <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                          {% trans "Entrar" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row mt-5">
        <div class="col-md-12 mt-2">
            <div class="alert alert-dark">
              <h5>{% trans "Ainda não há agroecossistemas cadastrados." %}
                    {% if pode_cadastrar_agroecossistema %}
                    {% trans "Seja a/o primeira/o a criar um" %}
                    <a href="{% url 'agroecossistema_create' %}">{% trans "clique aqui" %}</a>.
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
