{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load anexos %}
{% load economica_tags %}
{% load custom_tags %}
{% load relatorios_tags %}
{% load agroecossistema_tags %}
{% load crispy_forms_tags %}

{% block content %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
<div class="row mb-2">

  {###################}
  {# COLUNA ESQUERDA #}
  {###################}

  {% if not sim_slug %}
  <div class="col-md-8 mb-2">
    <div class="col-12">
      <div class="w-100 my-2">

        {% painel_agroecossistema_cabecalho car=car agroecossistema=agroecossistema sim_slug=sim_slug tipo_sigla=tipo_sigla %}

        {# ACCORDION  #}
        <div class="accordion mt-4" id="accordionExample">

          {% for item_title, item_content in accordion_items.items %}
          <div class="card">
            <div style="flex-direction: column;">
              <div style="align-self: stretch;height: 57px; flex-direction: column; display: flex;">
                <div style="padding: 16px; overflow: hidden; align-items: center;gap: 8px;display: inline-flex;" class="accordion-btn-title">
                  <i class="icon-panel-accordion-item mt-1" aria-hidden="true"></i>
                  <div style="flex: 1 1 0; padding-top: 2px;">
                    <a
                      class="btn btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#{{ item_title|slugify }}"
                      aria-expanded="false"
                      aria-controls="{{ item_title|slugify }}">
                      <div class="accordion_title">{{ item_content.title }}</div>
                    </a>
                  </div>
                  <div style="padding: 4px;">
                    <div style="width: 16px; height: 16px; position: relative">
                      {% ajudaIndicadorPainelAgroecossistema slug=item_title %}
                    </div>
                  </div>
                  <div style="gap: 8px;display: flex;" class="icon-panel-accordion-content">
                    <div style="width: 1px; height: 24px; background: #DCDCDE"></div>
                    <div style="padding: 4px; height: 16px; color: #43a4a9" class="icon-panel-accordion icon-panel-chevron-lg-down mt-1"></div>
                  </div>
                </div>
              </div>
            </div> 
            <div id="{{ item_title|slugify }}" data-content-url="{{ item_content.url }}" class="collapse item-accordion" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="mt-3"></div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}



  {##################}
  {# COLUNA DIREITA #}
  {##################}
  <div class="{% if not sim_slug %}col-md-4{% else %}col-md-12{% endif %} mb-2">
    <div class="w-100">

      {# EXPORT DATA #}
      <div class="tableButtons mt-3 text-right">
        &nbsp;
  </div>

  {# ADICIONAR IMAGEM AGROECOSSISTEMA #}
  <div class="w-100 border p-2 mt-3 mb-3 rounded bg-light"
       id="painel_agroecossistema_imagem"
       data-content-url="{% url 'agroecossistema_update_image' agroecossistema.id %}">
    <div class="border p-2 rounded bg-white" style="border-style: dashed !important; border-width: 2px !important;">
    </div>
  </div>

  {# LINHA DO TEMPO #}
  <div class="card w-100">
    <div class="card-header">
      <div class="float-left">
        <h5 class="mb-0 mt-1">{% trans "Linha do Tempo" %}</h5>
      </div>
      <div class="float-right">
        <button
          type="button" data-title="Criar evento"
                        data-content-url="{% url 'linhadotempo:painel_evento_create' agroecossistema.id %}"
                        class="btn btn-primary action-modal">
          <i class="fa fa-plus mr-1" aria-hidden="true"></i>
          {% trans "Criar evento" %} </button>
      </div>
    </div>
    <div id="painel_agroecossistema_linhadotempo" data-content-url="{% url 'linhadotempo:painel_evento_list' agroecossistema.id %}">
      <div class=""></div>
    </div>
  </div>

</div>
</div>
</div>

<div class="modal fade"
     id="modalDetalhes"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalDetalhesLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalhesLabel">{% trans "Informações" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Fechar" %}</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-ameba-right-wrapper" class="modal-right">
    <div class="flex-grow-1 d-flex flex-column justify-content-start full-height">
        <div class="modal-right-header d-flex justify-content-between">
            <h3 class="modal-right-title"></h3>
            <button class="btn modal-right-close" type="button">
                <i class="fa fa-times"></i>
            </button>
        </div>
        {# BODY #}
        <div class="modal-right-body flex-grow-1">
            <dl class="mt-4">
                <dt class="mb-2">{% trans "Ano de referência" %}: {{ analise.ano_referencia|stringformat:"i" }}</dt>
                <dt class="mb-2">{% trans "Ano atual" %}: {{ analise.ano|stringformat:"i" }}</dt>
                <dt>{% trans "Avaliação" %}</dt>
                <dd id="card-avaliacao">
                </dd>
                <dt>{% trans "Mudanças" %}</dt>
                <dd id="card-mudancas">
                </dd>
                <dt>{% trans "Justificativa" %}</dt>
                <dd id="card-justificativa">
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock content %}


{% block includes %}
  {#######################}
  {# SCRIPTS QUALITATIVA #}
  {#######################}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
        rel="stylesheet" />
  <link href="{% vstatic 'admin/css/autocomplete.css' %}"
        type="text/css"
        media="screen"
        rel="stylesheet">
  <link href="{% vstatic 'agroecossistema/css/agroecossistema_painel.css' %}"
        type="text/css"
        media="screen"
        rel="stylesheet">
  {% comment %} <link href="{% vstatic 'main/css/select2-bootstrap4.css' %}" type="text/css" media="screen" rel="stylesheet"> {% endcomment %}
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt-BR.js"></script>
  <link rel="stylesheet"
        href="{% vstatic 'qualitativa/css/comparacao.css' %}">
  <script src="{% vstatic 'main/js/eventos_form_helpers.js' %}"
          type="text/javascript"></script>
  <!--[if lte IE 8]>
    <script src="{% static 'js/excanvas.js' %}"></script>
  <![endif]-->

  {#####################}
  {# SCRIPTS ECONOMICA #}
  {#####################}

  {##################}
  {# SCRIPTS PAINEL #}
  {##################}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <link rel="stylesheet" href="{% vstatic 'anexos/css/anexos.css' %}">
  <script type="text/javascript" src="{% vstatic 'anexos/js/anexos.js' %}"></script>

  {# form.media #}

{% endblock includes %}

{% block includes_footer %}

  {#######################}
  {# SCRIPTS QUALITATIVA #}
  {#######################}
  <script type="text/javascript" src="{% static 'main/js/chart3.min.js' %}"></script>
  <script src="{% vstatic 'main/js/chart3-utils.js' %}"></script>
  <script type="text/javascript">
    let eventos = [{% for evento in eventos_linhadotempo %}{{ evento.as_visjs_json|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}];
    const restUpdateUrl = '{% url "linhadotempo:evento_rest_update" agroecossistema_id=agroecossistema.id %}';
    const restDeleteUrl = '{% url "linhadotempo:evento_rest_delete" agroecossistema_id=agroecossistema.id %}';
    const agroecossistemaId = "{{ agroecossistema.id }}";
    const ano = '{{ ano_car|stringformat:"i" }}';
    const anoReferencia = '{{ analise.ano_referencia|stringformat:"i" }}';
    let newEventoInputId = null;
  </script>

  {##################}
  {# SCRIPTS PAINEL #}
  {##################}
  <script type="text/javascript" src="{% vstatic 'agroecossistema/js/agroecossistema_painel.js' %}"></script>
{% endblock includes_footer %}
