{% extends base %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load economica_tags %}
{% load l10n %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}

{% block includes %}
    <script type="text/javascript" src="{% static 'main/js/Chart.js' %}"></script>
    <script type="text/javascript" src="{% vstatic 'main/js/chartjs-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/chartjs-plugin-datalabels.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
    {% if modulo == 'analiseagregada' %}
        <link rel="stylesheet" href="{% vstatic 'analiseagregada/css/analiseagregada.css' %}">
    {% endif %}
{% endblock %}

{% block post_app %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        {% if totais1 and totais2 %}
            var totais1 = {{ totais1_json|safe }};
            var totais2 = {{ totais2_json|safe }};
            {% if totais1_por_produto_json and totais2_por_produto_json %}
                var totais1_por_produto = {{ totais1_por_produto_json|safe }};
                var totais2_por_produto = {{ totais2_por_produto_json|safe }};
            {% else %}
                var totais1_por_produto = false;
                var totais2_por_produto = false;
            {% endif %}
            {% if modulo == 'analiseagregada' %}
                var totais = {{ totais2_json|safe }};
                var titulo = '{{ titulos.titulo }}';
                var subtitulo1 = '{{ titulos.subtitulo1 }}';
                var subtitulo2 = '{{ titulos.subtitulo2 }}';
            {% else %}
                var titulo = '{{ agroecossistema.nsga }}';
                var subtitulo1 = '{{ car1 }}';
                var subtitulo2 = '{{ car2 }}';
            {% endif %}
        {% else %}
            var totais = {{ totais_json|safe }};
            var totais_por_produto = false;
            var titulo = '{{ titulos.titulo }}';
            var subtitulo = '{{ titulos.subtitulo }}';
        {% endif %}
        {% if modulo == 'analiseagregada' %}
            var evento_gatilho = {% if object.evento_gatilho %}'{{ object.evento_gatilho }}'{% else %}null{% endif %};
            var totais_agroecossistemas = {{ agroecossistemas_json|safe }};
            var subtitulo_agregados = {{ titulos.subtitulo_agregados|safe }};
            totais_agroecossistemas.map((car) => {
                car.totais_economica = JSON.parse(car.totais_economica);
                if (evento_gatilho) {
                    car.totais_simulacao = JSON.parse(car.totais_simulacao);
                }
                return car;
            })
        {% endif %}
        var arquivo_pre = 'comparacao';
    </script>

    <div class="row mb-3">
        <div class="col-12">
            <h1>{{ titulo_geral }}</h1>
            {% if descricao_geral %}
                <h4>{{ descricao_geral }}</h4>
            {% endif %}
        </div>
    </div>
    {% for COMPARACAO in COMPARACOES %}
        {% for item in RELATORIOS|get_item:COMPARACAO.key_tab|get_item:'itens' %}
            {% if item.id == COMPARACAO.id%}
                {% if totais1_por_produto_json or not item.precisa_totais_por_produto %}
                    {% if totais1.totais_subsistemas or not item.precisa_subsistemas %}
                        {% if totais1 and totais2 %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="w-100 text-center">{{ COMPARACAO.titulo }}</h5>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% if totais1 and totais2 %}
                                {% grafico_analise_detail totais=totais1 titulo=item.titulo id=item.id cols=2 vars=item.vars totais_varname='totais1' subtitulo_varname='subtitulo1' comparacao=True ordem=1 %}

                                {% grafico_analise_detail totais=totais2 titulo=item.titulo id=item.id cols=2 vars=item.vars totais_varname='totais2' subtitulo_varname='subtitulo2' comparacao=True ordem=2 legend_id='legend-'|add:item.id %}
                            {% elif modulo == 'analiseagregada' %}
                                {% grafico_analise_detail totais=totais titulo=item.titulo_agregada id=item.id cols=1 vars=item.vars totais_varname='totais' subtitulo_varname='subtitulo' %}
                            {% else %}
                                {% grafico_analise_detail totais=totais titulo=item.titulo id=item.id cols=1 vars=item.vars totais_varname='totais' subtitulo_varname='subtitulo' %}
                            {% endif %}
                        </div>
                        <div class="row mt-2 mb-4">
                            {% if totais1 and totais2 %}
                                <div class="col-12">
                                    <div class="alert alert-info text-center" id="legend-{{ item.id }}" class="grafico_legend text-center"></div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for item in RELATORIOS_AGREGADOS %}
        <div class="row mt-2 mb-4">
            {% grafico_analise_detail totais=totais_agroecossistemas titulo=item.titulo id=item.id cols=1 vars=item.vars totais_varname='totais_agroecossistemas' subtitulo_varname='subtitulo_agregados' %}
        </div>
    {% endfor %}

{% endblock %}
