{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}


    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3 id="composicao_nsga-info">
            {% trans 'Composição do NSGA' %}
                {% include "main/partials/ajuda_btn.html" %}
        </h3>

        <div class="d-flex justify-content-end align-items-center">
            <a href="{% url "agroecossistema:pessoa_list" agroecossistema_id=agroecossistema.id %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-outline-secondary mr-2" data-title="{% trans 'Editar pessoas cadastradas' %}" title="{% trans 'Editar pessoas cadastradas' %}" type="button">
                <i class="fa fa-cog"></i>
            </a>
            {% if pode_alterar_agroecossistema %}
                {% include "main/partials/ciclo_selector.html" %}
            {% endif %}
        </div>
    </div>

    {% box_de_ajuda extra_class='mt-3' %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger mt-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col-md-12">
            <form method="post" class="monitor-formchanges warn-changed-beforeunload">
                {% csrf_token %}
                {% comment %}{{ form|crispy }}{% endcomment %}

                {% tabela editavel=True fitToPage=True tableId="composicao_nsga" colspan=form.visible_fields|length tableTitle="Ver/editar integrantes" %}

                    {{ composicao_nsga_formset.management_form }}

                    {% for f in composicao_nsga_formset.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in f.visible_fields %}
                                        <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% elif forloop.second %}
                            <tbody>
                        {% endif %}
                        <tr class="formset_row composicao_nsga_formset">
                            {% for field in f.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in f.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}

                                    {% comment %}
                                        {% if field.name == 'pessoa' %}
                                            <a href="#" class="btn modal-right-open updateObject" data-title="Editar">
                                                <i class="fa fa-pen"></i>
                                            </a>
                                        {% endif %}
                                    {% endcomment %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <script>
    {% if pode_alterar_agroecossistema %}
        $('.composicao_nsga_formset').formset({
            addText: '<i class="fas fa-plus mr-2"></i>Adicionar ao NSGA',
            addCssClass: 'button-new btn btn-secondary',
            deleteText: '<i class="fas fa-trash-alt"></i>',
            deleteCssClass: 'btn btn-danger btn-xs button-delete',
            prefix: 'composicoes_nsga',
            dataTableId: 'composicao_nsga'
        });

        $('<a href="{% url "agroecossistema:pessoa_list" agroecossistema_id=agroecossistema.id %}?next={{ request.path|urlencode }}&force_edit=1" class="btn btn-primary ml-2 datatable-export-disabled" data-title="Editar pessoas cadastradas" type="button"><i class="fas fa-user-plus mr-2"></i>{% trans "Editar pessoas cadastradas" %}</a>').insertAfter('.button-new');
        // $('<button class="btn btn-primary ml-2 datatable-export-disabled modal-right-open" data-title="Cadastrar pessoa" type="button"><i class="fas fa-user-plus mr-2"></i>Cadastrar pessoa</button>').insertAfter('.button-new');

        $('.dynamic-form-add').appendTo($('.button-new').parents('table').find('tfoot'));
    {% else %}
        jQuery(document).ready(function () {
            jQuery('input, select, textarea').prop('disabled', true);
        });
    {% endif %}
    </script>

{% endblock %}

{% comment %}
{% block modal_right_body %}
    {{ pessoa_form.management_form }}
    {% csrf_token %}
    {{ pessoa_form|crispy }}
    {{ pessoa_form.media }}
{% endblock %}
{% endcomment %}
