{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}


{% block content %}
    {% has_perm 'permissao_padrao' user as pode_alterar_cicloanualreferencia %}
    <h3>{% trans "Ciclo anual de referência" %}: {{ object }}
      {% if agroecossistema.cars.count > 1 %}<a href="{% url 'agroecossistema:car_list' agroecossistema_id=agroecossistema.id %}" class="btn btn-primary"><i class="fas fa-eye mr-1"></i> {% trans "Ver todos os ciclos anuais registrados" %}</a>{% endif %}
    </h3>

    <div class="card w-100 mt-5">
        <div class="card-header">
          <h5 class="card-title mb-0">{% trans "Composição do NSGA" %}
            {% if object.composicoes_nsga.all %}
            ({{ object.composicoes_nsga.all.count }} {% trans "pessoas" %})
            {% endif %}
            {% if pode_alterar_cicloanualreferencia %}
            <a class="btn btn-primary btn-sm" href="{% url 'agroecossistema:car_update_composicao' agroecossistema_id=agroecossistema.id ano_car=object.ano %}"><i class="fas fa-pen mr-1"></i> {% trans 'Editar' %}</a>{% endif %}</h5>
        </div>
        <div class="card-body">
            {% if object.composicoes_nsga.all  %}
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                      <th>{% trans "Nome" %}</th>
                      <th>{% trans "Sexo" %}</th>
                      <th>{% trans "Data de Nascimento" %}</th>
                      <th>{% ajudaIndicador slug="UTF" %} {% trans "Agroecossistema" %}</th>
                      <th>{% ajudaIndicador slug="UTF" %} {% trans "Pluriatividade" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for composicao_nsga in object.composicoes_nsga.all %}
                        <tr>
                            <td>{{ composicao_nsga.pessoa.nome }}{% if composicao_nsga.responsavel %}
                                <span class="asteriskField" title="Responsável pelo NSGA">*</span>{% else %} ({{ composicao_nsga.get_grau_de_parentesco_display }}){% endif %}</td>
                            <td>{{ composicao_nsga.pessoa.get_sexo_display }}</td>
                            <td>{{ composicao_nsga.pessoa.data_nascimento }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="font-italic mb-0">
                  {% trans "A composição do NSGA ainda está vazia." %}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="card w-100 mt-4">
        <div class="card-header">
            <h5 class="card-title mb-0">Terras{% if object.terras.all %} ({{ object.terras.get_area_total }}ha){% endif %}{% if pode_alterar_cicloanualreferencia %} <a class="btn btn-primary btn-sm" href="{% url 'agroecossistema:car_update_terras' agroecossistema_id=agroecossistema.id ano_car=object.ano %}"><i class="fas fa-pen mr-1"></i> {% trans 'Editar' %}</a>{% endif %}</h5>
        </div>
        <div class="card-body">
            {% if object.terras.all  %}
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                      <th>{% trans "Tipo" %}</th>
                      <th>{% trans "Área (ha)" %}</th>
                      <th>{% trans "Observações" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for terra in object.terras.all %}
                        <tr>
                            <td>{{ terra.get_tipo_display }}</td>
                            <td>{{ terra.area_territorio }}</td>
                            <td>{{ terra.observacoes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="font-italic mb-0">
                  {% trans "Não há terras registradas." %}
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
