{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3 id="composicao_nsga-info">
            {% trans 'Terras' %}
            {% include "main/partials/ajuda_btn.html" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_alterar_agroecossistema %}
                {% include "main/partials/ciclo_selector.html" %}
            {% endif %}
        </div>
    </div>

    {% box_de_ajuda extra_class='mt-3' %}

    <div class="row mt-3">
        <div class="col-md-12">
            <form method="post" class="monitor-formchanges warn-changed-beforeunload convert-numbers-to-float">
                {% csrf_token %}
                {{ form|crispy }}

                {% tabela editavel=True fitToPage=True tableId="tabela_terras" colspan=form.visible_fields|length tableTitle="Ver/editar terras" %}

                    {{ terras_formset.management_form }}

                    {% for form in terras_formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% elif forloop.second %}
                            <tbody>
                        {% endif %}
                        <tr class="formset_row terra_formset">
                            {% for field in form.visible_fields %}
                                <td class="{{ field|field_type }}">
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>{% trans 'Total' %}</th>
                            <th class="decimalfield_direct" data-field-total="area_territorio"></th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>

                <script>
                    function executa_calculos() {
                        var params = [
                            {
                                lista_colunas: ['area_territorio'],
                                valor_origem_name: null,
                                out_quantidade_field: null,
                                out_valor_field: '',
                                sum_columns: true
                            }
                        ];
                        soma_colunas_bulk('#tabela_terras', params, '.dataTables_scrollFoot table');
                    }

                    calculosCallbacks.push('executa_calculos');
                    onChangeHooks.push('executa_calculos');


                    {% if pode_alterar_agroecossistema %}
                        $('.terra_formset').formset({
                            addText: '<i class="fas fa-plus mr-2"></i>Adicionar terra',
                            addCssClass: 'button-new btn btn-secondary',
                            deleteText: '<i class="fas fa-trash-alt"></i>',
                            deleteCssClass: 'btn btn-danger btn-xs button-delete',
                            prefix: 'terras',
                            dataTableId: 'tabela_terras'
                        });
                        // $('<button class="btn btn-primary mr-2 datatable-export-disabled" type="submit"><i class="fas fa-database mr-1"></i> Gravar</button>').insertBefore('.button-new');
                        $('.dynamic-form-add').appendTo($('.button-new').parents('table').find('tfoot'));
                    {% else %}
                        jQuery(document).ready(function () {
                            jQuery('input, select, textarea').prop('disabled', true);
                        });
                    {% endif %}
                </script>

            </form>
        </div>
    </div>

{% endblock %}
