{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load agroecossistema_tags %}
{% load crispy_forms_tags %}
{% load vstatic %}
{% load custom_tags %}
{% load economica_tags %}

{% block includes %}
    <script src="{% vstatic 'agroecossistema/js/cicloanualreferencia_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% get_car_list as get_car_list %}
{% get_ajuda as ajuda %}
    <h3>
        Nova Análise Econômica
        {% include "main/partials/ajuda_btn.html" %}
    </h3>

    {% box_de_ajuda %}

    {% if form.errors %}
        <div class="alert alert-danger mt-4">
            {% trans "Um ciclo deste ano já existe! Por favor, escolha outro ano" %}
        </div>
    {% endif %}
    <div class="row{% if not form.errors %} mt-4{% endif %}">
        <div class="col-sm-12 col-md-8 col-lg-6">
            {% crispy form %}
        </div>
    </div>
    <script>
        const choicesHelpText = {{ CHOICES_HELP_TEXTS|safe }}
        var mesInicioCiclo = {{ agroecossistema.mes_inicio_ciclo }};
        var mesInicioCicloNome = "{{ agroecossistema.mes_inicio_ciclo|month_name }}";
        var mesFimCiclo = {{ agroecossistema.mes_fim_ciclo }};
        var mesFimCicloNome = "{{ agroecossistema.mes_fim_ciclo|month_name }}";
        {% if get_car_list|length == 0 %}
            setTimeout(function() {
                $('#div_id_tipo_criacao, #div_id_ciclo_base').hide();
                $('input[name=tipo_criacao]').each(function(i, el) {
                    $(el).prop('checked', $(el).val() == 'limpa')
                })
            }, 300)
        {% endif %}

        $(document).ready(function(){
            for (key in choicesHelpText) {
                const text = choicesHelpText[key];
                $(`.form-check :input[value="${key}"]`).parents('.form-check').append(`<div class="text-muted mb-1">${text}</div>`)
            }
            $('input[type=radio][name="tipo_criacao"]').on('change',function(evt) {
                $('#div_id_ciclo_base').toggleClass('d-none', $(this).val() == 'limpa');
            });
        })
    </script>

{% endblock %}
{% block modal_right_body %}
{% endblock %}
