{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load custom_tags %}
{% load economica_tags %}

{% block includes %}
    <script src="{% vstatic 'agroecossistema/js/cicloanualreferencia_list.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% has_perm 'permissao_padrao' user as pode_cadastrar_cicloanualreferencia %}
    {% get_ajuda as ajuda %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Análises Econômicas" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_cicloanualreferencia %}
                <a class="btn btn-primary btn-sm mr-2" href="{% url 'agroecossistema:car_create' agroecossistema_id=agroecossistema.id %}">
                    <i class="fas fa-plus mr-1"></i>
                    {% trans "Nova Análise Econômica" %}
                </a>
            {% endif %}
        </div>
    </div>


    {% if pode_cadastrar_cicloanualreferencia %}
        {% if object_list|length > 0 %}
            <div class="row mt-3">
                <div class="col-sm-12">
                    <table
                        {% tabela_class tableId='lista_cicloanualreferencia' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                        id="lista_cicloanualreferencia"
                        datatable-title="Lista de análises econômicas"
                        datatable-filename="lista_cicloanualreferencia"
                    >
                        <thead>
                            {% tabela_cabecalho colspan=3 tableTitle='Análises Econômicas' targetId='lista_cicloanualreferencia' editavel=False %}
                            <tr>
                                <th>{% trans "Análise Econômica" %}</th>
                                <th>{% trans "Criada em" %}</th>
                                <th class="min no-sort">{% trans "Ações" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr class="car-line">
                                <td><a href="{% if object.sim_slug %}{% get_economica_analise_detail_url agroecossistema_id=agroecossistema.id sim_slug=object.sim_slug ano_car=object.ano %}{% else %}{% get_economica_analise_detail_url agroecossistema_id=agroecossistema.id ano_car=object.ano %}{% endif %}">{{ object }}</a></td>
                                <td>{{ object.criacao }}</td>
                                <td class="text-danger text-center min"><i class="fas fa-trash clickable car-apagar" data-url="{{ object.get_delete_ajax_url }}" data-carname="{{ object }}"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="col-md-12 mt-2">
                <div class="alert alert-info">
                    <h5>{% trans 'Ainda nao há Análises Econômicas cadastradas.' %}
                        {% if pode_cadastrar_cicloanualreferencia %}
                        {% trans "Seja a/o primeira/o a criar um" %}
                        <a href="{% url 'agroecossistema:car_create' agroecossistema_id=agroecossistema.id %}">{% trans "clique aqui" %}</a>.
                        {% endif %}
                    </h5>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <div class="alert alert-info">
                    <h5>
                        {% trans 'Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar.' %}
                    </h5>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
