{% load i18n %}

{#############}
{# CABEÇALHO #}
{#############}
<div class="g-3 mt-4">
  <div class="col-12" style="background-color:#F4F4F4;">
    <div class="row p-3" style="box-shadow: 0px -2px 0px #BFBFBF inset;">
      <div class="col-8" id="title_diagrama_fluxo_carousel" style="
      color: #333238;
      font-size: 16px;
      font-weight: 600;
      line-height: 32px;
      ">
      </div>
      <div class="col-4 text-right p-0">
        <button
          data-title="Editar diagrama"
          data-content-url=""
          id="diagrama_fluxo_btn_edit"
          title="{% trans 'Editar' %}"
          class="btn btn-outline-secondary mr-2 modal-right-open action-modal">
          <i class="fas fa-cog"></i>
        </button>
        <button
          id="btn-criar"
          class="btn btn-primary modal-right-open action-modal"
          data-title="Novo diagrama"
          data-content-url="{% url 'painel_diagrama_fluxo_create' agroecossistema.id %}"
          >
          <i class="fas fa-plus mr-1"></i>
          {% trans "Novo diagrama" %}

        </button>
        <a class="btn btn-sm btn-link" type="button" data-target="#carouselDiagramaFluxo" data-slide="prev">
          <span class="icon-panel-chevron-lg-left mt-1" aria-hidden="true"></span>
          <span class="sr-only">{% trans "anterior" %}</span>
        </a>
        <a class="btn btn-sm btn-link" type="button" data-target="#carouselDiagramaFluxo" data-slide="next">
          <span class="icon-panel-chevron-lg-right mt-1" aria-hidden="true"></span>
          <span class="sr-only">{% trans "próximo" %}</span>
        </a>
      </div>
    </div>
  </div>
</div>

{############}
{# CAROUSEL #}
{############}
<div class="col-12">
  <div id="carouselDiagramaFluxo" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      {% for obj in object_list %}
      <div role="tabpanel"
           class="carousel-item tab-pane
           {# if request.GET.param_atributo_id #}
           {% if 3 == 2 %}
           {% if request.GET.param_atributo_id == atributo_id %} active show{% endif %}
           {% else %}
           {% if forloop.first %} active show{% endif %}
           {% endif %}"
           id="at{{ obj.id }}"
           data-tbl-atributo="{{ obj.id }}"
           data-atributo-title=""
           data-atributo-title-header="{{ obj.nome|title }}"
           data-edit-url="{% url 'painel_diagrama_fluxo_update' obj.id %}">
        <div class="mb-3 mt-3">
          <p>
            {{ obj.descricao }}
          </p>
          <img src="{{ obj.arquivo.url }}" class="d-block w-100 img-thumbnail" alt="{% trans 'Diagrama de fluxo' %}">
        </div>
      </div>
      {% empty %}
      <div class="col">{% trans "Nenhum diagrama de fluxo encontrado" %}</div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  setTitleDiagramaFluxoCarousel($('#carouselDiagramaFluxo'));
</script>
