{% load crispy_forms_tags %}

{% if not object.imagem %}
  <div class="row" onclick='$("#id_imagem", "#formAgroecossistemaImage").click();' style="cursor: pointer;" title="clique para adicionar uma imagem">
    <div class="col-1">
      <i class="fa fa-upload ml-3" aria-hidden="true"></i>
    </div>
    <div class="col-11 text-center">
      Adicionar imagem do agroecossistema
    </div>
  </div>
{% else %}
<button class="btn btn-sm btn-light position-absolute m-2"
        title="Apagar imagem"
        id="agroecossistema_delete_image">
  <i class="fas fa-trash text-danger" aria-hidden="true"></i>
</button>
<img src="{{ object.imagem.url }}"
     onclick='$("#id_imagem", "#formAgroecossistemaImage").click();'
     title="clique para alterar a imagem"
     class="w-100"
     style="object-fit: cover; height: 250px; cursor: pointer"
     alt="imagem do agroecossistema">
{% endif %}
<form
  class="form" action="{% url 'agroecossistema_update_image' agroecossistema.id %}"
               id="formAgroecossistemaImage"
               name="formAgroecossistemaImageUpdate"
               enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
</form>

{{ form.media }}

<script>
$("#div_id_imagem").css("display", "none");
</script>
