{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock includes %}
{% block content %}
    {% has_perm 'permissao_padrao' user as pode_cadastrar_pessoa %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Pessoas" %}
            {% include "main/partials/ajuda_btn.html" %}
        </h3>
    </div>
    {% if user.is_authenticated %}
        <div class="row mt-3 mb-5">
            <div class="col-sm-12">
                {{ form.errors }}
                <form method="post"
                      class="monitor-formchanges warn-changed-beforeunload convert-numbers-to-float">
                    {% csrf_token %}
                    <div class="d-none">{{ form|crispy }}</div>
                    {% tabela2 editavel=True fitToPage=True tableId="lista_pessoas" colspan=form.visible_fields|length tableTitle="Lista de pessoas cadastradas" forceEdit=force_edit %}
                        {{ pessoas_formset.management_form }}
                        {% for form in pessoas_formset.forms %}
                            {% if forloop.first %}
                                <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th {% if forloop.last %}class="datatable-export-disabled hideOnToggleEditar"{% endif %}>
                                                {{ field.label|capfirst }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ form.media }}
                                {% endif %}
                                <tr class="formset_row pessoa_formset">
                                    {% for field in form.visible_fields %}
                                        <td class="{{ field|field_type }}">
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>&nbsp;</tfoot>
                    {% endtabela2 %}
                    {{ form.media }}
                </form>
            </div>
        </div>
    {% else %}
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <div class="alert alert-info">
                    <h5>{% trans "Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar." %}</h5>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
    $('.pessoa_formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>Cadastrar pessoa',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'pessoas',
        dataTableId: 'lista_pessoas'
    });
    </script>
{% endblock content %}
