{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
{% has_perm 'permissao_padrao' user as pode_cadastrar_pessoa %}
{% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
{% if user.is_authenticated %}

{% for obj in object_list %}
<div class="mb-3" 
  style="border-radius: 6px; border: 1px #E5E5E5 solid;flex-direction: column;justify-content: flex-start; display: inline-flex; width:100%">
  <div style="padding-left: 12px;padding-right: 12px;padding-top: 16px;padding-bottom: 16px;background: #F4F4F4;box-shadow: 0px -1px 0px #BFBFBF inset; align-items: center;gap: 8px;display: inline-flex;">
    <div style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
      <div style="flex: 1 1 0;color: #333238;font-size: 16px; font-weight: 600; word-wrap: break-word;"> {{ obj.projecao_de_futuro|striptags|slice:":100" }} </div>
    </div>
    <div style="background-color: #fff;">
      <button
        type="button"
        data-title="Editar projeção"
        data-content-url="{% url 'painel_projecao_futuro_update' obj.id %}"
        class="btn btn-outline-primary action-modal">
        <i class="fa fa-pen mr-1" aria-hidden="true"></i>
        {% trans "Editar" %}
      </button>
    </div>
  </div>
  <div class="">
    <div style="">
      <div style="flex: 1 1 0;padding: 16px; display: inline-flex;">
        <div style="">
          <div style="flex: 1 1 0;color: #535158;font-size: 14px; line-height: 16px;">
            {% if obj.fragilidades %}
            <p>
              <b>{% trans "Fragilidades" %}:</b> {{ obj.fragilidades|striptags }}
            </p>
            {% endif %}
            {% if obj.potencialidades %}
            <p>
              <b>{% trans "Potencialidades" %}:</b> {{ obj.potencialidades|striptags }}
            </p>
            {% endif %}
            {% if obj.projecao_de_futuro %}
            <p>
              <b>{% trans "Projeção de futuro" %}:</b> {{ obj.projecao_de_futuro|striptags }}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% empty %}
<div class="row mt-3">
  <div class="col-md-12 mt-2">
    <div class="alert alert-info">
      <h5>{% trans "Nehum registro de projeção de futuro para este agroecossistema." %}</h5>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="row mt-3">
  <div class="col-md-12 mt-2">
    <div class="alert alert-info">
      <h5>{% trans "Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar." %}</h5>
    </div>
  </div>
</div>
{% endif %}


<div style="width: 100%; padding-right: 12px;padding-top: 16px;padding-bottom: 16px;background: #F4F4F4;box-shadow: 0px -1px 0px #BFBFBF inset; display: inline-flex;">
  <div style="flex: 1 1 0; height: 23px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
    <div style="flex: 1 1 0; color: #333238; font-size: 18px; font-family: Open Sans; font-weight: 600; line-height: 22.50px; word-wrap: break-word"> </div>
  </div>
  <button
    type="button"
    data-title="Criar projeção"
    data-content-url="{% url 'painel_projecao_futuro_create' agroecossistema.id ano_car %}"
    class="btn btn-primary action-modal">
    <i class="fa fa-plus mr-1" aria-hidden="true"></i>
    {% trans "Anotações" %}
  </button>
</div>
{% endblock content %}
