{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load economica_tags %}

{% block includes %}
    <script src="{% vstatic 'agroecossistema/js/cicloanualreferencia_list.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% has_perm 'permissao_padrao' user as pode_cadastrar_cicloanualreferencia %}
    {% get_car_list as get_car_list %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Simulações" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_cicloanualreferencia %}
                <a class="btn btn-primary btn-sm mr-2" href="{% url 'agroecossistema:sim_create' agroecossistema_id=agroecossistema.id ano_car=ano_car %}">
                    <i class="fas fa-plus mr-1"></i>
                    {% trans "Nova simulação" %}
                </a>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary">{{ car }}</button>

                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Mudar análise</span>
                </button>
                <div class="dropdown-menu bg-primary">
                    {% for outroCiclo in get_car_list %}
                        {% if car.ano != outroCiclo.ano %}
                            <a class="dropdown-item" href="{{ outroCiclo.get_subsistema_list_url }}">
                                {{ outroCiclo }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if get_car_list|length > 1 %}
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'agroecossistema:car_create' agroecossistema_id=agroecossistema.id %}">
                        <i class="fa fa-plus mr-2"></i> {% trans 'Novo Ciclo' %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-2">
        {% if object_list|length > 0 %}
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                      <th>{% trans "Nome" %}</th>
                      <th>{% trans "Criada em" %}</th>
                      <th class="text-center min" colspan="2">{% trans "Ações" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="car-line">
                            <td><a href="{{ object.get_economica_analise_detail_url }}">{{ object.sim_nome }}</a></td>
                            <td>{{ object.criacao }}</td>
                            <td class="text-primary text-center min"><a href="{{ object.get_update_url }}"><i class="fas fa-pen"></i></a></td>
                            <td class="text-danger text-center min"><i class="fas fa-trash clickable car-apagar" data-url="{{ object.get_delete_ajax_url }}" data-carname="{{ object }}"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                    <h5>{% trans 'Ainda nao há Simulações cadastradas.' %}
                        {% if pode_cadastrar_cicloanualreferencia %}
                        {% trans "Seja a/o primeira/o a criar uma simulação deste ciclo" %}
                            <a href="{% url 'agroecossistema:sim_create' agroecossistema_id=agroecossistema.id ano_car=ano_car %}">
                              {% trans "clique aqui" %}</a>.
                        {% endif %}
                    </h5>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
