{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load agroecossistema_tags %}
{% load crispy_forms_tags %}
{% load vstatic %}

{% block content %}
<script>
    var onChooseCreationType = function() {
        var cicloBaseInput = $('#div_id_ciclo_base');
        var selectedInput = $('#div_id_tipo_criacao input:checked');
        switch (selectedInput.val()) {
            case 'apenas_terras_e_composicao':
            case 'ae_estrutura':
            case 'ae_completa':
            case 'car_em_sequencia':
                cicloBaseInput.show();
                break;
            default:
                cicloBaseInput.hide();
        }
    };

    $(document).ready(function(){
        onChooseCreationType();
        $('#div_id_tipo_criacao input').on('click',function(evt) {
            onChooseCreationType();
        });
    })
</script>

    <h3>{{ titulo }}
      <a class="btn btn-secondary btn-sm" href="{% url 'agroecossistema:sim_list' agroecossistema_id=agroecossistema.id ano_car=ano_car %}"><i class="fas fa-eye"></i> {% trans "Ver simulações já cadastradas" %}</a>
    </h3>
    <div class="row mt-5">
        <div class="col-md-12">
            {% crispy form %}
        </div>
        <div class="col-md-12 mt-2 mb-2">
        </div>
        <div class="col-md-12">
            <div class="alert alert-secondary">
                <p class="small m-0">
                  <strong>{% trans "Obs:" %}</strong>
                  {% trans "Neste agroecossistema, o ciclo anual é de:" %}
                  <strong>{{ agroecossistema.mes_inicio_ciclo|month_name }} a {{ agroecossistema.mes_fim_ciclo|month_name }}
                    {% if agroecossistema.mes_inicio_ciclo < agroecossistema.mes_fim_ciclo %}
                    {% trans "do mesmo ano" %}
                    {% else %}
                    {% trans "do ano seguinte" %}
                    {% endif %}
                  </strong>
                  <a class="btn btn-success btn-sm ml-2" href="{{ agroecossistema.get_update_url }}">
                    <i class="fas fa-wrench"></i> {% trans "alterar" %}</a>
                </p>
            </div>
        </div>
    </div>
    <script>
        var mesInicioCiclo = {{ agroecossistema.mes_inicio_ciclo }};
        var mesInicioCicloNome = "{{ agroecossistema.mes_inicio_ciclo|month_name }}";
        var mesFimCiclo = {{ agroecossistema.mes_fim_ciclo }};
        var mesFimCicloNome = "{{ agroecossistema.mes_fim_ciclo|month_name }}";
    </script>

{% endblock %}
