{% load crispy_forms_tags %}
{% load i18n %}

<script type="text/template" id="tpl_formset_{{ formset.obj_instance.prefix }}">
  <table class="table">
      {{ formset.obj_instance.empty_form|crispy }}
    </table>
    <!--
    <p><button class="delete-row" data-row-id="id_{{ formset.obj_instance.empty_form.prefix }}">[ x ]</button></p>
    -->
</script>

<div class="block-extra-forms" id="formset-wrapper-{{ formset.obj_instance.prefix }}">

  <h3 class="formset_title">{{ formset.options.title|default:formset.obj_instance.prefix }}</h3>

  <div class="items">
    {{ formset.obj_instance.management_form }}

    {% for form in formset.obj_instance.forms %}
    <div class="item form-row" id="id_{{ formset.obj_instance.prefix }}">
      <table class="table">
        {{ form|crispy }}
      </table>
    </div>
    {% endfor %}
  </div>
  <button id="add-row-{{ formset.obj_instance.prefix }}" class="btn btn-sm btn-primary">
    <i class="fa fa-plus-circle"></i> {% trans "item" %}</button>
  <hr />
</div>
