<script>
  function modal_close_callback() {
    $('.modal').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  }

  // btn to remove item formset
  function mark_item_to_remove(btn) {

    // label = $(btn.prevAll('.formset-modal-label')[0]);
    label = btn.parents('div').eq(0).prevAll('.formset-modal-block').find('.formset-modal-label')
    checkbox_delete_id = btn.data('target');

    if (btn.hasClass('active')) {
      btn.removeClass('active');
      label_content = $('del', label).html();
      label.html(label_content);

      $(checkbox_delete_id).attr('checked', false);
    }
    else {
      btn.addClass('active');
      label_content = label.html();
      label_content = '<del>' + label_content + '</del>';
      label.html(label_content);

      $(checkbox_delete_id).attr('checked', true);
    }
  }

  $('.formset-modal-remove').off("click").on('click', function(event, elem){
    mark_item_to_remove($(this));
  });

  // hide checkbox "apagar"
  $('*[id$="DELETE"]').css('display', 'None');
</script>
