{% load crispy_forms_tags %}
{% load i18n %}

<div class="block-extra-forms" id="formset-wrapper-{{ formset.obj_instance.prefix }}">

  <label class="formset_title">{{ formset.options.title|default:formset.obj_instance.prefix }}</label>

  <div class="items">
    {{ formset.obj_instance.management_form }}

    {% for form in formset.obj_instance.forms %}
    <div class="row">
    <!-- MODAL -->
    <!-- o seguinte atributo foi removido da estrutura modal para funcionar corretamente o Select2: `tabindex="-1"` -->
    <div class="modal fade" id="formset-modal-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}" role="dialog"
      aria-labelledby="formset-modal-label-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formset-modal-label-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}">
              {{ formset.options.title }} -
              {% if form.instance.id %}{% trans "Editar" %}{% else %}{% trans "Adicionar" %}{% endif %}
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

            {{ form|crispy }}

          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Fechar" %}</button>
            <button class="btn btn-primary" type="submit">{% trans "Gravar" %}</button>
          </div>
        </div>
      </div>
    </div>

    {% if form.instance.id %}
      <div class="col-sm-8 formset-modal-block">
        <span class="formset-modal-label" id="formset-label-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}">
          <div class="row">
          {% for cell in form.instance.formated %}
            <div class="col">{{ cell }}</div>
          {% endfor %}
          </div>
        </span>
      </div>
    {% endif %}


    {% if form.instance.id %}
      <div class="col-sm-4">
        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#formset-modal-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-sm formset-modal-remove"
          id="formset-remove-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}"
          data-target="#id_{{ formset.obj_instance.prefix }}-{{ forloop.counter0 }}-DELETE">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    {% else %}
      <button type="button" class="btn btn-sm formset_add" data-toggle="modal" data-target="#formset-modal-{{ formset.obj_instance.prefix }}-{{ form.instance.id }}">
        <i class="fa fa-plus-circle"></i> {% trans "Adicionar " %} {{ formset.options.title|lower|default:"item" }}
      </button>
    {% endif %}
    </div>
    {% endfor %}

  </div>
  <hr />
</div>
