{% load static %}

<script src="{% static 'formsetview/js/jquery.formset.js' %}"></script>

<script>
// Solucao do Select2 com o problema comum previsto:
// https://select2.org/troubleshooting/common-problems
$.fn.modal.Constructor.prototype._enforceFocus = function() {};
</script>
{% include '_modal_scripts.html' %}

{% for formset in formsets %}
  {% if formset.options.is_modal %}
  {% else %}
    {% include '_default_scripts.html' %}
  {% endif %}
{% endfor %}

