{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block includes %}
    <script src="{% static 'main/js/jquery.formset.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
{% endblock %}

{% block content %}
{% has_perm 'permissao_padrao' user as pode_alterar_agroecossistema %}

{% if user.is_authenticated %}
    <div class="row mt-3 mb-5">
        <div class="col-sm-12">
            <form method="post" class="monitor-formchanges warn-changed-beforeunload convert-numbers-to-float">
                {% csrf_token %}

                {% tabela editavel=True fitToPage=True tableId="lista_periodos" colspan=formset.visible_fields|length tableTitle=titulo forceEdit=force_edit %}

                    {{ formset.management_form }}

                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th{% if forloop.last %} class="datatable-export-disabled hideOnToggleEditar"{% endif %}>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {{ form.media }}
                        {% endif %}
                        <tr class="formset_row formset">
                            {% for field in form.visible_fields %}
                                <td class="{{ field|field_type }}">
                                    {{ field }}
                                    {% if forloop.first %}
                                        {% if form.errors %}
                                            {% for field, error in form.errors.items %}
                                                {{ error.as_ul }}
                                            {% endfor %}
                                        {% endif %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}

                                    {{ field.errors.as_ul }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                {{ formset.media }}
            </form>
        </div>
    </div>
{% else %}
    <div class="row mt-3">
        <div class="col-md-12 mt-2">
            <div class="alert alert-info">
                <h5>
                    {% trans 'Você não tem acesso a esta área do sistema. Entre com usuária e senha para continuar.' %}
                </h5>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $('.formset').formset({
        addText: '<i class="fas fa-plus mr-2"></i>Cadastrar período',
        addCssClass: 'button-new btn btn-secondary',
        deleteText: '<i class="fas fa-trash-alt"></i>',
        deleteCssClass: 'btn btn-danger btn-xs button-delete',
        prefix: 'periodos',
        dataTableId: 'lista_periodos'
    });
</script>


{% endblock %}
