{% load i18n %}
{% load custom_tags %}

{% get_ajuda as ajuda %}
{% if ajuda %}
    <div
        id="ajudaDaTela"
        data-ajuda-storage-key="{% build_ajuda_storage_key %}"
        class="alert alert-info alert-dismissible fade show{% if extra_class %} {{ extra_class }}{% endif %}"
        role="alert"
    >
        <div class="d-flex align-items-start">
            <i class="far fa-lightbulb"></i>
            <div class="ajudaSubmodulo">
                {{ ajuda|safe }}
            </div>
        </div>
        <button type="button" class="close" data-hide="alert" aria-label="Fechar">
            <span aria-hidden="true" class="fa fa-times"></span>
        </button>
    </div>
{% endif %}
