{% load i18n %}
{% load custom_tags %}
<form>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #f1efed;">
        <h4>{% trans title %}</h4>
        <div class="search-dt-header-initial-panel"></div>
      </li>
      <li class="list-group-item">
        <div class="d-flex">
          <div id="content_{{ id }}" class="tab-content w-100" role="tablist">
            <div class="tab-pane fade show active">
              <table id="table_painel_{{ id }}"
                     class="table datatable no-paging no-ordering fit-dropdown-menu search-is-title">
                <thead>
                  <tr>
                    <th>
                      <div class="tableTitle"></div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for tab in tab_items %}
                    <tr>
                      <td>
                        <b>{% trans tab.title %}</b>
                      </td>
                    </tr>
                    {% for item in tab.items %}
                      <tr>
                        <td>
                          <a class="d-flex flex-column justify-content-start"
                             href="{% url single_url pk=item.id %}">
                            <span><strong>
                              {% if item.nsga %}
                                {{ item.nsga }}
                              {% else %}
                                {{ item.nome }}
                              {% endif %}
                            </span></strong>
                            {% for sub in tab.subs %}
                              {% if item|get_dict_attr:sub.field %}
                                <small>
                                  {% if sub.label %}<strong>{{ sub.label }}:</strong>{% endif %}
                                  {% if sub.isDate %}
                                    {{ item|get_dict_attr:sub.field|date:'d/m/Y' }}
                                  {% else %}
                                    {{ item|get_dict_attr:sub.field|safe|truncatewords:20 }}
                                  {% endif %}
                                </small>
                              {% endif %}
                            {% endfor %}
                          </a>
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td>Nenhum registro encontrado.</td>
                      </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item initial-panel-action-buttons">
        <a class="btn btn-outline-primary" href="{% url list_url %}">{% trans "Ver lista" %}</a>
        <a class="btn btn-primary" href="{% url create_url %}">
          <i class="fa fa-plus mr-1"></i> {% trans title_create %}
        </a>
      </li>
    </ul>
  </div>
</form>
<script>
  /*
  setTimeout(function() {
    {% for tab in tab_items %}
    $(`#table_{{ id }}_{{ tab.id }}_filter`).prependTo('#pane_{{ id }}_{{ tab.id }}');
    {% endfor %}
  }, 1500);
   */
  $( document ).ready(function() {
    console.log($('.search-dt-header-initial-panel')[0])
    console.log($('.dataTables_filter'))
    
  });
</script>
