{% load i18n %}
{% load custom_tags %}
{% load latexify %}

<div id="glossario" class="modal-right">
    <div style="height: 100%" class="flex-grow-1 d-flex flex-column justify-content-start">
        <div class="modal-right-header d-flex justify-content-between">
            <h3 class="modal-right-title mb-2">{% trans 'Glossário Lume' %}</h3>
            <button class="btn modal-right-close" type="button">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-right-body flex-grow-1">
            <table id="glossarioTable" class="cards">
                <thead>
                    <th>
                        {% trans 'Indicador' %}
                    </th>
                    <th>
                        {% trans 'Nome' %}
                    </th>
                    <th>
                        {% trans 'Fórmula' %}
                    </th>
                    <th>
                        {% trans 'Ajuda' %}
                    </th>
                </thead>
                <tbody>
                    {% for indicador in ajuda_indicadores %}
                        <tr id="glossario_{{ indicador.id }}">
                            <td>
                                <h5>
                                    {% if indicador.slug %}
                                        {{ indicador.slug }}
                                    {% else %}
                                        {% trans indicador.nome %}
                                    {% endif %}
                                </h5>
                            </td>
                            <td>
                                {% if indicador.slug %}
                                <h6>
                                    {% trans indicador.nome %}
                                </h6>
                                {% endif %}
                            </td>
                            <td class="ajuda_indicador_ajuda">
                                {{ indicador.ajuda|safe }}
                            </td>
                            <td>
                                {% if indicador.formula %}
                                    <strong>{% trans 'Fórmula:' %}</strong><br />
                                    {% latexify indicador.formula|safe math_inline=True %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- FOOTER -->
        <div class="modal-right-footer">
        </div>
    </div>
</div>
