{% load i18n %}
{% load custom_tags %}
<form>
    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarDropdown_{{ id }}"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">{% trans title %}</a>
    <div class="dropdown-menu dropdown-menu-left dropdown-menu-lista"
         aria-labelledby="navbarDropdown_{{ id }}">
        <div class="d-flex">
            <ul id="tabs_{{ id }}"
                class="nav nav-tabs flex-column align-items-stretch col-6"
                role="tablist">
                {% for tab in tab_items %}
                    <li class="nav-item active">
                        <a id="tab_{{ id }}_{{ tab.id }}"
                           href="#pane_{{ id }}_{{ tab.id }}"
                           class="nav-link d-flex justify-content-between align-items-center{% if forloop.first %} active{% endif %}"
                           data-toggle="tab"
                           role="tab">
                            <span>{% trans tab.title %}</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url list_url %}">{% trans "Ver lista" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url create_url %}">
                        <i class="fa fa-plus mr-1"></i> {% trans title_create %}
                    </a>
                </li>
            </ul>
            <div id="content_{{ id }}" class="tab-content w-100" role="tablist">
                {% for tab in tab_items %}
                    <div id="pane_{{ id }}_{{ tab.id }}"
                         class="tab-pane fade{% if forloop.first %} show active{% endif %}">
                        <table id="table_{{ id }}_{{ tab.id }}"
                               class="table datatable no-paging no-ordering fit-dropdown-menu">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="tableTitle"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tab.items %}
                                    <tr>
                                        <td>
                                            <a class="d-flex flex-column justify-content-start"
                                               href="{% url single_url pk=item.id %}">
                                                <span>
                                                    {% if item.nsga %}
                                                        {{ item.nsga }}
                                                    {% else %}
                                                        {{ item.nome }}
                                                    {% endif %}
                                                </span>
                                                {% for sub in tab.subs %}
                                                    {% if item|get_dict_attr:sub.field %}
                                                        <small>
                                                            {% if sub.label %}{{ sub.label }}:{% endif %}
                                                            {% if sub.isDate %}
                                                                {{ item|get_dict_attr:sub.field|date:'d/m/Y' }}
                                                            {% else %}
                                                                {{ item|get_dict_attr:sub.field|safe|truncatewords:20 }}
                                                            {% endif %}
                                                        </small>
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<script>
    setTimeout(function() {
        {% for tab in tab_items %}
            $(`#table_{{ id }}_{{ tab.id }}_filter`).prependTo('#pane_{{ id }}_{{ tab.id }}');
        {% endfor %}
    }, 1500);
</script>
