{% load i18n %}

<select id='{{ id }}' class='select_lazy' data-src='{{ options_var }}' name='{{ name }}'>
    <option value="">

    </option>
    {% if options %}
        {% for option in options %}
            <option value='{{ option.id }}'>
                {{ option.nome }}
            </option>
        {% endfor %}
    {% endif %}
</select>
