{% load i18n %}
{% load custom_tags %}

<div class="ml-3">
    <select class="custom-select small" id="subsistemaSelector">
        {% for subsistema in subsistemas %}
            <option value="{% get_update_submodulo_url analise_id=analise_id subsistema_id=subsistema.id submodulo=submodulo submodulo_tipo=submodulo_tipo %}"{% if subsistema_id == subsistema.id %} selected{% endif %}>
                {{ subsistema }}
            </option>
        {% endfor %}
    </select>
</div>
