{% load i18n %}
{% load custom_tags %}

<tr class="tableDummyFix">
    {% for x in ""|ljust:colspan %}
        <th></th>
    {% endfor %}
</tr>
<tr>
    <th colspan="{{ colspan }}" class="tableTitleWrapper sorting_disabled">
        <div class="d-flex justify-content-between align-items-baseline">
            <h4 class="tableTitle d-flex align-items-baseline">
                {{ tableTitle }}
                    {% if hasSubsistemaSelector %}
                        {% subsistema_selector %}
                    {% else %}
                        <div class="mx-0 px-0" style="width: 0">
                            <select class="custom-select px-0 mx-0" style="visibility:hidden"></select>
                        </div>
                    {% endif %}
                {% if editavel %}
                <span class="badgeModoEdicao badge badge-pill badge-info ml-3">
                    <i class="fa fa-edit mr-2"></i> {% trans 'Modo de edição' %}
                </span>
                {% endif %}
            </h4>
            <div class="tableButtons{% if positionAbsolute %} tableButtons-position-absolute{% endif %} d-flex">
                {% if ajudaDaTelaBtn %}
                    {% include "main/partials/ajuda_btn.html" %}
                {% endif %}
                <div class="dropdown">
                    <button
                        id="downloadTabela_{{ targetId }}"
                        type="button"
                        class="exportButtons btn btn-info ml-2 dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="fa fa-download"></i>
                    </button>
                    <div
                        class="dropdown-menu dropdown-menu-right exportButtons_{{ targetId }}"
                        aria-labelledby="downloadTabela_{{ targetId }}"
                    >
                        <h1 class="dropdown-header">Exportar</h1>
                    </div>
                </div>
                {% if editavel and pode_alterar_agroecossistema %}
                <button
                    class="toggleEditar botaoEditar btn btn-secondary ml-2"
                    type="button"
                    target="{{ targetId }}"
                >
                    <i class="fa fa-pen"></i> {% trans "Editar" %}
                </button>
                <div class="d-flex justify-content-end align-items-baseline">
                    <div role="alert" class="notify-wrapper">
                        <i class="fa fa-check-circle mr-2"></i> <span class="notify"></span>
                    </div>
                    <div class="notify-loading">
                        <i class="fa fa-spinner fa-spin mr-2"></i> salvando
                    </div>
                    <button
                        class="botaoConcluir btn btn-primary ml-2"
                        type="submit"
                        target="{{ targetId }}"
                    >
                        {% trans "Concluir" %}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </th>
</tr>
