<!DOCTYPE html>
<html lang="pt">
    {% load static %}
    {% load bootstrap4 %}
    {% load sitetree %}
    {% load rules %}
    {% load economica_tags %}
    {% load vstatic %}
    {% load i18n %}
    {% load custom_tags %}
    {% load crispy_forms_tags %}
    {% has_perm 'eh_admin_geral' user as eh_admin_geral %}
    {% has_perm 'agroecossistema.cadastrar' user as pode_cadastrar_agroecossistema %}
    {% has_perm 'organizacao.cadastrar' user as pode_cadastrar_organizacao %}
    {% has_perm 'eventogatilho.visualizar' user as pode_visualizar_eventogatilho %}
    {% has_perm 'analiseagregada.visualizar' user as pode_acessar_analiseagregada %}
    {% has_perm 'conjunto_organizacoes.listagem' user as pode_acessar_conjunto_organizacoes %}
    {% is_agroecossistema_menu as is_agroecossistema_menu %}
    {% is_economica_editar_dados as is_economica_editar_dados %}
    {% lista_agroecossistemas as lista_agroecossistemas %}
    {% lista_agroecossistemas meus=True as lista_meus_agroecossistemas %}
    {% lista_agroecossistemas_publicos as lista_agroecossistemas_publicos %}
    {% get_subsistema_id as subsistema_id %}
    {% get_ano_car as ano_car %}
    {% get_sim_slug as sim_slug %}
    <head>
        <title>{% sitetree_breadcrumbs from 'maintree' template 'main/title_from_breadcrumb.html' %}</title>
        {% bootstrap_javascript jquery='full' %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/datatables.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/plug-ins/1.10.25/filtering/type-based/accent-neutralise.js"></script>
        {% if modulo != 'anexos' %}
            <script src="https://kit.fontawesome.com/40613790f5.js"
                    crossorigin="anonymous"></script>
        {% else %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/regular.min.js"></script>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" />
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" />
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css" />
        {% endif %}
        <link rel="stylesheet"
              type="text/css"
              href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/datatables.min.css" />
        {% bootstrap_css %}
        {% if totais or analise %}
            {% include "latexify/stylesheets.html" %}
        {% endif %}
        {% block includes %}
        {% endblock includes %}
        <script type="text/javascript" src="{% vstatic 'main/js/app.js' %}"></script>
        {% if modulo == 'economica' or modulo == 'analiseagregada' %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
            <script type="text/javascript"
                    src="{% vstatic 'economica/js/economica.js' %}"></script>
        {% endif %}
        {% block post_app %}
        {% endblock post_app %}
        <script type="text/javascript" src="{% vstatic 'main/js/formchanges.js' %}"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="pt-br" />
        <meta name="description"
              content="{% if description %}{{ description }}{% else %}A metodologia LUME - 'Método de Análise Econômico-Ecológica de Agroecossistemas', foi criada pela AS-PTA com a finalidade de dar visibilidade a relações econômicas, ecológicas e políticas que singularizam os modos de produção e de vida da agricultura familiar, povos e comunidades tradicionais e que têm sido historicamente ocultadas ou descaracterizadas pela teoria econômica convencional.{% endif %}" />
        <meta name="keywords" content="{{ keywords }}" />
        <meta name="author" content="AS-PTA" />
        <link rel="shortcut icon"
              href="{% vstatic 'main/img/logo-lume32x32.png' %}">
        <link rel="apple-touch-icon"
              href="{% vstatic 'main/img/logo-lume192x192_semtexto.png' %}">
        <link rel="icon"
              sizes="192x192"
              href="{% vstatic 'main/img/logo-lume192x192_semtexto.png' %}">
    </head>
    <body>
        <!-- elemento loading sobre toda a tela -->
        <div id="loading">
            <div id="loading-inner" class="alert alert-light text-center m-4">
                {% trans "Aguarde" %}... <span class="spinner-border spinner-border-sm text-warning" role="status"></span>
            </div>
        </div>
        <!-- elemento alert-feedback para formulários -->
        <div role="alert"
             id="alert-feedback-danger"
             class="alert alert-danger alert-dismissible fade show"
             style="position:fixed;
                    right: 20px;
                    top: 100px;
                    z-index: 9999;
                    display: none">
            <strong id="alert-feedback-danger-title"></strong>
            <span id="alert-feedback-danger-message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div role="alert"
             id="alert-feedback-success"
             class="alert alert-success alert-dismissible fade show"
             style="position:fixed;
                    right: 20px;
                    top: 100px;
                    z-index: 9999;
                    display: none">
            <strong id="alert-feedback-success-title"></strong>
            <span id="alert-feedback-success-message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <!-- Navbar padrão para as telas -->
        <nav id="topMenu"
             class="navbar navbar-expand-lg fixed-top navbar-dark {% if not sim_slug %}bg-dark{% else %}bg-success{% endif %}">
            <a class="navbar-brand" href="{% url 'MainIndex' %}">
                <img src="{% vstatic 'main/img/logo-lume-cortado.png' %}"
                     height="32"
                     class="d-inline-block align-top"
                     alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">{% nav_dropdown_tabs model='agroecossistema' %}</li>
                        <li class="nav-item dropdown">{% nav_dropdown_tabs model='comunidade' %}</li>
                        <li class="nav-item dropdown">{% nav_dropdown_tabs model='territorio' %}</li>
                        {% if pode_acessar_analiseagregada %}
                            <li class="nav-item dropdown">{% nav_dropdown_tabs model='analiseagregada' %}</li>
                        {% endif %}
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if agroecossistema %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownAtalhos"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-left"
                                     aria-labelledby="navbarDropdownAtalhos">
                                    <a class="dropdown-item"
                                       href="{% url 'qualitativa:analise_create' agroecossistema_id=agroecossistema.id %}">
                                        {% trans "Criar análise qualitativa" %}
                                    </a>
                                    {% if ano_car %}
                                        <a class="dropdown-item"
                                           href="{% url 'agroecossistema:car_create' agroecossistema_id=agroecossistema.id %}">
                                            {% trans "Criar análise econômica" %}
                                        </a>
                                        <a class="dropdown-item"
                                           href="{% url 'agroecossistema:sim_create' agroecossistema_id=agroecossistema.id ano_car=ano_car %}">
                                            {% trans "Criar simulação" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if lista_agroecossistemas_publicos.count > 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdownModelos"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans "Modelos" %}</a>
                            <div class="dropdown-menu dropdown-menu-left"
                                 aria-labelledby="navbarDropdownModelos">
                                {% for agroecossistema_publico in lista_agroecossistemas_publicos %}
                                    <a class="dropdown-item"
                                       href="{% url 'agroecossistema_detail' pk=agroecossistema_publico.id %}">
                                        {{ agroecossistema_publico.nsga }}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    {% elif lista_agroecossistemas_publicos.count == 1 %}
                        {% for agroecossistema_publico in lista_agroecossistemas_publicos %}
                            <li class="nav-item">
                                <a class="nav-link btn btn-light text-dark ml-5"
                                   href="{% url 'agroecossistema_detail' pk=agroecossistema_publico.id %}"
                                   id="navbarDropdownModelos">Modelo: {{ agroecossistema_publico.nsga }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav justify-content-end">
                    {% if user.is_authenticated %}
                        {% if totais or analise or submodulo == 'agroecossistema_painel' %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="navbarGlossario">
                                    <i class="fa fa-book mr-1"></i> {% trans "Glossário Lume" %}
                                </a>
                            </li>
                        {% endif %}
                        {% if sim_slug %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'agroecossistema_detail' pk=agroecossistema.id %}"
                                   id="navbarSairSimulacao">
                                    <i class="fa fa-exit mr-1"></i> {% trans "Sair da simulação" %}
                                </a>
                            </li>
                        {% endif %}
                        {% if pode_cadastrar_agroecossistema or pode_acessar_conjunto_organizacoes %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownConfig"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="navbarDropdownConfig">
                                    {# TODO: alterar linha "if eh_admin_geral" para Modelos de análise Q. para admin de organização #}
                                    {% if eh_admin_geral %}
                                        <a class="dropdown-item" href="{% url 'analise_template_list' %}">{% trans "Modelos de análises qualitativas" %}</a>
                                    {% endif %}
                                    {% if eh_admin_geral %}
                                        <a class="dropdown-item" href="{% url 'eventogatilho_list' %}">{% trans "Eventos-gatilho" %}</a>
                                    {% endif %}
                                    {% if pode_acessar_conjunto_organizacoes %}
                                        <a class="dropdown-item" href="{% url 'conjunto_organizacoes:listar' %}">{% trans "Conjuntos de organizações" %}</a>
                                    {% endif %}
                                    {% if eh_admin_geral %}
                                        <a class="dropdown-item" href="{% url 'unidade_list' %}">{% trans "Unidades" %}</a>
                                        <a class="dropdown-item" href="{% url 'produto_list' %}">{% trans "Produtos/Insumos" %}</a>
                                        <a class="dropdown-item" href="{% url 'servico_list' %}">{% trans "Serviços" %}</a>
                                        <a class="dropdown-item" href="{% url 'ajuda' %}">{% trans "Ajudas" %}</a>
                                        <a class="dropdown-item" href="{% url 'ajuda_indicador' %}">{% trans "Ajudas de Indicadores" %}</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle userMenu"
                               href="#"
                               id="navbarDropdownUsuaria"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <div class="circle">
                                    <div class="initials">{{ user.get_displayname_initials }}</div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                 aria-labelledby="navbarDropdownUsuaria">
                                <h2 class="dropdown-header">
                                    {{ user.get_displayname }}
                                    <br>
                                    <small>{{ user.email }}</small>
                                </h2>
                                <div class="dropdown-item">
                                    <div class="form-inline">
                                        <form action="{% url 'set_language' %}" method="post" class="form-inline">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}">
                                            <select class="custom-select custom-select-sm"
                                                    name="language"
                                                    onchange="this.form.submit(); this.disabled=true;">
                                                {% get_current_language as LANGUAGE_CODE %}
                                                {% get_available_languages as LANGUAGES %}
                                                {% get_language_info_list for LANGUAGES as languages %}
                                                {% for language in languages %}
                                                    <option title="{{ language.name_local }}"
                                                            value="{{ language.code }}"
                                                            {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                                        {{ language.name_local }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="{% url 'organizacao_list' %}">{% trans "Organizações" %}</a>
                                <a class="dropdown-item" href="{% url 'account_change_password' %}">{% trans "Mudar a senha" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item userLogin"
                                   data-toggle="modal"
                                   href="#logoutModal">{% trans "Sair" %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select class="select form-control"
                                        name="language"
                                        onchange="this.form.submit(); this.disabled=true;">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option title="{{ language.name_local }}"
                                                value="{{ language.code }}"
                                                {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                            {# {{ language.name_local }} ({{ language.code }}) #}
                                            {{ language.code }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link userLogin"
                               href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Entrar" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid no-padding">
            {% block content_fluido %}
            {% endblock content_fluido %}
        </div>
        <div id="main-content" class="container-fluid">
            {# GLOSSÁRIO DE AJUDA AOS INDICADORES #}
            {% if totais %}
                {% glossario totais.get_glossario %}
            {% elif analise %}
                {% glossario analise.totais.get_glossario %}
            {% elif submodulo == 'agroecossistema_painel' %}
                {% glossario glossario_model.get_glossario %}
            {% endif %}
            <div id="modal-right-wrapper" class="modal-right">
                {% block modal_right %}
                    {% block modal_right_form_tag %}
                        {% if form %}
                            {% if not form_modal_not_define %}
                            <form method="post" class="w-100 h-100">
                            {% endif %}
                        {% endif %}
                        {% endblock modal_right_form_tag %}
                        <div class="flex-grow-1 d-flex flex-column justify-content-start full-height">
                            {# HEADER #}
                            <div class="modal-right-header d-flex justify-content-between">
                                {% block modal_right_title %}
                                    <h3 class="modal-right-title"></h3>
                                {% endblock modal_right_title %}
                                <button class="btn modal-right-close" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            {# BODY #}
                            <div class="modal-right-body flex-grow-1">
                                {% block modal_right_body %}
                                {% endblock modal_right_body %}
                            </div>
                            {# FOOTER #}
                            <div class="modal-right-footer">
                                {% block modal_right_footer %}
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <button type="button" class="btn btn-danger btn-apagar">Apagar</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary modal-right-close">Cancelar</button>
                                            <button type="submit" class="btn btn-primary btn-salvar-form-modal">Salvar</button>
                                        </div>
                                    </div>
                                {% endblock modal_right_footer %}
                            </div>
                        </div>
                        {% if form %}
                            {% if not form_modal_not_define %}
                            </form>
                            {% endif %}
                        {% endif %}
                {% endblock modal_right %}
            </div>
            {% block menu_sessao %}
                {% if agroecossistema %}
                    {% include "main/partials/menu_agroecossistema.html" %}
                {% elif modulo == 'comunidade' or modulo == 'territorio' %}
                    {% include "main/partials/menu_comunidade_ou_territorio.html" %}
                {% endif %}
            {% endblock menu_sessao %}
            {% if agroecossistema or modulo == 'analiseagregada' or modulo == 'territorio' or modulo == 'comunidade' %}
                <div class="list-group list-group-flush list-group-embaixo">
                    <a class="list-group-item list-group-item-action{% if modulo == 'anexos' %} active{% endif %}"
                       id="sidebar-button"
                       href="#">
                        <i class="mr-1 fa fa-angle-double-left"></i>
                        <i class="mr-1 fa fa-angle-double-right"></i>
                        <span>{% trans "Fechar menu" %}</span>
                    </a>
                </div>
            {% endif %}
            <div id="page-content-wrapper" class="px-0">
                <div class="container-fluid">
                    {% block breadcrumb_bar %}
                        <div id="breadcrumb-holder" class="row">
                            <div class="col-sm-12">{% sitetree_breadcrumbs from 'maintree' template 'sitetree/breadcrumbs_bootstrap4.html' %}</div>
                        </div>
                    {% endblock breadcrumb_bar %}
                    <script>
                  // esconde breadcrumb se estiver vazio
                  var breadcrumb_elem = $('#breadcrumb-holder .breadcrumb');
                  if (! $.trim(breadcrumb_elem.html())) {
                    breadcrumb_elem.css('display', 'none');
                  }
                    </script>
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

            {% block footer %}
            <div id="footer" class="mt-3">
                <div class="row p-3 ml-0 mr-0 text-light {% if not sim_slug %}bg-dark{% else %}bg-success{% endif %}">
                    <div class="col-md-6">
                        <p class="small">
                            {% blocktrans with aspta_site="http://aspta.org.br/" %}
                    Uma iniciativa da <a href="{{ aspta_site }}">AS-PTA</a>
                    {% endblocktrans %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="small">
                            {% blocktrans with eita_site="http://eita.coop.br" %}
                    Plataforma desenvolvida em software livre pela <a href="{{ eita_site }}">Cooperativa EITA</a>.
                    {% endblocktrans %}
                            {% blocktrans with lume_repositorio="https://gitlab.com/eita/lume"  %}
                    Código disponível em <a href="{{ lume_repositorio }}">gitlab.com/eita/lume</a>.
                    {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            {% endblock footer %}
            {% if totais or analise %}
                {% include "latexify/scripts.html" %}
            {% endif %}
            {% block includes_footer %}
            {% endblock includes_footer %}
        </div>
        <div class="push"></div>
        <button class="btn d-none btn-warning"
                onclick="gotoTop()"
                id="gotoTop"
                title="Voltar ao topo">
            <i class="fas fa-arrow-up"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade"
             id="logoutModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans "Sign Out" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="post" action="{% url 'account_logout' %}">
                        <div class="modal-body">
                            <p>{% trans "Are you sure you want to sign out?" %}</p>
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Sair" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="{% vstatic 'main/css/lume.css' %}">
    {% if modulo == 'economica' or modulo == 'analiseagregada' %}
        <link rel="stylesheet" href="{% vstatic 'economica/css/economica.css' %}">
    {% endif %}
</html>
