{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h1>{% trans "Conjunto de Organizações" %} - {% trans "Exclusão" %}</h1>

<p>{% blocktrans %}Confirma exclusão de {{ object }} ?{% endblocktrans %}</p>

<form  class="form-horizontal" id="FormWizard" method="post" >
  {% csrf_token %}
  {{ form|crispy }}
  <div class="form-group">
    <input type="button" name="btn_back" onclick="history.back();" value="Voltar" class="btn btn-primary"> 
    <input type="submit" name="btn_submit" value="Excluir" class="btn btn-danger" id="submit-id-btn_submit"> 
  </div>
</form>
{% endblock %}

