{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}

{% block content %}

{% has_perm 'conjunto_organizacoes.listagem' user as pode_acessar_conjunto_organizacoes %}
{% has_perm 'conjunto_organizacoes.administrar' user as pode_administrar_conjunto_organizacoes %}

{% if pode_acessar_conjunto_organizacoes %}
<div class="mt-3 d-flex justify-content-between align-items-center">
    <h3>
        {% trans "Conjuntos de organizações" %}
    </h3>
    <div class="d-flex justify-content-end align-items-center">
        {% if pode_administrar_conjunto_organizacoes %}
        <a class="btn btn-primary btn-sm" href="{% url 'conjunto_organizacoes:criar' %}">
            <i class="fas fa-plus mr-1"></i>
            {% trans "Novo Conjunto de Organizações" %}
        </a>
        {% endif %}
    </div>
</div>

{% if object_list|length > 0 %}
<div class="row mt-3">
    <div class="col-sm-12">
        <table
            {% tabela_class tableId='lista_conjuntoorganizacoes' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
            id="lista_conjuntoorganizacoes"
            datatable-title="Lista de conjuntos de organizações"
            datatable-filename="lista_conjuntoorganizacoes"
        >
            <thead>
                {% tabela_cabecalho colspan=5 tableTitle='Conjuntos de organizações' targetId='lista_conjuntoorganizacoes' editavel=False %}
                <tr>
                    <th>{% trans "Nome" %}</th>
                    <th class="no-sort">{% trans "Descrição" %}</th>
                    <th>{% trans "Criado por" %}</th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                </tr>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    <td>{{ object.descricao }}</td>
                    <td>{{ object.autoria }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary {% if not pode_administrar_conjunto_organizacoes %} disabled {% endif %}" href="{{ object.get_update_url }}" title="Alterar informações de {{ object }}">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger {% if not pode_administrar_conjunto_organizacoes %} disabled {% endif %}" href="{{ object.get_delete_url }}" title="Excluir {{ object }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="row mt-5">
    <div class="col-md-12 mt-2">
        <div class="alert alert-dark">
            <h5>
                {% trans "Ainda não há conjunto de organizações cadastrados" %}.
                {% if pode_administrar_conjunto_organizacoes %}
                    {% trans "Seja a/o primeira/o a criar um conjunto de organizações" %} <a href="{% url 'conjunto_organizacoes:criar' %}">{% trans "clique aqui" %}</a>.
                {% endif %}
            </h5>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="row mt-5">
    <div class="col-md-12">
        <h3>{% trans "Conjunto de organizações" %}</h3>
        <p>{% trans "Acesso indisponível. Por favor, verifique suas permissões." %}</p>
    </div>
</div>
{% endif %}
{% endblock %}
