{% extends "base.html" %}
{% load formset_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<h3>{% trans "Conjunto de Organizações" %} - {% if object.nome %}{% trans "Alteração" %}{% else %}{% trans "Criação" %}{% endif %}</h3>

<form  class="form-horizontal" id="FormWizard" method="post" >

  {% csrf_token %}
  {{ form|crispy }}

  <div class="form-group">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link p-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <u>{% trans "Usuárias do conjunto" %}</u>
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {% formsets_render formsets %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="button" name="btn_back" onclick="history.back();" value="Voltar" class="btn btn-primary"> 
    <input type="submit" name="btn_submit" value="Salvar" class="btn btn-success" id="submit-id-btn_submit"> 
  </div>
</form>
{% endblock %}

{% block includes %}
<style>
.block-extra-forms .item div {
  margin-right: 10px !important;
}

form .select2-container--default.select2-container--focus .select2-selection--multiple,
form .select2-container--default .select2-selection--multiple {
  line-height: 1.2 !important;
  display: inline-table !important;
}
</style>
{{ block.super }}
{% formsets_scripts formsets %}
{{ form.media }}
{% endblock %}
