{% extends "conjunto_organizacoes/dashboard_base.html" %}
{% load rules %}
{% load i18n %}
{% load l10n %}

{% block content %}
{% has_perm 'conjunto_organizacoes.listagem' user as pode_acessar_conjunto_organizacoes %}
{% has_perm 'conjunto_organizacoes.gerenciar_conjunto' user object as pode_gerenciar_conjunto_organizacoes %}

{% if pode_acessar_conjunto_organizacoes %}
<h3>{% trans "Análises agregadas" %}{% if pode_gerenciar_conjunto_organizacoes %} <a class="btn btn-success btn-sm mr-2" href="{% url 'analiseagregada:form' %}"><i class="fas fa-plus mr-1"></i> {% trans "Criar análise agregada" %}</a>{% endif %}</h3>
<div class="row text-center text-lg-left">
  {% if analises|length > 0 %}
  <div class="col-12">
    <table class="table">
      <tr>
        <td>{% trans "Nome" %}</td>
        <td>{% trans "Descrição" %}</td>
        <td>{% trans "Ciclo anual de referência" %}</td>
        <td>{% trans "Evento-gatilho" %}</td>
        <td colspan="2"></td>
      </tr>
      {% for analise in analises %}

      <tr>
        <td><a href="{{ analise.get_absolute_url }}">{{ analise }}</a></td>
        <td>{{ analise.descricao }}</td>
        <td>{{ analise.ano|unlocalize }}</td>
        <td>{% if analise.evento_gatilho != None %}{{ analise.evento_gatilho }}{% else %}-{% endif %}</td>

        <td><a class="btn btn-sm btn-primary {% if not pode_gerenciar_conjunto_organizacoes %} disabled {% endif %}" href="{{ analise.get_update_url }}" title="{% trans "Alterar informações" %} - {{ analise }}"><i class="fas fa-pen"></i></a></td>
        <td><a class="btn btn-sm btn-danger {% if not pode_gerenciar_conjunto_organizacoes %} disabled {% endif %}" href="#" onclick="if (confirm('Deseja realmente excluir o registro `{{ analise }}`')) window.location='{{ analise.get_delete_url }}'" title="Excluir {{ analise }}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <div class="col-md-12 mt-2">
    <div class="alert alert-dark">
      <h5>{% trans "Ainda não há análises agregadas cadastradas neste conjunto de organizações." %} 
        {% if pode_gerenciar_conjunto_organizacoes %}
        {% trans "Seja a/o primeira/o a criar uma análise agregada para este conjunto" %}
        <a href="{# url 'analiseagregada:form' #}">{% trans "clique aqui" %}</a>.
        {% endif %}
      </h5>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<h3>{% trans "Conjunto de Organizações" %} - {% trans "Analises agregadas" %}</h3>
<p>{% trans "Acesso indisponível. Por favor, verifique suas permissões." %}</p>
{% endif %}

{% endblock %}
