{% extends "conjunto_organizacoes/dashboard_base.html" %}
{% load rules %}
{% load l10n %}

{% block content %}
{% has_perm 'conjunto_organizacoes.gerenciar_conjunto' user object as pode_gerenciar_conjunto_organizacoes %}

{% if pode_gerenciar_conjunto_organizacoes %}
<h3>{% trans "Eventos-gatilho" %} <a class="btn btn-success btn-sm" href="{% url 'eventogatilho_create' %}"><i class="fas fa-plus mr-1"></i> {% trans "novo evento-gatilho" %}</a></h3>
<div class="row mt-4">
  {% if eventos_gatilho|length > 0 %}
  <div class="col-md-12">
    <table id="eventogatilho_list_table" class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th>{% trans "Evento-gatilho" %}</th>
          <th>{% trans "Organização" %}</th>
          <th>{% trans "Detalhes" %}</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {% for evento_gatilho in eventos_gatilho %}
        <tr>
          <td><a href="{{ evento_gatilho.get_absolute_url }}">{{ evento_gatilho }}</a></td>
          <td>{{ evento_gatilho.organizacao }}</td>
          <td>{{ evento_gatilho.detalhes|safe }}</td>

          <td><a class="btn btn-sm btn-primary" href="{{ evento_gatilho.get_update_url }}" title="Alterar informações de {{ evento_gatilho }}"><i class="fas fa-pen"></i></a></td>
          <td><a class="btn btn-sm btn-danger" href="#" onclick="if (confirm('{% trans "Deseja realmente excluir o registro" %} `{{ evento_gatilho }}`')) window.location='{{ evento_gatilho.get_delete_url }}'" title="{% trans "Excluir" %} {{ evento_gatilho }}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="col-md-12">
    <div class="alert alert-dark">
      <h5>{% trans "Ainda não há evento-gatilho cadastrados neste conjunto de organizações. Seja a/o primeira/o a criar um" %} <a href="{% url 'eventogatilho_create' %}">clique aqui</a>.</h5>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}
