{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% load vstatic %}

{% block includes %}
    <link rel="stylesheet" href="{% vstatic 'analiseagregada/css/analiseagregada.css' %}">
{% endblock %}

{% block menu_sessao %}

{% has_perm 'conjunto_organizacoes.administrar' user as pode_administrar_conjunto_organizacoes %}
{% has_perm 'conjunto_organizacoes.gerenciar_conjunto' user object as pode_gerenciar_conjunto_organizacoes %}

<div class="sidebar-analiseagregada bg-light border-right col-sm-12 col-md-3 col-lg-2 min-vh-100 no-padding"
     id="sidebar-wrapper"{% if hide_sidebar %} style="display:none"{% endif %}>
  <div class="list-group list-group-flush">

    <a class="list-group-item list-group-item-action bg-formwizard text-light"
       href="{# url 'analiseagregada:detail' pk=analiseagregada.id #}">
      <h5 class="mb-0 pt-1 pb-1">
        {{ object.nome }}
        {% if pode_administrar_conjunto_organizacoes %}
        <button data-target-url="{{ object.get_update_url }}"
                class="href-button float-right btn btn-light btn-xs ml-1"
                title="{% trans "Editar conjunto" %}"><i class="fas fa-pen"></i>
        </button>{% endif %}</h5>
    </a>

    <a class="list-group-item list-group-item-action{% if submodulo == 'analises' %} active{% endif %}"
       href="{% url 'conjunto_organizacoes:analises' pk=object.id %}">
      {% trans "Análise agregada" %}
    </a>

    {% if pode_gerenciar_conjunto_organizacoes %}
      <a class="list-group-item list-group-item-action{% if submodulo == 'eventos-gatilho' %} active{% endif %}"
         href="{% url 'conjunto_organizacoes:eventos-gatilho' pk=object.id %}">
        {% trans "Eventos-gatilho" %}
      </a>
    {% endif %}

  </div>
</div>
<div id="page-content-wrapper" class="col-sm-12 col-md-9 col-lg-10{% if hide_sidebar %} col-md-12 col-lg-12{% endif %} px-0 {% if hide_sidebar %}no-padding{% else %}mt-4{% endif %}">
  <div class="container-fluid">
{% endblock %}

