{% load sitetree %}
<ul class="navbar-nav mr-auto">
    {% for item in sitetree_items %}
        {% if not forloop.last %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% sitetree_url for item %}">{{ item.title_resolved }}</a>
            </li>
            <li class="nav-link nav-item"><i class="fas fa-chevron-right"></i></li>
        {% else %}
            <li class="nav-item nav-link">{{ item.title_resolved }}
            </li>
        {% endif %}
    {% endfor %}
</ul>
