{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}

{% block content %}
    {% has_perm 'permissao_padrao' user as pode_alterar %}
    <h3>
        {% trans "Comunidade" %} {{ object.nome }}
    </h3>
    <dl class="row mt-4">
      <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Nome" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.nome }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Município" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.municipio }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Estado" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.municipio.uf.nome }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "País" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.pais }}</dd>

          <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Criada em" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.criacao }}</dd>
    </dl>

{% endblock %}
