{% extends "base.html" %}
{% load sitetree %}
{% load static %}
{% load vstatic %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}

{% block includes %}
    <script>
        const select_options = {{ select_options|safe }}
    </script>
{% endblock %}

{% block content %}
    {% has_perm 'comunidade.cadastrar' user as pode_cadastrar_comunidade %}

    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Comunidades" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_comunidade %}
            <a class="btn btn-primary btn-sm" href="{% url 'comunidade_create' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Nova comunidade" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    {% if object_list|length > 0 %}
    <div class="row mt-3">
        <div class="col-sm-12">
            <form method="post">
            {% csrf_token %}
            <table
                {% tabela_class tableId='lista_comunidades' fitToPage=True sticky=False editavel=False searchable=True orderable=True searchIsTitle=True extra='no-sort-on-start' %}
                id="lista_comunidades"
                datatable-title="Lista de comunidades"
                datatable-filename="lista_comunidades"
            >
                <thead>
                    {% tabela_cabecalho colspan=user.is_superuser|yesno:"6,5" tableTitle='Conjuntos de organizações' targetId='lista_comunidades' editavel=False %}
                    <tr>
                        {% if user.is_superuser %}
                            <th class="no-sort no-search">{% trans "Mesclar para..." %}</th>
                        {% endif %}
                        <th>{% trans "Comunidade" %}</th>
                        <th>{% trans "Município" %}</th>
                        <th>{% trans "Estado" %}</th>
                        <th>{% trans "País" %}</th>
                        <th>{% trans "Criação" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        {% if user.is_superuser %}
                            <td class="no-sort no-search">
                                {% if forloop.first %}
                                    {% select_simples id=object.id|unlocalize options=select_options %}
                                {% else %}
                                    {% select_simples id=object.id|unlocalize %}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td><a href="{% url 'comunidade_detail' pk=object.id %}">{{ object.nome }}</a></td>
                        <td>{{ object.municipio.nome }}</td>
                        <td>{{ object.municipio.uf.nome }}</td>
                        <td>{{ object.pais.nome }}</td>
                        <td data-order='{{ object.criacao|date:'U' }}'>{{ object.criacao|date:'d/m/Y' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% if user.is_superuser %}
                    <tfoot>
                        <tr>
                            <td colspan='3'>
                                <button type='submit' class='btn btn-danger'>
                                    {% trans 'Aplicar mesclagem!' %}
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
            </form>
        </div>
    </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-md-12 mt-2">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há comunidades cadastradas" %}.
                    {% trans "Seja a/o primeira/o a criar um" %} <a href="{% url 'comunidade_create' %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        </div>
    {% endif %}

  {% else %}
        <div class="row mt-5">
            <div class="col-md-12 mt-2">
                <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                    <div class="card-body text-center">
                        <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
                             class="w-25"
                             alt=""/>
                        <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
                        <div class="alert alert-dark">
                          <h5>{% trans "Acesso não permitido. Faça Login para continuar" %}</h5>
                            <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                              {% trans "Entrar" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endif %}

{% endblock %}
