{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rules %}
{% load i18n %}
{% load vstatic %}

{% block includes %}
    <script type="text/javascript" src="{% vstatic 'main/js/comunidade_form.js' %}"></script>
{% endblock %}

{% block content %}

    <h3>{{ titulo }}</h3>
    {{ form.media }}
    <div class="row">
        <div class="col-md-12 mt-5">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {% if object.id %}
                    {% has_perm 'comunidade.apagar' user object as pode_apagar_comunidade %}
                    {% if pode_apagar_comunidade %}
                        <button class="btn btn-danger"
                                data-delete-url="{% url 'comunidade_delete' pk=object.id %}"
                                data-delete-confirm-message="{% trans "Deseja realmente apagar esta comunidade?" %}"
                                data-success-url="{% url 'comunidade_list' %}">{% trans "Apagar" %}
                        </button>
                    {% endif %}
                {% endif %}
                <button class="btn btn-primary" type="submit"><i class="fas fa-database mr-1"></i> {% trans "Gravar" %}</button>
            </form>
        </div>
    </div>

{% endblock %}
