{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load custom_tags %}

{% block content %}
    {% has_perm 'organizacao.cadastrar' user as pode_cadastrar_organizacao %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Organizações" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_organizacao %}
            <a class="btn btn-primary btn-sm" href="{% url 'organizacao_create' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Nova organização" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    {% if object_list|length > 0 %}
    <div class="row mt-3">
        <div class="col-sm-12">
            <table
                {% tabela_class tableId='lista_organizacoes' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                id="lista_organizacoes"
                datatable-title="Lista de organizações"
                datatable-filename="lista_organizacoes"
            >
                <thead>
                    {% tabela_cabecalho colspan=2 tableTitle='Organizações' targetId='lista_organizacoes' editavel=False %}
                    <tr>
                      <th>{% trans "Organização" %}</th>
                      <th>{% trans "Integrantes" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                        <td>{{ object.usuarias.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="alert alert-dark">
                  <h5>{% trans "Ainda não há organizações cadastradas. Seja a/o primeira/o a criar uma" %} <a href="{% url 'organizacao_create' %}">{% trans "clique aqui" %}</a>.</h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="row mt-5">
            <div class="col-md-12 mt-2">
                <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                    <div class="card-body text-center">
                        <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
                             class="w-25"
                             alt=""/>
                        <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
                        <div class="alert alert-dark">
                          <h5>{% trans "Acesso não permitido. Faça Login para continuar" %}</h5>
                            <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                              {% trans "Entrar" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

{% endblock %}
