{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}

{% block content %}
    {% has_perm 'territorio.alterar' user as pode_alterar %}
    <h3>
        {% trans "Território" %} {{ object.nome }}
    </h3>
    <dl class="row mt-4">
      <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Nome" %}</dt>
         <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.nome }}</dd>

         <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Criada em" %}</dt>
         <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.criacao }}</dd>

         <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Descrição" %}</dt>
         <dd class="col-sm-12 col-md-7 col-lg-9">{{ object.descricao }}</dd>
    </dl>

{% endblock %}
