{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% block content %}
<p><a class="btn btn-primary btn-sm" href="{% url 'unidade_list' %}">{% trans "Lista de Unidades" %}</a></p>
<h3>{{ titulo }}</h3>
<div class="row mt-5">
    <div class="col-md-12">
    {% crispy form %}
    </div>
</div>

{% endblock %}
