{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="mb-0">{% trans "Organização" %} <i>{{ organizacao }}</i></h3>
    <div class="row">
        <div class="col-md-12 mt-5">
          <h5 class="mb-5">{% trans "Cadastro de nova(o) usuária(o) na Plataforma LUME" %}</h5>
            {% crispy form %}
        </div>
    </div>
{% endblock %}
