body {
  overflow-x: hidden;
}

.vis-timeline {
  background-color: transparent;
  font-size: 0.8rem;
  border-left-width: 0;
  border-right-width: 0;
}
.vis-panel.vis-background {
  /* background-color: #E9ECEF; */
}
.vis-background .vis-group.agroecossistema {
  background-color: rgba(144, 170, 171, 0.7);
}
.vis-foreground .vis-group.agroecossistema {
  border-bottom-color: #fff;
}
.vis-background .vis-group.territoriomercados {
  background-color: rgba(247, 247, 247, 0.7);
}
.vis-foreground .vis-group.territoriomercados {
  border-bottom-color: #d8d8d8;
}
.vis-time-axis .vis-text {
  color: #ffffff;
  font-weight: bold;
}
.vis-panel.vis-center {
  border-bottom-width: 3px;
}
.vis-item {
  color: black;
  cursor: pointer;
}

/*Eventos*/
.vis-item.vis-range {
  background-color: #fdf4e9;
  border-color: #343a40;
}
.vis-item.vis-range.vis-readonly {
  background-color: #dd9999;
  border-color: #343a40;
}
.vis-item.vis-range.vis-selected {
  color: #fff;
  background-color: #3fad24;
}
.vis-item.vis-box.vis-selected {
  background-color: #6dbf4c;
}

.vis-item.vis-box {
  background-color: #37a70b;
  border-color: #37a70b;
}

.vis-item .vis-item-content {
  padding: 0 5px 0 5px;
}

.vis-item.vis-range.vis-selected.evento_gatilho {
  background-color: #dd6f54;
}
.vis-item.vis-range.evento_gatilho {
  background-color: #ffad4b;
}

.vis-item.vis-line {
  border-width: 1px;
  border-color: #37a70b;
  border-style: dashed;
}
.vis-item.vis-dot {
  border-width: 3px;
  border-radius: 3px;
  /*border-color: #37A70B;*/
}
.vis-labelset {
  /* background: #f5f5f5; */
}
.vis-label.vis-nesting-group {
  background-color: #e9ecef;
  padding-left: 20px;
}
.vis-label.vis-nested-group.vis-group-level-unknown-but-gte1 {
  background-color: #fff;
}
/*.vis-item .vis-item-overflow:hover {
overflow: visible;
}*/

.vis-time-axis .vis-text {
  color: #343a40;
}

.vis-time-axis .vis-major,
.vis-time-axis .vis-minor {
  font-weight: 600;
}

.vis-time-axis .vis-grid.vis-major {
  border-left: 2px black double;
}

.vis-time-axis .vis-grid.vis-minor {
  border-left: 1px dashed #343a40;
}

/*Fundo da área principal*/
.vis-time-axis .vis-grid.vis-vertical.vis-major,
.vis-time-axis .vis-grid.vis-vertical.vis-minor {
  background-color: transparent;
}

.vis-panel.vis-top {
  background-color: #e9ecef;
}

.vis-labelset .vis-label {
  color: black;
}

vis-labelset .vis-label .vis-inner {
  width: 100%;
}

.vis-item {
  /*height: 35px;
    line-height: 35px;*/
}

.no-padding {
  padding: 0 !important;
}

.linhadotempo_holder {
  background-color: #e9ecef;
}

.selected-event {
  padding-bottom: 40px;
}

.linhadotempo_pane2 {
  height: calc(100vh - 48px);
  background-color: #f7f7f7;
}

#breadcrumb-holder {
  display: none;
}

.tooltip-inner {
  text-align: left;
  width: 500px;
  max-width: 500px;
}

.tooltip-inner p {
  margin: 0;
}

.tooltip-inner h1 {
  font-size: 14pt;
}

div.vis-tooltip {
  font-size: 10px;
  white-space: nowrap;
  /* width: 30em; */
  max-width: 60em;
  /* word-wrap: break-word; */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  float: right;
}

.evento-anexo-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.vis-text.vis-minor {
  text-align: center;
  background-color: #e9ecef;
}

.vis-top .vis-text.vis-minor {
  margin-top: -16px;
}

.vis-text span {
  color: #90aaab;
  font-size: 0.75rem;
}

.linhadotempo_menu {
}

#linhadotempoSlider {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  border: 1px solid #90aaab;
}
#linhadotempoSliderHolder,
#linhadotempoSliderHolderLeft,
#linhadotempoSliderHolderRight {
  position: absolute;
  top: 0;
  height: 100%;
}
#linhadotempoSliderHolder {
  left: 0;
  background-color: rgba(69, 169, 174, 0.3);
}
#linhadotempoSliderHolderLeft,
#linhadotempoSliderHolderRight {
  width: 5px;
  background-color: #3aa0a5;
}
#linhadotempoSliderHolderLeft {
  /* cursor: w-resize !important; */
  left: 0;
}
#linhadotempoSliderHolderRight {
  /* cursor: e-resize !important; */
  left: 0;
}

.linhadotempo_menu .alert {
}

/*.linhadotempo_menu p {
    margin: 0;
    font-size: 70rem;
}*/

.vis-item .vis-item-content {
  white-space: normal;
  max-height: 36px;
  overflow: hidden;
}
.vis-item.territorial .vis-item-content {
  white-space: normal;
  max-height: none;
  overflow: inherit;
}
.vis-ltr .vis-label.vis-nested-group .vis-inner {
  padding-left: 20px;
}
.vis-group-level-unknown-but-gte1 {
  border: none;
}

#buscaEventos {
  width: 100%;
  height: 30px;
}
#buscaEventosWrapper {
  margin-top: 0.5rem;
  position: relative;
}
#buscaEventosWrapper label {
  color: #bdbdbd;
  position: absolute;
  left: 20px;
  top: 6px;
  z-index: 10;
}
#buscaEventosWrapper
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: inherit;
}
#buscaEventosWrapper
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding-top: 0;
}
#buscaEventosWrapper .select2-container .select2-selection--single {
  height: 36px !important;
}
#buscaEventosWrapper .select2-container .select2-selection--single span {
  margin-top: 2px;
}
#buscaEventosWrapper
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  padding-left: 20px;
  color: #828282;
}
#buscaEventosWrapper .select2-selection.select2-selection--single {
  padding-left: 20px;
}

.select2-container {
  z-index: 2010;
}
#buscaEventosWrapper .select2-container {
  z-index: 900;
}

.toast {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 10;
}

#modoEdicaoWrapper {
  position: absolute;
  z-index: 8;
  top: 1.5rem;
  left: 1.5rem;
  font-weight: 300;
  color: #666;
}
#modoEdicaoWrapper label {
  cursor: pointer;
}
#modoEdicaoWrapper label.checked {
  font-weight: 600;
  color: #333;
}

.note-editor.note-frame {
  max-width: 100%;
}
.note-editable {
  height: 150px;
}

.eventoAnexosDiv {
  padding-top: 16px;
  border-top: 1px #ccc solid;
  margin-bottom: 32px;
}
.eventoAnexosDivInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-right-wrapper h5 {
  font-weight: 500;
  font-size: 1.1rem;
}
.vis-label.vis-nested-group .vis-inner {
  display: flex;
  justify-content: space-between;
}
.vis-inner span {
  width: 20px;
  cursor: pointer;
}
.vis-inner span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f059";
  cursor: pointer;
  color: #999;
  font-size: 1.1rem;
}
