{% extends "./form_wizard.html" %}
{% load vstatic %}
{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block form_wizard_content %}
<form  class="form-horizontal" id="FormWizard" method="post" >

  {% csrf_token %}
  {{ form|crispy }}

  <div class="form-group">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link collapsed p-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <u>{% trans "Filtros avançados: Definir indicadores" %}</u>
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {% formsets_render formsets %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="submit" name="btn_submit" value="Próximo" class="btn btn-primary" id="submit-id-btn_submit"> 
  </div>
</form>
{% endblock %}

{% block includes %}
<style>
.block-extra-forms .item div {
  margin-right: 10px !important;
}
</style>
{{ block.super }}
{% formsets_scripts formsets %}
{{ form.media }}

<script>
  URL_PARAMETROS_BY_ATRIBUTO = "{% url 'analiseagregada:parametros_by_atributo' %}";
</script>
<script type="text/javascript" src="{% vstatic 'analiseagregada/js/analiseagregada_dados_gerais.js' %}"></script>
{% endblock %}
