{% extends "analiseagregada/base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load economica_tags %}
{% load l10n %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/Chart.js' %}"></script>
    <script type="text/javascript" src="{% vstatic 'main/js/chartjs-utils.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/chartjs-plugin-datalabels.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
    <link rel="stylesheet"
          href="{% vstatic 'analiseagregada/css/bootstrap-form-wizard.css' %}">
{% endblock %}
{% block post_app %}{% endblock %}
{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    <script type="text/javascript">
        var totais = {{ dados_consolidados.totais_medias.media_analises_json|safe }};
        var totais_por_produto = [];
        var arquivo_pre = 'analiseagregada';
        var evento_gatilho = {% if object.evento_gatilho %}'{{ object.evento_gatilho }}'{% else %}null{% endif %};
        {% if object.evento_gatilho %}
            var totais_medias_simulacoes = {{ dados_consolidados.totais_medias.media_simulacoes_json|safe }};
        {% endif %}
        var totais_agroecossistemas = {{ dados_consolidados.agroecossistemas_json|safe }};
        totais_agroecossistemas.map((car) => {
            car.totais_economica = JSON.parse(car.totais_economica);
            if (evento_gatilho) {
                car.totais_simulacao = JSON.parse(car.totais_simulacao);
            }
            return car;
        })
        var subtitulo = 'subtitulo';
    </script>
    {% if analiseagregada %}
        <div class="row mt-3">
            <div class="col-md-12">
                <h4>Análises econômicas</h4>
                <div class="tab-content mb-5">
                    {% for key in analiseagregada.RELATORIOS %}
                        {% if analiseagregada.RELATORIOS|get_item:key|get_item:'tipo_tab' %}
                            <div class="{{ analiseagregada.RELATORIOS|get_item:key|get_item:'id' }}_tab_wrapper">
                                {% for item in analiseagregada.RELATORIOS|get_item:key|get_item:'itens' %}
                                    {% if item.sem_evento_gatilho or object.evento_gatilho %}
                                        {% if analiseagregada.RELATORIOS|get_item:key|get_item:'tipo_tab' == 'tabelas' %}
                                            {% tabela_relatorio_wrapper totais=totais titulo=item.titulo template_name=item.template vars=item.vars titulo_tab=analiseagregada.RELATORIOS|get_item:key|get_item:'titulo_tab' arquivo_pre=arquivo_pre %}
                                        {% elif analiseagregada.RELATORIOS|get_item:key|get_item:'tipo_tab' == 'graficos' %}
                                            {% item_lista_graficos totais=totais i=forloop.counter itens=analiseagregada.RELATORIOS|get_item:key|get_item:'itens' %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12 pt-5">
                                    {% if analiseagregada.RELATORIOS|get_item:key|get_item:'id' == 'quadroSintese' %}
                                        {% tabela_relatorio totais=totais titulo=analiseagregada.RELATORIOS|get_item:key|get_item:'titulo' template_name='quadroSintese' targetId='quadroSintese' %}
                                    {% elif analiseagregada.RELATORIOS|get_item:key|get_item:'id' == 'diagramaSintese' %}
                                        {% tabela_relatorio totais=totais titulo=analiseagregada.RELATORIOS|get_item:key|get_item:'titulo' template_name='diagramaSintese' targetId='diagramaSintese' agroecossistema_nome=agroecossistema.nsga car=car %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {% trans "Ainda não há dados para gerar os relatórios" %}.
                    <button type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Fechar aviso">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <p class="mt-5">&nbsp;</p>
                <p class="mt-5">&nbsp;</p>
                <p class="mt-5"></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
