{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}

{% block content %}

{% has_perm 'permissao_padrao' user as pode_cadastrar_analiseagregada %}
{% has_perm 'analiseagregada.visualizar' user as pode_acessar_analiseagregada %}

{% if pode_acessar_analiseagregada %}
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h3>
            {% trans "Análises agregadas" %}
        </h3>
        <div class="d-flex justify-content-end align-items-center">
            {% if pode_cadastrar_analiseagregada %}
            <a class="btn btn-primary btn-sm" href="{% url 'analiseagregada:form' %}">
                <i class="fas fa-plus mr-1"></i>
                {% trans "Nova análise agregada" %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if object_list|length > 0 %}
    <ul class="nav nav-tabs mb-0" role="tablist">
        <li class="nav-item">
            <a
                class="nav-link active"
                id="nav_todos"
                href="#tab_todos"
                role="tab"
                data-toggle="tab"
            >
                {% trans 'Todos' %}
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="nav_meus"
                href="#tab_minhas"
                role="tab"
                data-toggle="tab"
            >
                {% trans 'Criadas por mim' %}
            </a>
        </li>
    </ul>

    <div class="tab-content mb-5">

        <div role="tabpanel" class="tab-pane fade in active show" id="tab_todos">
            <div class="row">
                <div class="col-sm-12">
                    <table
                        {% tabela_class tableId='lista_analisesagregadas' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                        id="lista_analisesagregadas"
                        datatable-title="Lista de análises agregadas"
                        datatable-filename="lista_analisesagregadas"
                    >
                        <thead>
                            {% tabela_cabecalho colspan=user.is_authenticated|yesno:"7,4" tableTitle='Análises agregadas' targetId='lista_analisesagregadas' editavel=False %}
                            <tr>
                                <th>{% trans "Nome" %}</th>
                                <th class="no-sort">{% trans "Descrição" %}</th>
                                <th>{% trans "Ano" %}</th>
                                <th>{% trans "Gatilho" %}</th>
                                {% if user.is_authenticated %}
                                    <th>{% trans "Criado por" %}</th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}

                            {% has_perm 'analiseagregada.alterar' user object as pode_alterar_analiseagregada %}
                            {% has_perm 'analiseagregada.apagar' user object as pode_apagar_analiseagregada %}
                            <tr>
                                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                                <td>{{ object.descricao }}</td>
                                <td>{{ object.ano|unlocalize }}</td>
                                <td>{% if object.evento_gatilho != None %}{{ object.evento_gatilho }}{% else %}-{% endif %}</td>

                                {% if user.is_authenticated %}
                                    <td>{{ object.autor }}</td>
                                    <td><a class="btn btn-sm btn-primary {% if not pode_alterar_analiseagregada %} disabled {% endif %}" href="{{ object.get_update_url }}" title="{% trans "Alterar informações" %} - {{ object }}"><i class="fas fa-pen"></i></a></td>
                                    <td>
                                        <a class="btn btn-sm btn-danger {% if not pode_apagar_analiseagregada %} disabled {% endif %}" href="#" onclick="if (confirm('{% trans "Deseja realmente excluir o registro" %} `{{ object }}`')) window.location='{{ object.get_delete_url }}'" title="Excluir {{ object }}"><i class="fas fa-trash"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div role="tabpanel" class="tab-pane fade in" id="tab_minhas">
                <div class="row">
                    <div class="col-sm-12">
                        <table
                            {% tabela_class tableId='lista_analisesagregadas_minhas' sticky=True editavel=False searchable=True orderable=True searchIsTitle=True %}
                            id="lista_analisesagregadas_minhas"
                            datatable-title="Lista de análises agregadas criadas por mim"
                            datatable-filename="lista_analisesagregadas"
                        >
                            <thead>
                                {% tabela_cabecalho colspan=6 tableTitle='Análises agregadas criadas por mim' targetId='lista_analisesagregadas_minhas' editavel=False %}
                                <tr>
                                    <th>{% trans "Nome" %}</th>
                                    <th class="no-sort">{% trans "Descrição" %}</th>
                                    <th>{% trans "Ano" %}</th>
                                    <th>{% trans "Evento-gatilho" %}</th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in own_analisesagregadas %}

                                {% has_perm 'analiseagregada.alterar' user object as pode_alterar_analiseagregada %}
                                {% has_perm 'analiseagregada.apagar' user object as pode_apagar_analiseagregada %}
                                <tr>
                                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                                    <td>{{ object.descricao }}</td>
                                    <td>{{ object.ano|unlocalize }}</td>
                                    <td>{% if object.evento_gatilho != None %}{{ object.evento_gatilho }}{% else %}-{% endif %}</td>

                                    <td><a class="btn btn-sm btn-primary {% if not pode_alterar_analiseagregada %} disabled {% endif %}" href="{{ object.get_update_url }}" title="{% trans "Alterar informações" %} - {{ object }}"><i class="fas fa-pen"></i></a></td>
                                    <td>
                                        <a class="btn btn-sm btn-danger {% if not pode_apagar_analiseagregada %} disabled {% endif %}" href="#" onclick="if (confirm('{% trans "Deseja realmente excluir o registro" %} `{{ object }}`')) window.location='{{ object.get_delete_url }}'" title="Excluir {{ object }}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% else %}
    <div class="col-md-12 mt-2">
        <div class="alert alert-dark">
            {% if user.is_authenticated %}
                <h5>
                    {% trans "Ainda não há análises agregadas cadastradas" %}.
                    {% if pode_cadastrar_analiseagregada %}
                        {% trans "Seja a/o primeira/o a criar uma análise agregada" %}<a href="{% url 'analiseagregada:form' %}">{% trans "clique aqui" %}</a>.
                    {% endif %}
                </h5>
            {% else %}
                <h5>{% trans "Em breve disponibilizaremos o modelo de análise agregada" %}.</h5>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% else %}
    <h3>{% trans "Analises agregadas" %}</h3>
    <p>{% trans "Acesso indisponível. Por favor, verifique suas permissões" %}.</p>
{% endif %}
{% endblock %}
