{% extends "analiseagregada/base.html" %}
{% load vstatic %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load anexos %}
{% load static %}
{% load utils_tags %}
{% load economica_tags %}
{% load custom_tags %}
{% load relatorios_tags %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/chart3.min.js' %}"></script>
    <script src="{% vstatic 'main/js/chart3-utils.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
    <script src="{% vstatic 'analiseagregada/js/analiseagregada_qualitativa.js' %}"></script>
    <link rel="stylesheet"
          href="{% vstatic 'qualitativa/css/comparacao.css' %}">
{% endblock includes %}
{% block content %}
    <h1>{% trans "Análises Qualitativas Agregadas" %}</h1>
    <div class="row">
        <div class="col-12">
            <div class="nav_bar_titles_wrapper d-flex align-items-baseline">
                <i class="fa fa-angle-left mr-2"></i>
                <div class="nav_bar_titles flex-grow-1">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        {% for atributo_id, atributo in analiseagregada_qualitativa.items %}
                            <script>
                                var labels_{{ atributo_id }} = {{ atributo.data_json.labels|safe }};
                                var data_ref_{{ atributo_id }} = {{ atributo.data_json.data_ref|safe }};
                                var data_atual_{{ atributo_id }} = {{ atributo.data_json.data_atual|safe }};
                            </script>
                            <li class="nav-item">
                                <a class="nav-link{% if forloop.first %} active{% endif %}"
                                   href="#at{{ atributo_id }}"
                                   role="tab"
                                   data-toggle="tab"
                                   id="title-at{{ atributo_id }}">{{ atributo.atributo.nome }}</a>
                            </li>
                        {% endfor %}
                        <script>
                            var labels_sintese = {{ sintese.labels|safe }};
                            var data_ref_sintese = {{ sintese.data_ref|safe }};
                            var data_atual_sintese = {{ sintese.data_atual|safe }};
                        </script>
                        <li class="nav-item">
                            <a class="nav-link" href="#atSintese" role="tab" data-toggle="tab">Síntese</a>
                        </li>
                    </ul>
                </div>
                <i class="fa fa-angle-right mr-2"></i>
            </div>
            <!-- Tab panes -->
            <div class="tab-content mb-5">
                {% for atributo_id, atributo in analiseagregada_qualitativa.items %}
                    <div role="tabpanel"
                         class="tab-pane fade in{% if forloop.first %} active show{% endif %}"
                         id="at{{ atributo_id }}">
                        <div class="row">
                            <div class="col-sm-12">
                                {% for subsection in atributo.subsections %}
                                    {% with atributo_id|concat:'_'|concat:subsection|slugify as tableId %}
                                        {% with "tabela_analise_qualitativa_"|concat:object|concat:'_'|concat:subsection|slugify as filename %}
                                            <table {% tabela_class editavel=False tableId=tableId extra='comparacao-table' %}
                                                   id="{{ tableId }}"
                                                   data-tbl-atributo="{{ atributo_id }}"
                                                   datatable-title="{{ subsection }}"
                                                   datatable-filename="{{ filename }}">
                                                <thead>
                                                    {% tabela_cabecalho colspan=3 tableTitle=subsection targetId=tableId editavel=False %}
                                                    <tr>
                                                        <th class="w-50">{% trans "Parâmetros" %}</th>
                                                        <th title="{% trans "Ano Referência" %}">{% trans "Ano de referência" %}</th>
                                                        <th title="{% trans "Ano Atual" %}">{% trans "Ano atual" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for parametro_id, parametro in atributo.parametros_list.items %}
                                                        {% if parametro.parametro.subsection == "" or parametro.parametro.subsection == subsection %}
                                                            <tr id="row-parametro-{{ parametro_id }}" class="">
                                                                <td class="qualitativa-label"
                                                                    data-tipo="parametro_label"
                                                                    data-parametro-id="{{ parametro_id }}">
                                                                    {{ parametro.parametro.nome }}
                                                                </td>
                                                                <td class="input_cell qualitativa-ano"
                                                                    id="qualificacao-referencia-{{ parametro_id }}">
                                                                    {{ parametro.media_ano_ref|floatformat:2 }}
                                                                </td>
                                                                <td class="input_cell qualitativa-ano"
                                                                    id="qualificacao-{{ parametro_id }}">
                                                                    {{ parametro.media_ano_atual|floatformat:2 }}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr id="totais-{{ atributo_id }}">
                                                        <th>{% blocktrans %}Índice de {{ atributo.atributo.nome }} (0-1){% endblocktrans %}</th>
                                                        <th id="referencia-{{ atributo_id }}">{{ atributo.indice.indice_ref|floatformat:2 }}</th>
                                                        <th id="atual-{{ atributo_id }}">{{ atributo.indice.indice_atual|floatformat:2 }}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />
                                        {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row-animated row mt-5">
                            <div class="col-md-12">
                                <h3>{% trans "Gráfico" %}</h3>
                            </div>
                            <div class="col-md-12" id="aranha-wrapper-{{ atributo_id }}">
                                <div id="aranhaEmpty-{{ atributo_id }}" class="aranhaEmpty">
                                    <div class="alert alert-info">
                                        {% trans "Não há dados suficientes para mostrar o gráfico. Ele só será exibido quando todos os parâmetros deste atributo forem preenchidos. Caso queira eliminar parâmetros, clique no botão `configurar análises` acima." %}
                                    </div>
                                </div>
                                <canvas class="chartCanvas legendsRight" id="aranha-{{ atributo_id }}"></canvas>
                            </div>
                            <script>
                                jQuery(document).ready(function () {
                                    inicializa_grafico({{ atributo_id }}, ['{{ atributo.atributo.nome }}', '(Índice de referência: {{ atributo.indice.indice_ref|floatformat:2 }}; Índice atual: {{ atributo.indice.indice_atual|floatformat:2 }})'], labels_{{ atributo_id }}, data_ref_{{ atributo_id }}, data_atual_{{ atributo_id }});
                                });
                            </script>
                        </div>
                        <div class="row download-chart-{{ atributo_id }}">
                            <div class="col-sm-12">
                                <a id="link-{{ atributo_id }}"
                                   class="btn btn-primary"
                                   download='grafico.png'>{% trans "Baixar Gráfico" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div role="tabpanel" class="tab-pane fade in" id="atSintese">
                    <div class="row sintese-geral">
                        <div class="col-sm-12">
                            {% with "analise_qualitativa_"|concat:object|concat:'_sintese'|slugify as filename %}
                                {% with "Síntese da Análise Qualitativa "|concat:object as title %}
                                    <table {% tabela_class editavel=False tableId='sintese' extra='comparacao-table sintese-table' %}
                                           id="sintese"
                                           datatable-title="{{ title }}"
                                           datatable-filename="{{ filename }}">
                                        <thead>
                                            {% tabela_cabecalho colspan=3 tableTitle=title targetId='sintese' editavel=False %}
                                            <tr>
                                                <th class="w-50">{% trans "Atributos Sistêmicos" %}</th>
                                                <th class="w-25">{% trans "Ano de referência" %}</th>
                                                <th class="w-25">{% trans "Ano atual" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sintese-body">
                                            {% for atributo_id, atributo in analiseagregada_qualitativa.items %}
                                                <tr>
                                                    <td id="sintese-body-title-{{ atributo_id }}">{{ atributo.atributo.nome }}</td>
                                                    <td id="sintese-body-ano-ref-{{ atributo_id }}">{{ atributo.indice.indice_ref|floatformat:2 }}</td>
                                                    <td id="sintese-body-ano-atual-{{ atributo_id }}">{{ atributo.indice.indice_atual|floatformat:2 }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr id="totais-sintese">
                                                <th>{% trans "Índice de SÍNTESE (0-1)" %}</th>
                                                <th id="referencia-sintese">{{ sintese.sintese_indice.ref|floatformat:2 }}</th>
                                                <th id="atual-sintese">{{ sintese.sintese_indice.atual|floatformat:2 }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h3>Gráfico</h3>
                            <div id="sintese_chart_div" class="col-sm-12">
                                <canvas class="chartCanvas legendsRight" id="aranha-sintese"></canvas>
                            </div>
                        </div>
                    </div>
                    <script>
                        jQuery(document).ready(function () {
                          inicializa_grafico('sintese', ['Síntese', '(Índice de referência: {{ sintese.sintese_indice.ref|floatformat:2 }}; Índice atual: {{ sintese.sintese_indice.atual|floatformat:2 }})'], labels_sintese, data_ref_sintese, data_atual_sintese);
                        });
                    </script>
                    <div class="row download-chart-sintese">
                        <div class="col-sm-12">
                            <a id="link-sintese" class="btn btn-primary" download='sintese.png'>{% trans "Baixar Gráfico" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
