{% extends "./form_wizard.html" %}
{% load vstatic %}
{% load rules %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% vstatic 'analiseagregada/js/analiseagregada_form_resumo.js' %}"></script>
{% endblock includes %}
{% block form_wizard_content %}
    {% has_perm 'agroecossistema.cadastrar' user as pode_cadastrar_agroecossistema %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h5>Dados Gerais</h5>
            <div class="form-group row mt-4">
                <label class="col-form-label col-sm-12 col-md-5 col-lg-3">{% trans "Nome da análise agregada" %}</label>
                <div class="col-sm-12 col-md-7 col-lg-9">
                    <input type="text"
                           id="analiseagregada_form_nome"
                           class="form-control"
                           name="analiseagregada_form_nome"
                           value="{{ object.nome }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-12 col-md-5 col-lg-3">{% trans "Descrição" %}</label>
                <div class="col-sm-12 col-md-7 col-lg-9">
                    <textarea type="text"
                              class="form-control"
                              name="analiseagregada_form_descricao">{{ object.descricao }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-12 col-md-5 col-lg-3">{% trans "Organização" %}</label>
                <div class="col-sm-12 col-md-7 col-lg-9">
                    <input type="text"
                           class="form-control"
                           name="organizacao"
                           disabled
                           value="{{ object.organizacao }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-12 col-md-5 col-lg-3">{% trans "Ciclo Anual de Referência" %}</label>
                <div class="col-sm-12 col-md-7 col-lg-9">
                    <input type="text"
                           class="form-control"
                           name="ano"
                           disabled
                           value="{{ object.ano|unlocalize }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-12 col-md-5 col-lg-3">{% trans "Evento gatilho" %}</label>
                <div class="col-sm-12 col-md-7 col-lg-9">
                    <input type="text"
                           class="form-control"
                           name="evento_gatilho"
                           disabled
                           value="{{ object.evento_gatilho|default:'Nenhum selecionado' }}">
                </div>
            </div>
            {% if object.indicadores_economicos.all|length > 0 %}
                <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Filtro indicadores econômicos" %}</dt>
                <dd class="col-sm-12 col-md-7 col-lg-9">
                    {% for i in object.indicadores_economicos.all %}
                        {{ i.indicador }} {{ i.operador }} {{ i.valor }}
                        <br>
                    {% endfor %}
                </dd>
            {% endif %}
            {% if object.indicadores_qualitativos.all|length > 0 %}
                <dt class="col-sm-12 col-md-5 col-lg-3">{% trans "Filtro indicadores qualitativos" %}</dt>
                <dd class="col-sm-12 col-md-7 col-lg-9">
                    {% for i in object.indicadores_qualitativos.all %}
                        {{ i.atributo }}: {{ i.parametro }} {{ i.operador }} {{ i.valor }}
                        <br>
                    {% endfor %}
                </dd>
            {% endif %}
            <h5 class="mt-5">{% trans "Agroecossistemas" %}</h5>
            <dl class="row mt-4">
                {% for agroecossistema in agroecossistemas_selected %}
                    <dd class="col-sm-12 col-md-7 col-lg-9">
                        {{ agroecossistema.agroecossistema }}
                        <span class="font-italic">(
                            {% if agroecossistema.analise_qualitativa %}
                                {% trans "Análise Qualitativa" %} {{ agroecossistema.analise_qualitativa }}
                            {% else %}
                                {% trans "Sem Análise Qualitativa" %}
                            {% endif %}
                            -
                            {% if agroecossistema.analise_economica_id > 0 %}
                                {% trans "Possui Análise Econômica" %}
                            {% endif %}
                        )</span>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% crispy form %}
{% endblock form_wizard_content %}
