{% extends "analiseagregada/base.html" %}
{% load vstatic %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load anexos %}
{% load static %}
{% load utils_tags %}
{% load economica_tags %}
{% load relatorios_tags %}
{% load custom_tags %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/Chart.js' %}"></script>
    <script type="text/javascript" src="{% vstatic 'main/js/chartjs-utils.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/chartjs-plugin-datalabels.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/jszip-3.2.0.min.js' %}"></script>
    <script src="{% vstatic 'analiseagregada/js/analiseagregada_qualitativa.js' %}"></script>
    <link rel="stylesheet"
          href="{% vstatic 'qualitativa/css/comparacao.css' %}">
{% endblock includes %}
{% block content %}
    {% if agroecossistemas.items|length > 0 %}
        <div class="row mt-3">
            <div class="col-sm-12">
                <table {% tabela_class tableId='universo_table' sticky=True editavel=False searchable=True orderable=True %}
                       id="universo_table"
                       datatable-title="Universo de agroecossistemas da análise agregada {{ analiseagregada.nome }}"
                       datatable-filename="universo_table">
                    <thead>
                        {% tabela_cabecalho colspan=analiseagregada.evento_gatilho|yesno:"5,4" tableTitle='Universo de agroecossistemas da análise agregada '|concat:analiseagregada.nome targetId='universo_table' editavel=False %}
                        <tr>
                            <th class="text-center no-sort">{% trans "Ação" %}</th>
                            <th>{% trans "Agroecossistema" %}</th>
                            <th class="text-center no-sort">{% trans "Análise econômica" %}</th>
                            {% if analiseagregada.evento_gatilho %}
                                <th>{% trans "Simulação" %}</th>
                            {% endif %}
                            <th class="text-center">{% trans "Análise qualitativa" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, item in agroecossistemas.items %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url 'analiseagregada:toggle_agroecossistema' analiseagregada.id item.agroecossistema_id %}"
                                       class="btn btn-sm btn-secondary toggle_agroecossistema">
                                        <i class="fas {% if item.visibilidade %}fa-eye{% else %}fa-eye-slash{% endif %}"></i>
                                    </a>
                                </td>
                                <td>{{ item.agroecossistema_nome }}</td>
                                <td class="text-center" style="font-size:140%">
                                    {% if item.analise_economica %}
                                        <i class="text-success fas fa-check-circle"></i>
                                    {% else %}
                                        <i class="text-danger fas fa-times-circle"></i>
                                    {% endif %}
                                </td>
                                {% if analiseagregada.evento_gatilho %}<td class="text-center"></td>{% endif %}
                                <td class="text-center">
                                    {% if item.analise_qualitativa_nome %}
                                        {{ item.analise_qualitativa_nome }}
                                    {% else %}
                                        <i class="text-danger fas fa-times-circle" style="font-size: 140%"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <script>
      $('.toggle_agroecossistema').on('click', function(e) {
        e.preventDefault();
        link = this;
        $.ajax({url: $(this).attr('href'), success: function(result){
          attr_class = result.visibility ? "fas fa-eye" : "fas fa-eye-slash";
          $(link).find('i').attr('class', attr_class);
        }});
      });
    </script>
{% endblock content %}
