{% extends "./form_wizard.html" %}
{% load vstatic %}
{% load rules %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block includes %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% vstatic 'main/css/dataTables.rowGroup.min.css' %}">
  <script type="text/javascript"
          src="{% vstatic 'main/js/dataTables.rowGroup.min.js' %}"></script>
  <script type="text/javascript"
          src="{% vstatic 'analiseagregada/js/analiseagregada_sel_analise_qualitativa.js' %}"></script>
{% endblock includes %}
{% block form_wizard_content %}
  {% if object_list|length > 0 %}
    <div class="row mb-3">
      <div class="col-md-12">
        <div id="accordion">
          {% for agroecossistema, analises in object_list.items %}
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">{{ agroecossistema }}</h5>
              </div>
              <div id="collapseOne"
                   class="collapse show"
                   aria-labelledby="headingOne"
                   data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-unstyled">
                    {% for obj in analises %}
                      <li>
                        <input type="radio"
                               value="[{{ obj.agroecossistema.id }},{{ obj.id }}]"
                               name="analise_agroecossistema_{{ obj.agroecossistema.id }}"
                               id="analise_qualitativa_{{ forloop.counter0 }}"
                               class="analise_qualitativa_checkbox"
                               {% if obj.is_valid and obj.id in analise_qualitativa_ids %}checked{% endif %}
                               {% if not obj.is_valid %}disabled{% endif %}>
                        {{ obj }}
                        {% if obj.evento_gatilho %}(<i>{{ obj.evento_gatilho }}</i>){% endif %}
                        {% if not obj.is_valid %}
                          <br>
                          <small>{% trans "Indisponível" %}: {{ obj.justificativa }}</small>
                        {% endif %}
                      </li>
                      {% if forloop.last %}
                        <li>
                          <input type="radio"
                                 value="[{{ obj.agroecossistema.id }},'-']"
                                 name="analise_agroecossistema_{{ obj.agroecossistema.id }}"
                                 id="analise_qualitativa_None"
                                 class="analise_qualitativa_checkbox">
                          {% trans "Desconsiderar agroecossistema" %}
                        </li>
                        <script>
                    if (! $('input[name="analise_agroecossistema_{{ obj.agroecossistema.id }}"]:checked').length) {
                      $('input[name="analise_agroecossistema_{{ obj.agroecossistema.id }}"]:last').attr('checked','checked')
                    }
                        </script>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% elif user.is_anonymous %}
    <div class="col-md-12 mt-2">
      <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <div class="card-body text-center">
          <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
               class="w-25"
               alt="" />
          <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
          <div class="alert alert-dark">
            <h5>{% trans "Acesso não permitido. Faça Login para continuar" %}</h5>
            <a href="{% url 'account_login' %}?next={{ request.path }}"
               class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> {% trans "Entrar" %}</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-md-12 mt-2">
      <div class="alert alert-dark">
        <h5>{% trans "Ainda não há registros" %}.</h5>
      </div>
    </div>
  {% endif %}
  {% crispy form %}
{% endblock form_wizard_content %}
