{% extends "./form_wizard.html" %}
{% load vstatic %}
{% load rules %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block includes %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% vstatic 'main/css/dataTables.select.min.css' %}">
  <script type="text/javascript"
          src="{% vstatic 'main/js/dataTables.select.min.js' %}"></script>
  <script type="text/javascript"
          src="{% vstatic 'analiseagregada/js/analiseagregada_selecionar.js' %}"></script>
{% endblock includes %}
{% block form_wizard_content %}
  {% has_perm 'agroecossistema.cadastrar' user as pode_cadastrar_agroecossistema %}
  <div class="row mb-3">
    <div class="col-md-12">
      <dl class="row mt-4">
        {% if object_list|length > 0 %}
          <dt class="col-sm-12 col-md-5 col-lg-3">{{ object_list|length }} {% trans "Agroecossistemas selecionados" %}</dt>
          <dd class="col-sm-12 col-md-7 col-lg-9"
              id="aa_wizard_lista_agroecossistemas">
            {% for i in object_list %}
              {% if not agroecossistemas_selected or i.id in agroecossistemas_selected %}
                {{ i }}
                <br>
              {% endif %}
            {% endfor %}
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
  {% if object_list|length > 0 %}
    <div class="form-group">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed p-0"
                 data-toggle="collapse"
                 data-target="#collapseAgroecossistemas"
                 aria-expanded="true"
                 aria-controls="collapseOne">
                <u>{% trans "Opção avançada: Alterar manualmente os agroecossistemas selecionados" %}</u>
              </a>
            </h5>
          </div>
          <div id="collapseAgroecossistemas"
               class="collapse show"
               aria-labelledby="headingOne"
               data-parent="#accordion">
            <div class="card-body">
              <table id="agroecossistema_list_table" class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th></th>
                    <th>{% trans "NSGA" %}</th>
                    <th>{% trans "Organização" %}</th>
                    <th class="d-none d-md-table-cell">{% trans "Território" %}</th>
                    <th class="d-none d-md-table-cell">{% trans "Comunidade" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for agroecossistema in object_list %}
                    <tr class="{% if not agroecossistemas_selected or agroecossistema.id in agroecossistemas_selected %}selected{% endif %}">
                      <td>
                        <input id="agroecossistema_{{ forloop.counter0 }}"
                               type="hidden"
                               value="{{ agroecossistema.id }}">
                        {% if not agroecossistemas_selected or agroecossistema.id in agroecossistemas_selected %}{% endif %}
                      </td>
                      <td>{{ agroecossistema.nsga }}</td>
                      <td>{{ agroecossistema.organizacao }}</td>
                      <td class="d-none d-md-table-cell">{{ agroecossistema.territorio|default_if_none:"-" }}</td>
                      <td class="d-none d-md-table-cell">{{ agroecossistema.comunidade }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elif user.is_anonymous %}
    <div class="col-md-12 mt-2">
      <div class="card offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <div class="card-body text-center">
          <img src="{% vstatic 'main/img/logo-lume-medio.png' %}"
               class="w-25"
               alt="" />
          <h3>{% trans "LUME - Análise Econômico-Ecológica de Agroecossistemas" %}</h3>
          <div class="alert alert-dark">
            <h5>Acesso não permitido. Faça Login para continuar</h5>
            <a href="{% url 'account_login' %}?next={{ request.path }}"
               class="btn btn-primary">
              <i class="fas fa-sign-in-alt"></i> {% trans "Entrar" %}</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-md-12 mt-2">
      <div class="alert alert-dark">
        <h5>
          {% trans "Ainda não há agroecossistemas cadastrados" %}.
          {% if pode_cadastrar_agroecossistema %}
            {% trans "Seja a/o primeira/o a criar um" %} <a href="{% url 'agroecossistema_create' %}">{% trans "clique aqui" %}</a>.
          {% endif %}
        </h5>
      </div>
    </div>
  {% endif %}
  {% crispy form %}
{% endblock form_wizard_content %}
