{% extends "analiseagregada/base.html" %}
{% load vstatic %}
{% load i18n %}
{% load l10n %}
{% load rules %}
{% load anexos %}
{% load economica_tags %}
{% load relatorios_tags %}
{% load custom_tags %}
{% block includes %}
    {{ block.super }}
{% endblock includes %}
{% block content %}
    {% has_perm 'agroecossistema.alterar' user agroecossistema as pode_alterar_agroecossistema %}
    <div class="row mb-2">
        <div class="col-12 mb-2">
            <h1>{{ object }}</h1>
            <div class="card w-100 mb-2">
                <div class="card-body">
                    <p class="card-text">{{ object.descricao }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card w-100 mb-2">
                <div class="card-header">
                    <h5 class="mb-0">{% trans "Informações sobre o universo selecionado" %}</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "Agroecossistemas" %}:</dt>
                        <dd class="col-md-6 font-italic">
                            {{ agroecossitemas_count }}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "Área média das propriedades" %}:</dt>
                        <dd class="col-md-6 font-italic">
                            {% blocktrans %}
                    {{ media_analises.area|floatformat:2 }} ha
                    {% endblocktrans %}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "Renda agregada média" %}:</dt>
                        <dd class="col-md-6 font-italic">
                            {{ media_analises.total_ra|currency:True }}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "Índice médio de mercantilização" %}:</dt>
                        <dd class="col-md-6 font-italic">
                            {{ media_analises.total_mercantilizacao|floatformat:2 }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card w-100 mb-2">
                <div class="card-header">
                    <h5 class="mb-0">{% trans "Critérios utilizados" %}</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "Organização" %}:</dt>
                        <dd class="col-md-6 font-italic">
                            {{ object.organizacao }}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6 text-right">{% trans "ano de início do ciclo" %}:</dt>
                        <dd class="col-md-6">
                            {{ object.ano|unlocalize }}
                        </dd>
                    </dl>
                    {% if object.evento_gatilho %}
                        <dl class="row">
                            <dt class="col-md-6 text-right">{% trans "Evento gatilho" %}:</dt>
                            <dd class="col-md-6">
                                {{ object.evento_gatilho }}
                            </dd>
                        </dl>
                    {% endif %}
                    {% if object.json_criterios_selecao is null %}
                        <dl class="row">
                            <dt class="col-md-6 text-right">{% trans "Filtros aplicados" %}:</dt>
                            <dd class="col-md-6">
                                {{ object.json_criterios_selecao }}
                            </dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <a href="{% url 'analiseagregada:qualitativa' pk=object.pk %}"
               class="btn btn-success btn-lg text-white w-100 p-5">{% trans "Ver análises qualitativas" %}</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'analiseagregada:economica' pk=object.pk %}"
               class="btn btn-warning btn-lg w-100 p-5">{% trans "Ver análises econômicas" %}</a>
        </div>
    </div>
{% endblock content %}
