{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% load vstatic %}
{% load custom_tags %}

{% block includes %}
    <link rel="stylesheet" href="{% vstatic 'analiseagregada/css/analiseagregada.css' %}">
{% endblock %}

{% block menu_sessao %}
{% if analiseagregada.id %}
<div id="sidebar-wrapper" class="sidebar-analiseagregada d-flex flex-column justify-content-between">
    <div class="list-group list-group-flush">
        <a
            class="list-group-item list-group-item-action sidebar-header d-flex justify-content-start align-items-center"
            href="{% url 'analiseagregada:detail' pk=analiseagregada.id %}"
        >
            <div class="avatar-square">
                <div class="initials">
                    {{ analiseagregada.get_initials }}
                </div>
            </div>
            <span class="ml-2">{{ analiseagregada.nome }}</span>
        </a>
        <a
            class="list-group-item list-group-item-action{% if submodulo == 'inicio' %} active{% endif %}"
            href="{% url 'analiseagregada:detail' pk=analiseagregada.id %}"
        >
            <i class="mr-1 fa fa-home"></i>
            <span>{% trans "Painel" %}</span>
        </a>
        <a
            class="list-group-item list-group-item-action{% if submodulo == 'qualitativa' %} active{% endif %}"
            href="{% url 'analiseagregada:qualitativa' pk=analiseagregada.id %}"
        >
            <i class="mr-1 fas fa-clipboard-list"></i>
            <span>{% trans "Análises Qualitativas" %}</span>
        </a>
        <a
            class="list-group-item list-group-item-action{% if submodulo == 'economica' %} active{% endif %}"
            href="{% url 'analiseagregada:economica' pk=analiseagregada.id %}"
        >
            <i class="mr-1 fas fa-chart-bar"></i>
            <span>{% trans "Análises Econômicas" %}</span>
        </a>
        {% if user.is_authenticated %}
            <a
                class="list-group-item list-group-item-action{% if submodulo == 'universo' %} active{% endif %}"
                href="{% url 'analiseagregada:universo' pk=analiseagregada.id %}"
            >
                <i class="mr-1 fas fa-globe"></i>
                <span>{% trans "Ver/Editar Universo" %}</span>
            </a>
            <a
                class="list-group-item list-group-item-action{% if submodulo == 'editar' %} active{% endif %}"
                href="{{ analiseagregada.get_update_url }}"
            >
              <i class="mr-1 fa fa-cog"></i>
              <span>{% trans "Configurar análise" %}</span>
            </a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
