{% extends "analiseagregada/base.html" %}
{% load i18n %}
{% load vstatic %}
{% block includes %}
  <script type="text/javascript">
    var FORM_WIZARD_STEPS = {{ form_wizard.steps|length }};
    var FORM_WIZARD_CURRENT = {{ form_wizard.current.number }};
    var FORM_WIZARD_PREVIOUS = "{{ form_wizard.current.previous }}";
  </script>
  <link rel="stylesheet"
        href="{% vstatic 'analiseagregada/css/bootstrap-form-wizard.css' %}">
  <link rel="stylesheet"
        href="{% vstatic 'analiseagregada/css/analiseagregada.css' %}">
  <script type="text/javascript"
          src="{% vstatic 'analiseagregada/js/bootstrap-form-wizard.js' %}"></script>
{% endblock includes %}
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <h3>{{ form_wizard.title }}</h3>
  <p>{{ form_wizard.subtitle }}</p>
  <div class="row">
    <div id="msform" class="col-md-12">
      <!-- progressbar -->
      <ul id="progressbar">
        {% for step in form_wizard.steps %}
          <li class="{% if forloop.counter <= form_wizard.current.number %}active{% endif %} fas fa-{{ step.icon }}"
              name="{{ step.title|slugify }}"
              id="{{ step.title|slugify }}">
            <span>{{ step.title }}</span>
          </li>
        {% endfor %}
      </ul>
      <div class="progress">
        <div class="progress-bar"
             role="progressbar"
             aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-7">
      <h4>{{ form_wizard.current.description }}</h4>
    </div>
    <div class="col-5">
      <h2 class="steps">Passo {{ form_wizard.current.number }} - {{ form_wizard.steps|length }}</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      {% block form_wizard_content %}
      {% endblock form_wizard_content %}
    </div>
  </div>
{% endblock content %}
