{% load i18n %}
{% load custom_tags %}
{% load relatorios_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=12 tableTitle=titulo targetId=targetId %}
    <tr>
        <th></th>
        <th colspan="5">{% trans "Esferas de Ocupação (horas trabalhadas)" %}</th>
        <th class="th-dark"></th>
        <th colspan="5"  class="th-darker">{% trans "Esferas de Ocupação (renda)" %}</th>
    </tr>
    <tr>
        <th>{% trans "Nome" %}</th>
        <th>{% trans "Mercantil e Autoconsumo" %}</th>
        <th>{% trans "Doméstico e Cuidados" %}</th>
        <th>{% trans "Participação Social" %}</th>
        <th>{% trans "Pluriatividade" %}</th>
        <th>{% trans "Total" %}</th>
        <th class="th-dark">{% trans "Tempos médios de ocupação por dia" %}</th>
        <th class="th-darker">{% trans "Mercantil e Autoconsumo" %}</th>
        <th class="th-darker">{% trans "Doméstico e Cuidados" %}</th>
        <th class="th-darker">{% trans "Participação Social" %}</th>
        <th class="th-darker">{% trans "Pluriatividade" %}</th>
        <th class="th-darker">{% trans "Total" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for pessoa in totais.horas_trabalho_por_pessoa %}
        <tr>
            <td>
                {{ pessoa.pessoa_nome }}
                {% if pessoa.responsavel %}<sup>*</sup>{% endif %}
                {% if pessoa.grau_de_parentesco != 'O' %}({{ pessoa.get_parentesco }}){% endif %}
            </td>
            <td class="text-right">{{ pessoa.horas_mercantil|number:0 }}</td>
            <td class="text-right">{{ pessoa.horas_domestico_cuidados|number:0 }}</td>
            <td class="text-right">{{ pessoa.horas_participacao_social|number:0 }}</td>
            <td class="text-right">{{ pessoa.horas_pluriatividade|number:0 }}</td>
            <td class="text-right">{{ pessoa.horas_total|number:0 }}</td>
            <td class="text-right td-dark">{{ pessoa.horas_media_por_dia|number:2 }}</td>
            <td class="text-right td-darker">{{ pessoa.horas_mercantil|vezes:totais.valor_hora|number:2 }}</td>
            <td class="text-right td-darker">{{ pessoa.horas_domestico_cuidados|vezes:totais.valor_hora|number:2 }}</td>
            <td class="text-right td-darker">{{ pessoa.horas_participacao_social|vezes:totais.valor_hora|number:2 }}</td>
            <td class="text-right td-darker">{{ pessoa.horas_pluriatividade|vezes:totais.valor_hora|number:2 }}</td>
            <td class="text-right td-darker">{{ pessoa.horas_total|vezes:totais.valor_hora|number:2 }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th></th>
        <th class="text-right">{{ totais.horas_mercantil_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_domestico_cuidados_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_participacao_social_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_pluriatividade_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_total_total|number:0 }}</th>
        <th class="text-right th-dark">{{ totais.htdia_total|number:2 }}</th>
        <th class="text-right th-darker">{{ totais.horas_mercantil_total|vezes:totais.valor_hora|number:2 }}</th>
        <th class="text-right th-darker">{{ totais.horas_domestico_cuidados_total|vezes:totais.valor_hora|number:2 }}</th>
        <th class="text-right th-darker">{{ totais.horas_participacao_social_total|vezes:totais.valor_hora|number:2 }}</th>
        <th class="text-right th-darker">{{ totais.horas_pluriatividade_total|vezes:totais.valor_hora|number:2 }}</th>
        <th class="text-right th-darker">{{ totais.horas_total_total|vezes:totais.valor_hora|number:2 }}</th>
    </tr>
</tfoot>
