{% load i18n %}
{% load custom_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=15 tableTitle=titulo targetId=targetId %}
    <tr>
        <th>{% ajudaIndicadorNome slug="Subsistema" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RB" %}</th>
        <th>{% ajudaIndicadorAmbos slug="VA" %}</th>
        <th>{% ajudaIndicadorAmbos slug="VAT" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RA" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RA/VAx100" %}</th>
        <th>{% ajudaIndicadorAmbos slug="VA/ha" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RA/ha" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RAM" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RML" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RMB" %}</th>
        <th>{% ajudaIndicadorNome slug="IRT" %}</th>
        <th>{% ajudaIndicadorNome slug="ET" %}</th>
        <th>{% ajudaIndicadorNome slug="IAVA" %}</th>
        <th>{% ajudaIndicadorNome slug="IM" %} (0-1)</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for ss in totais.totais_subsistemas %}
        <tr>
            <td>{{ ss.nome }}</td>
            <td class="text-right">{{ ss.rb|currency }}</td>
            <td class="text-right">{{ ss.va|currency }}</td>
            <td class="text-right">{{ ss.vat|currency }}</td>
            <td class="text-right">{{ ss.ra|currency }}</td>
            <td class="text-right">{{ ss.valor_agregado|percent }}</td>
            <td class="text-right">{{ ss.produtividade_terra|currency }}</td>
            <td class="text-right">{{ ss.ra_area|currency }}</td>
            <td class="text-right">{{ ss.ram|currency }}</td>
            <td class="text-right">{{ ss.rentabilidade_monetaria_liquida|floatformat:2 }}</td>
            <td class="text-right">{{ ss.rentabilidade_monetaria_bruta|floatformat:2 }}</td>
            <td class="text-right">{{ ss.rentabilidade_total|floatformat:2 }}</td>
            <td class="text-right">{{ ss.endogeneidade|floatformat:2 }}</td>
            <td class="text-right">{{ ss.apropriacao_valor_agregado|floatformat:2 }}</td>
            <td class="text-right">{{ ss.mercantilizacao|floatformat:2 }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th>{% ajudaIndicadorNome slug="Custos Sistêmicos" %}</th>
        <th colspan="3"></th>
        <th class="text-right">-{{ totais.pt|currency }}</th>
        <th colspan="3"></th>
        <th class="text-right">-{{ totais.pt|currency }}</th>
        <th colspan="6"></th>
    </tr>
    <tr>
        <th>{% ajudaIndicadorNome slug="Agroecossistema" %}</th>
        <th class="text-right">{{ totais.total_rb|currency }}</th>
        <th class="text-right">{{ totais.total_va|currency }}</th>
        <th class="text-right">{{ totais.total_vat|currency }}</th>
        <th class="text-right">{{ totais.total_ra|currency }}</th>
        <th class="text-right">{{ totais.total_valor_agregado|percent }}</th>
        <th class="text-right">{{ totais.total_produtividade_terra|currency }}</th>
        <th class="text-right">{{ totais.total_ra_area|currency }}</th>
        <th class="text-right">{{ totais.total_ram|currency }}</th>
        <th class="text-right">{{ totais.total_rentabilidade_monetaria_liquida|floatformat:2 }}</th>
        <th class="text-right">{{ totais.total_rentabilidade_monetaria_bruta|floatformat:2 }}</th>
        <th class="text-right">{{ totais.total_rentabilidade_total|floatformat:2 }}</th>
        <th class="text-right">{{ totais.total_endogeneidade|floatformat:2 }}</th>
        <th class="text-right">{{ totais.total_apropriacao_valor_agregado|floatformat:2 }}</th>
        <th class="text-right">{{ totais.total_mercantilizacao|floatformat:2 }}</th>
    </tr>
</tfoot>
