{% load i18n %}
{% load custom_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=9 tableTitle=titulo targetId=targetId %}
    <tr>
        <th>{% trans "Nome" %}</th>
        <th>{% trans "Sexo" %}</th>
        <th>{% trans "Parentesco" %}</th>
        <th>{% trans "Idade" %}</th>
        <th>{% trans "Responsáveis" %}</th>
        <th>{% trans "UTF Agr." %}</th>
        <th>{% trans "UTF Plur." %}</th>
        <th>{% trans "UTF Total" %}</th>
        <th>{% trans "Obs" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for pessoa in totais.horas_trabalho_por_pessoa %}
        <tr>
            <td>
                {{ pessoa.pessoa_nome }}
                {% if pessoa.responsavel %}<sup>*</sup>{% endif %}
            </td>
            <td>{{ pessoa.get_sexo }}</td>
            <td>{{ pessoa.get_parentesco }}</td>
            <td>{{ pessoa.get_idade }}</td>
            <td>
                {% if pessoa.responsavel %}Sim{% endif %}
            </td>
            <td>{{ pessoa.utf_agroecossistema|number:2 }}</td>
            <td>{{ pessoa.utf_pluriatividade|number:2 }}</td>
            <td>{{ pessoa.utf_total|number:2 }}</td>
            <td>
                {% if pessoa.observacoes %}{{ pessoa.observacoes }}{% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
