{% load i18n %}
{% load custom_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=17 tableTitle=titulo targetId=targetId %}
    <tr>
        <th colspan="2"></th>
        <th colspan="8" class="th-dark">{% ajudaIndicadorAmbos slug="PB" %}</th>
        <th colspan="7">{% ajudaIndicadorAmbos slug="CP" %}</th>
    </tr>
    <tr>
        <th colspan="2"></th>
        <th colspan="8" class="th-dark"></th>
        <th colspan="3">{% ajudaIndicadorAmbos slug="CI" %}</th>
        <th colspan="3">{% ajudaIndicadorAmbos slug="PT" %}</th>
        <th></th>
    </tr>
    <tr>
        <th>{% ajudaIndicadorNome slug="Subsistema" %}</th>
        <th>{% trans "Área (ha)" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Venda Merc. Convencional" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Venda Merc. Territorial" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Venda Merc. Institucional" %}</th>
        <th class="th-dark">Total Vendido - {% ajudaIndicadorAmbos slug="RBM" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Autoconsumo" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Trocas e Doações" %}</th>
        <th class="th-dark">{% ajudaIndicadorNome slug="Estoque" %}</th>
        <th class="th-dark">{% trans "Total" %}</th>
        {# Translators: sigla T #}
        <th>{% trans "T" %}</th>
        {# Translators: sigla F #}
        <th>i{% trans "F" %}</th>
        <th>Total {% ajudaIndicador slug="CI" %}</th>
        {# Translators: sigla T #}
        <th>{% trans "T" %}</th>
        {# Translators: sigla F #}
        <th>i{% trans "F" %}</th>
        <th>Total {% ajudaIndicador slug="PT" %}</th>
        <th>Total {% ajudaIndicadorAmbos slug="CP" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for ss in totais.totais_subsistemas %}
        <tr>
            <td>{{ ss.nome }}</td>
            <td class="text-right">{{ ss.area|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_venda_convencional|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_venda_territorial|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_venda_institucional|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_venda|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_autoconsumo|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_doacoes_trocas|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb_estoque|currency }}</td>
            <td class="text-right td-dark">{{ ss.pb|currency }}</td>
            <td class="text-right">{{ ss.ci_t|currency }}</td>
            <td class="text-right">{{ ss.ci_f|currency }}</td>
            <td class="text-right">{{ ss.ci|currency }}</td>
            <td class="text-right">{{ ss.pt_t|currency }}</td>
            <td class="text-right">{{ ss.pt_f|currency }}</td>
            <td class="text-right">{{ ss.pt|currency }}</td>
            <td class="text-right">{{ ss.cp|currency }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>{% ajudaIndicadorNome slug="Custos Sistêmicos" %}</td>
        <td>-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td class="td-dark">-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td class="text-right">{{ totais.pt|currency }}</td>
        <td class="text-right">{{ totais.pt|currency }}</td>
        <td>-</td>
    </tr>
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th>{% ajudaIndicadorNome slug="Agroecossistema" %}</th>
        <th class="text-right">{{ totais.area|floatformat:2 }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_venda_convencional|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_venda_territorial|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_venda_institucional|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_venda|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_autoconsumo|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_doacoes_trocas|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb_estoque|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_pb|currency }}</th>
        <th class="text-right">{{ totais.total_ci_t|currency }}</th>
        <th class="text-right">{{ totais.total_ci_f|currency }}</th>
        <th class="text-right">{{ totais.total_ci|currency }}</th>
        <th class="text-right">{{ totais.total_pt_t|currency }}</th>
        <th class="text-right">{{ totais.total_pt_f|currency }}</th>
        <th class="text-right">{{ totais.total_pt|currency }}</th>
        <th class="text-right">{{ totais.total_cp|currency }}</th>
    </tr>
</tfoot>
