{% load i18n %}
{% load custom_tags %}
    <thead>
        {% tabela_cabecalho colspan=3 tableTitle=titulo targetId=targetId %}
        <tr>
            <th>{% ajudaIndicador slug="Rendas" %}</th>
            <th class="text-right">{% trans "Valor (R$)" %}</th>
            <th class="text-right">{% trans "%" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary">
            <td>1 - {% ajudaIndicadorNome slug="Rendas Agrícolas" %}</td>
            <td class="text-right">{{ totais.total_ra|currency }}</td>
            <td class="text-right">{{ totais.percent_ra|percent:1 }}</td>
        </tr>
        <tr>
            <td>1.1 - {% ajudaIndicadorNome slug="Produções Vegetais e Animais" %}</td>
            <td class="text-right">{{ totais.total_ra_nao_extrativistas|currency }}</td>
            <td class="text-right">{{ totais.percent_ra_nao_extrativistas|percent:1 }}</td>
        </tr>
        <tr>
            <td>1.2 - {% ajudaIndicadorNome slug="Extrativismo" %}</td>
            <td class="text-right">{{ totais.total_ra_extrativistas|currency }}</td>
            <td class="text-right">{{ totais.percent_ra_extrativistas|percent:1 }}</td>
        </tr>
        <tr class="table-secondary">
            <td>2 - {% ajudaIndicadorNome slug="Rendas Não Agrícolas" %}</td>
            <td class="text-right">{{ totais.rna_valor_total|currency }}</td>
            <td class="text-right">{{ totais.percent_rna|percent:1 }}</td>
        </tr>
        <tr>
            <td>2.1 - {% ajudaIndicadorNome slug="Pluriatividade" %}</td>
            <td class="text-right">{{ totais.rna_pluriatividade|currency }}</td>
            <td class="text-right">{{ totais.percent_rna_pluriatividade|percent:1 }}</td>
        </tr>
        <tr>
            <td>2.2 - {% ajudaIndicadorNome slug="Transferência de Renda" %}</td>
            <td class="text-right">{{ totais.rna_transferencia|currency }}</td>
            <td class="text-right">{{ totais.percent_rna_transferencia|percent:1 }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>3 - {% ajudaIndicadorNome slug="Renda Familiar Total" %}</th>
            <th class="text-right">{{ totais.renda_familiar_total|currency }}</th>
            <th class="text-right">{{ 1|percent:1 }}</th>
        </tr>
    </tfoot>
