{% load i18n %}
{% load rules %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}

{% if DEBUG_VARS %}<ul>{% for var in vars %}<li>{{ var }}: {{ totais|get_dict_by_key:var }}</li>{% endfor %}</ul>{% endif %}
{% if status == 'Vazio' %}
    <div class="alert alert-warning">
        <p>
          {% trans "A Análise Econômica deste ciclo não possui dados suficientes para gerar o Quadro Síntese! Por favor, complemente-a com mais informações." %}
        </p>
        <p>
            <a class="btn btn-secondary" data-toggle="collapse" href="#vars-quadroSintese" role="button" aria-expanded="false" aria-controls="vars-quadroSintese">
              <i class="fas fa-eye mr-1"></i> {% trans "Lista de variáveis necessárias para gerar o Quadro Síntese" %}
            </a>
        </p>
        <div class="collapse" id="vars-quadroSintese">
            <h4>{% mostra_vars totais=totais vars=vars %}</h4>
        </div>
    </div>
{% else %}
    <!-- <table class="table table-striped datatable datatable-indicators"> -->
        <table
            {% tabela_class tableId=targetId sticky=false portrait=True %}
            id="{{ targetId }}"
            datatable-title="{{ titulo }}"
            datatable-filename="{{ targetId }}"
        >
        <thead>
            {% tabela_cabecalho colspan=3 tableTitle=titulo targetId=targetId %}
        </thead>
        <tbody>
            <tr>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Recursos Produtivos Mercantis" %}:</dd>
                        <dt class="qsintese">{{ totais.total_cp|currency:True }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="RMB" %}:</dd>
                        <dt class="qsintese">{{ totais.total_rentabilidade_monetaria_bruta|floatformat:2 }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Produtos Vendidos" %}</dd>
                        <dt class="qsintese">{{ totais.total_pb_venda|currency:True  }}</dt>
                    </dl>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Recursos Reproduzidos (insumos)" %}:</dd>
                        <dt class="qsintese">{{ totais.total_pp|currency:True  }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="IM" %}:</dd>
                        <dt class="qsintese">{{ totais.total_mercantilizacao|floatformat:2 }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Produtos Consumidos" %} ({% trans 'autoconsumo' %}):</dd>
                        <dt class="qsintese">{{ totais.total_pb_autoconsumo|currency:True  }}</dt>
                    </dl>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Recursos Recebidos (entrada reciprocidade)" %}</dd>
                        <dt class="qsintese">{{ totais.total_reciprocidade|currency:True  }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Total recursos reproduzidos" %}</dd>
                        <dt class="qsintese">{{ totais.total_recursos_reproduzidos|currency:True  }}</dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd>{% ajudaIndicadorNome slug="Produtos Doados (saída reciprocidade)" %}</dd>
                        <dt class="qsintese">{{ totais.total_pb_doacoes_trocas|currency:True  }}</dt>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
