{% load i18n %}
{% load custom_tags %}
{% load relatorios_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=11 tableTitle=titulo targetId=targetId %}
    <tr>
        <th></th>
        <th colspan="5">{% trans "Esferas de Ocupação (por 8 horas trabalhadas)" %}</th>
        <th colspan="5" class="th-dark">{% trans "Esferas de Ocupação (UTC)" %}</th>
    </tr>
    <tr>
        <th>{% trans "Nome" %}</th>
        <th>{% trans "Mercantil e Autoconsumo" %}</th>
        <th>{% trans "Doméstico e Cuidados" %}</th>
        <th>{% trans "Participação Social" %}</th>
        <th>{% trans "Pluriatividade" %}</th>
        <th>{% trans "Total" %}</th>
        <th class="th-dark">{% trans "Mercantil e Autoconsumo" %}</th>
        <th class="th-dark">{% trans "Doméstico e Cuidados" %}</th>
        <th class="th-dark">{% trans "Participação Social" %}</th>
        <th class="th-dark">{% trans "Pluriatividade" %}</th>
        <th class="th-dark">{% trans "Total" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for pessoa in totais.horas_trabalho_por_pessoa %}
        <tr>
            <td>
                {{ pessoa.pessoa_nome }}
                {% if pessoa.responsavel %}<sup>*</sup>{% endif %}
                {% if pessoa.grau_de_parentesco != 'O' %}({{ pessoa.get_parentesco }}){% endif %}
            </td>
            <td class="text-right">{{ pessoa.horas_mercantil|dividido:8|number:2 }}</td>
            <td class="text-right">{{ pessoa.horas_domestico_cuidados|dividido:8|number:2 }}</td>
            <td class="text-right">{{ pessoa.horas_participacao_social|dividido:8|number:2 }}</td>
            <td class="text-right">{{ pessoa.horas_pluriatividade|dividido:8|number:2 }}</td>
            <td class="text-right">{{ pessoa.jornadas|number:2 }}</td>
            <td class="text-right td-dark">{{ pessoa.horas_mercantil|dividido:2420|number:2 }}</td>
            <td class="text-right td-dark">{{ pessoa.horas_domestico_cuidados|dividido:2420|number:2 }}</td>
            <td class="text-right td-dark">{{ pessoa.horas_participacao_social|dividido:2420|number:2 }}</td>
            <td class="text-right td-dark">{{ pessoa.horas_pluriatividade|dividido:2420|number:2 }}</td>
            <td class="text-right td-dark">{{ pessoa.utc|number:2 }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th></th>
        <th class="text-right">{{ totais.horas_mercantil_total|dividido:8|number:2 }}</th>
        <th class="text-right">{{ totais.horas_domestico_cuidados_total|dividido:8|number:2 }}</th>
        <th class="text-right">{{ totais.horas_participacao_social_total|dividido:8|number:2 }}</th>
        <th class="text-right">{{ totais.horas_pluriatividade_total|dividido:8|number:2 }}</th>
        <th class="text-right">{{ totais.horas_total_total|dividido:8|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.horas_mercantil_total|dividido:2420|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.horas_domestico_cuidados_total|dividido:2420|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.horas_participacao_social_total|dividido:2420|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.horas_pluriatividade_total|dividido:2420|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.horas_total_total|dividido:2420|number:2 }}</th>
    </tr>
</tfoot>
