{% load i18n %}
{% load custom_tags %}

    <thead>
        {% tabela_cabecalho colspan=4 tableTitle=titulo targetId=targetId %}
        <tr>
            <th>{% ajudaIndicadorNome slug="Inventário Patrimonial (Capital Agrário)" %}</th>
            <th class="text-right">{% trans "Início do Período" %}</th>
            <th class="text-right">{% trans "Final do Período" %}</th>
            <th class="text-right">{% trans "Variação" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{% ajudaIndicadorNome slug="Capital Fundiário" %}</th>
            <td class="text-right">{{ totais.patrimonio_fundiario_inicio|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_fundiario_final|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_fundiario_variacao|currency }}</td>
        </tr>
        <tr>
            <th scope="row">{% ajudaIndicadorNome slug="Capital Fixo - Equipamentos" %}</th>
            <td class="text-right">{{ totais.patrimonio_equipamentos_inicio|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_equipamentos_final|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_equipamentos_variacao|currency }}</td>
        </tr>
        <tr>
            <th scope="row">{% ajudaIndicadorNome slug="Capital Fixo - Vivo" %}</th>
            <td class="text-right">{{ totais.patrimonio_vivo_inicio|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_vivo_final|currency }}</td>
            <td class="text-right">{{ totais.patrimonio_vivo_variacao|currency }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>{% trans "Total" %}</th>
            <th class="text-right">{{ totais.patrimonio_total_inicio|currency }}</th>
            <th class="text-right">{{ totais.patrimonio_total_final|currency }}</th>
            <th class="text-right">{{ totais.patrimonio_total_variacao|currency }}</th>
        </tr>
    </tfoot>
