{% load i18n %}
{% load custom_tags %}
{% with car.analise_economica.get_totais_tempostrabalho as tempostrabalho %}
{% with tempostrabalho.totais_tempostrabalho_totais_por_pessoa as cols %}

    <thead>
        {% tabela_cabecalho colspan=cols|length|sum:4 tableTitle=titulo targetId=targetId %}
        <tr>
            <th>{% ajudaIndicadorNome slug="Subsistema" %}{{ cols|length|sum:4 }}</th>
            <th class="th-dark">{% trans "HT Total" %}</th>

            {% for index, pessoa in tempostrabalho.totais_tempostrabalho_totais_por_pessoa.items %}
                <th>{{ pessoa.nome }}{% if pessoa.responsavel %}<sup>*</sup>{% endif %}</th>
            {% endfor %}

            <th class="th-dark">{% trans "HT Total Mulheres" %}</th>
            <th class="th-dark">{% trans "HT Total Homens" %}</th>
        </tr>
    </thead>
    <tbody>

    {% for ss in tempostrabalho.totais_tempostrabalho_totais_por_subsistema %}
        <tr>
            <td>{{ ss.nome }}</td>
            <td class="td-dark">{{ ss.totais_tempostrabalho_total }}</td>

            {% for pessoa in ss.totais_tempostrabalhoporpessoa %}
                <td>{% if pessoa.horas > 0 %}{{ pessoa.horas }}{% else %}-{% endif %}</td>
            {% endfor %}

            <td class="td-dark">{{ ss.totais_tempostrabalho_mulheres }}</td>
            <td class="td-dark">{{ ss.totais_tempostrabalho_homens }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% ajudaIndicadorNome slug="Agroecossistema" %}</th>
            <th class="th-dark">{{ tempostrabalho.totais_tempostrabalho_total }}</th>

            {% for index, pessoa in tempostrabalho.totais_tempostrabalho_totais_por_pessoa.items %}
                <th>{{ pessoa.horas }}</th>
            {% endfor %}

            <th class="th-dark">{{ tempostrabalho.totais_tempostrabalho_mulheres }}</th>
            <th class="th-dark">{{ tempostrabalho.totais_tempostrabalho_homens }}</th>
        </tr>
    </tfoot>
{% endwith %}
{% endwith %}
