{% load i18n %}
{% load l10n %}
{% load rules %}
{% load custom_tags %}
{% load utils_tags %}
{% load relatorios_tags %}
{% load static %}
{% load vstatic %}

{% block includes %}
    <script src="{% vstatic 'main/js/html2canvas.min.js' %}"></script>
{% endblock %}


{% if DEBUG_VARS %}<ul>{% for var in vars %}<li>{{ var }}: {{ totais|get_dict_by_key:var }}</li>{% endfor %}</ul>{% endif %}
{% if status == 'Completo' %}
<div id="diagrama_sintese_wrapper">
    <h4 class="text-right">
        <span id="download_diagrama_wrapper">
            <button
                class="btn btn-secondary mb-3"
                id="download_diagrama"
                data-filename="{% trans "Diagrama síntese do agroecossistema" %} {{ agroecossistema }} ({{ car }})"
            >
                <i class="fas fa-download mr-1"></i>
            </button>
        </span>
    </h4>
    <div class="diagrama_sintese" id="diagrama_sintese">
        <div class="total total_cp">{{ totais.total_cp|currency }}</div>
        <div class="total rentabilidade_monetaria">{{ totais.total_rentabilidade_monetaria_bruta|floatformat:2 }}</div>
        <div class="total total_pb_venda">{{ totais.total_pb_venda|currency  }}</div>
        <div class="total total_pb_insumos_produzidos">{{ totais.total_pp|currency }}</div>
        <div class="total total_mercantilizacao">{{ totais.total_mercantilizacao|floatformat:2 }}</div>
        <div class="total total_pb_autoconsumo">{{ totais.total_pb_autoconsumo|currency  }}</div>
        <div class="total total_reciprocidade">{{ totais.total_reciprocidade|currency }}</div>
        <div class="total total_pp">{{ totais.total_recursos_reproduzidos|currency  }}</div>
        <div class="total total_pb_doacoes_trocas">{{ totais.total_pb_doacoes_trocas|currency  }}</div>

        <div class="grafico grafico_sintese_cp_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_cp" chart-legend_id="legend_diagrama_sintese"></canvas></div>
        <div class="grafico grafico_sintese_pb_insumos_produzidos_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_pb_insumos_produzidos"></canvas></div>
        <div class="grafico grafico_sintese_reciprocidade_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_reciprocidade"></canvas></div>
        <div class="grafico grafico_sintese_pb_venda_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_pb_venda"></canvas></div>
        <div class="grafico grafico_sintese_pb_autoconsumo_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_pb_autoconsumo"></canvas></div>
        <div class="grafico grafico_sintese_pb_doacoes_trocas_wrapper grafico_sintese_tam_xl"><canvas id="grafico_sintese_pb_doacoes_trocas"></canvas></div>
        <script type="text/javascript">
            var maxRadius = 205;
            inicializa_grafico_sintese_tamanhos(
                maxRadius,
                {{ totais.total_cp|unlocalize }},
                {{ totais.total_pb_insumos_produzidos|unlocalize }},
                {{ totais.total_reciprocidade|unlocalize }},
                {{ totais.total_pb_venda|unlocalize }},
                {{ totais.total_pb_autoconsumo|unlocalize }},
                {{ totais.total_pb_doacoes_trocas|unlocalize }}
            );
            inicializa_grafico_sintese_cp('grafico_sintese_cp', subtitulo);
            inicializa_grafico_sintese_pb_insumos_produzidos('grafico_sintese_pb_insumos_produzidos', subtitulo);
            inicializa_grafico_sintese_reciprocidade('grafico_sintese_reciprocidade', subtitulo);
            inicializa_grafico_sintese_pb_venda('grafico_sintese_pb_venda', subtitulo);
            inicializa_grafico_sintese_pb_autoconsumo('grafico_sintese_pb_autoconsumo', subtitulo);
            inicializa_grafico_sintese_pb_doacoes_trocas('grafico_sintese_pb_doacoes_trocas', subtitulo);

            $(document).ready(function () {
                $("#download_diagrama").click(function (e) {
                    $('#download_diagrama_wrapper').hide();
                    $('#loading').show();
                    var useWidth = $('#diagrama_sintese_wrapper').prop('scrollWidth');
                    var useHeight = $('#diagrama_sintese_wrapper').prop('scrollHeight');
                    html2canvas(document.getElementById("diagrama_sintese_wrapper"), {width: useWidth+30, height: useHeight+400,scale:2}).then(function (canvas) {
                        $('#loading').hide();
                        var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                        baixaImagem(image, getSlug($('#download_diagrama').data('filename')));
                    });
                });
            });
        </script>
    </div>
    <div id="legend_diagrama_sintese" class="alert alert-info mt-2">
    </div>
</div>
<div id="diagrama_sintese_canvas">
</div>
{% else %}
<div class="alert alert-warning">
    <p>
      {% trans "Não há dados suficientes para gerar o Diagrama Síntese! Por favor, complemente a Análise Econômica." %}
    </p>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#vars-diagramaSintese" role="button" aria-expanded="false" aria-controls="vars-diagramaSintese">
          <i class="fas fa-eye mr-1"></i> {% trans "Lista de variáveis necessárias para gerar o Diagrama Síntese" %}
        </a>
    </p>
    <div class="collapse" id="vars-diagramaSintese">
        <h4>{% mostra_vars totais=totais vars=vars %}</h4>
    </div>
</div>
{% endif %}
