{% load i18n %}
{% load custom_tags %}
{% load relatorios_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=16 tableTitle=titulo targetId=targetId %}
    <tr>
        <th></th>
        <th colspan="5">{% trans "Esferas de Ocupação (h)" %}</th>
        <th colspan="5" class="th-dark">{% trans "Esferas de Ocupação (UTC)" %}</th>
        <th colspan="5">{% trans "Esferas de Ocupação (Renda)" %}</th>
    </tr>
    <tr>
        <th></th>
        <th>{% trans "Mercantil e Autoconsumo" %}</th>
        <th>{% trans "Doméstico e Cuidados" %}</th>
        <th>{% trans "Participação Social" %}</th>
        <th>{% trans "Pluriatividade" %}</th>
        <th>{% trans "Total" %}</th>
        <th class="th-dark">{% trans "Mercantil e Autoconsumo" %}</th>
        <th class="th-dark">{% trans "Doméstico e Cuidados" %}</th>
        <th class="th-dark">{% trans "Participação Social" %}</th>
        <th class="th-dark">{% trans "Pluriatividade" %}</th>
        <th class="th-dark">{% trans "Total" %}</th>
        <th>{% trans "Mercantil e Autoconsumo" %}</th>
        <th>{% trans "Doméstico e Cuidados" %}</th>
        <th>{% trans "Participação Social" %}</th>
        <th>{% trans "Pluriatividade" %}</th>
        <th>{% trans "Total" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    <tr>
        <td>{% trans "Mulheres" %}</td>
        <td class="text-right">{{ totais.horas_mercantil_af|number:0 }}</td>
        <td class="text-right">{{ totais.horas_domestico_cuidados_af|number:0 }}</td>
        <td class="text-right">{{ totais.horas_participacao_social_af|number:0 }}</td>
        <td class="text-right">{{ totais.horas_pluriatividade_af|number:0 }}</td>
        <td class="text-right">{{ totais.horas_total_af|number:0 }}</td>
        <td class="text-right td-dark">{{ totais.utc_mercantil_af|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_domestico_cuidados_af|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_participacao_social_af|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_pluriatividade_af|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_total_af|number:2 }}</td>
        <td class="text-right">{{ totais.renda_mercantil_af|number:2 }}</td>
        <td class="text-right">{{ totais.renda_domestico_cuidados_af|number:2 }}</td>
        <td class="text-right">{{ totais.renda_participacao_social_af|number:2 }}</td>
        <td class="text-right">{{ totais.renda_pluriatividade_af|number:2 }}</td>
        <td class="text-right">{{ totais.renda_total_af|number:2 }}</td>
    </tr>
    <tr>
        <td>{% trans "Homens" %}</td>
        <td class="text-right">{{ totais.horas_mercantil_am|number:0 }}</td>
        <td class="text-right">{{ totais.horas_domestico_cuidados_am|number:0 }}</td>
        <td class="text-right">{{ totais.horas_participacao_social_am|number:0 }}</td>
        <td class="text-right">{{ totais.horas_pluriatividade_am|number:0 }}</td>
        <td class="text-right">{{ totais.horas_total_am|number:0 }}</td>
        <td class="text-right td-dark">{{ totais.utc_mercantil_am|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_domestico_cuidados_am|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_participacao_social_am|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_pluriatividade_am|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_total_am|number:2 }}</td>
        <td class="text-right">{{ totais.renda_mercantil_am|number:2 }}</td>
        <td class="text-right">{{ totais.renda_domestico_cuidados_am|number:2 }}</td>
        <td class="text-right">{{ totais.renda_participacao_social_am|number:2 }}</td>
        <td class="text-right">{{ totais.renda_pluriatividade_am|number:2 }}</td>
        <td class="text-right">{{ totais.renda_total_am|number:2 }}</td>
    </tr>
    <tr>
        <td>{% trans "Jovens Mulheres" %}</td>
        <td class="text-right">{{ totais.horas_mercantil_jf|number:0 }}</td>
        <td class="text-right">{{ totais.horas_domestico_cuidados_jf|number:0 }}</td>
        <td class="text-right">{{ totais.horas_participacao_social_jf|number:0 }}</td>
        <td class="text-right">{{ totais.horas_pluriatividade_jf|number:0 }}</td>
        <td class="text-right">{{ totais.horas_total_jf|number:0 }}</td>
        <td class="text-right td-dark">{{ totais.utc_mercantil_jf|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_domestico_cuidados_jf|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_participacao_social_jf|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_pluriatividade_jf|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_total_jf|number:2 }}</td>
        <td class="text-right">{{ totais.renda_mercantil_jf|number:2 }}</td>
        <td class="text-right">{{ totais.renda_domestico_cuidados_jf|number:2 }}</td>
        <td class="text-right">{{ totais.renda_participacao_social_jf|number:2 }}</td>
        <td class="text-right">{{ totais.renda_pluriatividade_jf|number:2 }}</td>
        <td class="text-right">{{ totais.renda_total_jf|number:2 }}</td>
    </tr>
    <tr>
        <td>{% trans "Jovens Homens" %}</td>
        <td class="text-right">{{ totais.horas_mercantil_jm|number:0 }}</td>
        <td class="text-right">{{ totais.horas_domestico_cuidados_jm|number:0 }}</td>
        <td class="text-right">{{ totais.horas_participacao_social_jm|number:0 }}</td>
        <td class="text-right">{{ totais.horas_pluriatividade_jm|number:0 }}</td>
        <td class="text-right">{{ totais.horas_total_jm|number:0 }}</td>
        <td class="text-right td-dark">{{ totais.utc_mercantil_jm|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_domestico_cuidados_jm|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_participacao_social_jm|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_pluriatividade_jm|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.utc_total_jm|number:2 }}</td>
        <td class="text-right">{{ totais.renda_mercantil_jm|number:2 }}</td>
        <td class="text-right">{{ totais.renda_domestico_cuidados_jm|number:2 }}</td>
        <td class="text-right">{{ totais.renda_participacao_social_jm|number:2 }}</td>
        <td class="text-right">{{ totais.renda_pluriatividade_jm|number:2 }}</td>
        <td class="text-right">{{ totais.renda_total_jm|number:2 }}</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <th>{% trans "Total" %}</th>
        <th class="text-right">{{ totais.horas_mercantil_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_domestico_cuidados_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_participacao_social_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_pluriatividade_total|number:0 }}</th>
        <th class="text-right">{{ totais.horas_total_total|number:0 }}</th>
        <th class="text-right th-dark">{{ totais.utc_mercantil_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.utc_domestico_cuidados_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.utc_participacao_social_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.utc_pluriatividade_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.utc_total_total|number:2 }}</th>
        <th class="text-right">{{ totais.renda_mercantil_total|number:2 }}</th>
        <th class="text-right">{{ totais.renda_domestico_cuidados_total|number:2 }}</th>
        <th class="text-right">{{ totais.renda_participacao_social_total|number:2 }}</th>
        <th class="text-right">{{ totais.renda_pluriatividade_total|number:2 }}</th>
        <th class="text-right">{{ totais.renda_total_total|number:2 }}</th>
    </tr>
</tfoot>
