{% load i18n %}
{% load custom_tags %}
{% load relatorios_tags %}
{% load utils_tags %}

<div class="row">
    <div class="col-sm-12 pt-5 tabela-relatorio-wrapper">
        {% if status == 'Vazio' %}
        <h5>{{ titulo }}</h5>
        <div class="alert alert-warning">
            <p>
              {% trans "Faltam dados para calcular estes indicadores. Por favor, complemente a Análise Econômica." %}
            </p>
            <p>
                <a class="btn btn-secondary" data-toggle="collapse" href="#vars-{{ template_name }}" role="button" aria-expanded="false" aria-controls="vars-{{ template_name }}">
                  <i class="fas fa-eye mr-1"></i> {% trans "Lista de variáveis usadas nesta tabela" %}
                </a>
            </p>
            <div class="collapse" id="vars-{{ template_name }}">
                <h4>{% mostra_vars totais=totais vars=vars %}</h4>
            </div>
        </div>
        {% else %}
                {% if DEBUG_VARS %}<ul>{% for var in vars %}<li>{{ var }}: {{ totais|get_dict_by_key:var }}</li>{% endfor %}</ul>{% endif %}
                    <!-- class="w-100 table table-bordered table-sm datatable datatable-indicators"  -->
                    <table
                        {% tabela_class tableId=filename sticky=False %}
                        id="{{ filename }}"
                        datatable-title="{{ titulo }}"
                        datatable-filename="{{ filename }}"
                    >
                        {% tabela_relatorio totais=totais car=car titulo=titulo template_name=template_name targetId=filename %}
                    </table>
                {% if status == 'Incompleto' %}
                    <div class="alert alert-info small">
                      {% trans "Nem todos os indicadores foram gerados, pois faltam informações na análise econômica." %}
                    </div>
                {% endif %}
        {% endif %}
    </div>
</div>
