{% load i18n %}
{% load custom_tags %}
{% load relatorios_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=7 tableTitle=titulo targetId=targetId %}
    <tr>
        <th></th>
        <th></th>
        <th colspan="5" class="th-dark">{% trans "Esferas de Ocupação (Renda / UTF)" %}</th>
    </tr>
    <tr>
        <th>{% trans "Nome" %}</th>
        <th>{% trans "TOTAL UTFs" %}</th>
        <th class="th-dark">{% trans "Mercantil e Autoconsumo" %}</th>
        <th class="th-dark">{% trans "Doméstico e Cuidados" %}</th>
        <th class="th-dark">{% trans "Participação Social" %}</th>
        <th class="th-dark">{% trans "Pluriatividade" %}</th>
        <th class="th-dark">{% trans "Total" %}</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    <tr>
        <td>{% trans "Mulheres" %}</td>
        <td class="text-right">{{ totais.utf_total_f|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_mercantil_f|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_domestico_cuidados_f|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_participacao_social_f|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_pluriatividade_f|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_total_f|number:2 }}</td>
    </tr>
    <tr>
        <td>{% trans "Homens" %}</td>
        <td class="text-right">{{ totais.utf_total_m|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_mercantil_m|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_domestico_cuidados_m|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_participacao_social_m|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_pluriatividade_m|number:2 }}</td>
        <td class="text-right td-dark">{{ totais.rendaporutf_total_m|number:2 }}</td>
    </tr>
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th>{% trans "Total" %}</th>
        <th class="text-right">{{ totais.utf_total_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.rendaporutf_mercantil_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.rendaporutf_domestico_cuidados_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.rendaporutf_participacao_social_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.rendaporutf_pluriatividade_total|number:2 }}</th>
        <th class="text-right th-dark">{{ totais.rendaporutf_total_total|number:2 }}</th>
    </tr>
</tfoot>
