{% load i18n %}
{% load custom_tags %}

    <thead>
        {% tabela_cabecalho colspan=10 tableTitle=titulo targetId=targetId %}
        <tr>
          <th>{% ajudaIndicadorNome slug="Subsistema" %}</th>
          <th>{% trans "HT Total" %}</th>
          <th>{% trans "HT Mulher" %}</th>
          <th>{% trans "HT Homem" %}</th>
          <th>{% trans "HT Jovens Mulheres" %}</th>
          <th>{% trans "HT Jovens Homens" %}</th>
          <th>{% trans "HT Outras" %}</th>
          <th>{% trans "HT Outros" %}</th>
          <th>{% trans "HT Total Mulheres" %}</th>
          <th>{% trans "HT Total Homens" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for ss in totais.totais_ss_tempostrabalho %}
        <tr>
            <td>{{ ss.nome }}</td>
            <td class="text-right">{{ ss.horas_total|number }}</td>
            <td class="text-right">{{ ss.horas_af|number }}</td>
            <td class="text-right">{{ ss.horas_am|number }}</td>
            <td class="text-right">{{ ss.horas_jf|number }}</td>
            <td class="text-right">{{ ss.horas_jm|number }}</td>
            <td class="text-right">{{ ss.horas_of|number }}</td>
            <td class="text-right">{{ ss.horas_om|number }}</td>
            <td class="text-right">{{ ss.horas_f|number }}</td>
            <td class="text-right">{{ ss.horas_m|number }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% ajudaIndicadorNome slug="Agroecossistema" %}</th>
            <th class="text-right">{{ totais.horas_mercantil_total|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_af|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_am|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_jf|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_jm|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_of|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_om|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_f|number }}</th>
            <th class="text-right">{{ totais.horas_mercantil_m|number }}</th>
        </tr>
    </tfoot>
