{% load i18n %}
{% load custom_tags %}
<thead class="tabelaPeq">
    {% tabela_cabecalho colspan=18 tableTitle=titulo targetId=targetId %}
    <tr>
        <th colspan="6"></th>
        <th colspan="4" class="th-dark">{% ajudaIndicadorNome slug="VA Autoconsumo por UTF" %}</th>
        <th colspan="4" class="th-darker">{% ajudaIndicadorNome slug="VA Mercantil por UTF" %}</th>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th>{% ajudaIndicadorNome slug="Subsistema" %}</th>
        <th>{% trans "VA Mulheres" %}</th>
        <th>{% trans "VA Homens" %}</th>
        <th>{% trans "VA Jovens" %}</th>
        <th>{% trans "VA Total Mulheres" %}</th>
        <th>{% trans "VA Total Homens" %}</th>
        <th class="th-dark">{% trans "Mulheres" %}</th>
        <th class="th-dark">{% trans "%" %}</th>
        <th class="th-dark">{% trans "Homens" %}</th>
        <th class="th-dark">{% trans "%" %}</th>
        <th class="th-darker">{% trans "Mulheres" %}</th>
        <th class="th-darker">{% trans "%" %}</th>
        <th class="th-darker">{% trans "Homens" %}</th>
        <th class="th-darker">{% trans "%" %}</th>
        <th>{% ajudaIndicadorNome slug="PT I" %}</th>
        <th>{% ajudaIndicadorNome slug="PT II" %}</th>
        <th>{% ajudaIndicadorNome slug="IOT" %}</th>
        <th>{% ajudaIndicadorAmbos slug="RA" %} / HT</th>
    </tr>
</thead>
<tbody class="tabelaPeq">
    {% for ss in totais.totais_subsistemas %}
        <tr>
            <td>{{ ss.nome }}</td>
            <td class="text-right">{{ ss.va_af|currency }}</td>
            <td class="text-right">{{ ss.va_am|currency }}</td>
            <td class="text-right">{{ ss.va_j|currency }}</td>
            <td class="text-right">{{ ss.va_f|currency }}</td>
            <td class="text-right">{{ ss.va_m|currency }}</td>
            <td class="text-right td-dark">{{ ss.va_autoconsumo_por_utf_f|currency }}</td>
            <td class="text-right td-dark">{{ ss.percent_va_autoconsumo_por_utf_f|percent }}</td>
            <td class="text-right td-dark">{{ ss.va_autoconsumo_por_utf_m|currency }}</td>
            <td class="text-right td-dark">{{ ss.percent_va_autoconsumo_por_utf_m|percent }}</td>
            <td class="text-right td-darker">{{ ss.va_mercantil_por_utf_f|currency }}</td>
            <td class="text-right td-darker">{{ ss.percent_va_mercantil_por_utf_f|percent }}</td>
            <td class="text-right td-darker">{{ ss.va_mercantil_por_utf_m|currency }}</td>
            <td class="text-right td-darker">{{ ss.percent_va_mercantil_por_utf_m|percent }}</td>
            <td class="text-right">{{ ss.produtividade_do_trabalho_1|currency }}</td>
            <td class="text-right">{{ ss.produtividade_do_trabalho_2|currency }}</td>
            <td class="text-right">{{ ss.intensidade_ocupacao_trabalho_porarea|currency }}</td>
            <td class="text-right">{{ ss.ra_por_ht|currency }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot class="tabelaPeq">
    <tr>
        <th>{% trans "Agroecossistema" %}</th>
        <th class="text-right">{{ totais.total_va_af|currency }}</th>
        <th class="text-right">{{ totais.total_va_am|currency }}</th>
        <th class="text-right">{{ totais.total_va_j|currency }}</th>
        <th class="text-right">{{ totais.total_va_f|currency }}</th>
        <th class="text-right">{{ totais.total_va_m|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_va_autoconsumo_por_utf_f|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_percent_va_autoconsumo_por_utf_f|percent }}</th>
        <th class="text-right th-dark">{{ totais.total_va_autoconsumo_por_utf_m|currency }}</th>
        <th class="text-right th-dark">{{ totais.total_percent_va_autoconsumo_por_utf_m|percent }}</th>
        <th class="text-right th-darker">{{ totais.total_va_mercantil_por_utf_f|currency }}</th>
        <th class="text-right th-darker">{{ totais.total_percent_va_mercantil_por_utf_f|percent }}</th>
        <th class="text-right th-darker">{{ totais.total_va_mercantil_por_utf_m|currency }}</th>
        <th class="text-right th-darker">{{ totais.total_percent_va_mercantil_por_utf_m|percent }}</th>
        <th class="text-right">{{ totais.total_produtividade_do_trabalho_1|currency }}</th>
        <th class="text-right">{{ totais.total_produtividade_do_trabalho_2|currency }}</th>
        <th class="text-right">{{ totais.total_intensidade_ocupacao_trabalho_porarea|currency }}</th>
        <th class="text-right">{{ totais.total_ra_por_ht|currency }}</th>
    </tr>
</tfoot>
