{% load i18n %}
{% load rules %}
{% load utils_tags %}
{% load relatorios_tags %}

<div class="{{ grafico_class }}">
    <div class="grafico_card border border-light bg-light rounded p-3">
        {% if not comparacao %}
            {% if status == 'Completo' %}
            <a href="#" download="" id="botao-{{ grafico_id }}" title="{% trans "Exportar o gráfico" %} '{{ grafico_titulo }}'" class="float-right btn btn-sm btn-outline-secondary"><i class="fa fa-download"></i></a>
            {% endif %}
            <h5 class="pr-5">{% if indice %}{{ indice }}. {% endif %}{{ grafico_titulo }}</h5>
        {% endif %}
        {% if DEBUG_VARS %}<ul>{% for var in vars %}<li>{{ var }}: {{ totais|get_dict_by_key:var }}</li>{% endfor %}</ul>{% endif %}
        {% if status == 'Completo' %}
            <canvas id="{{ grafico_id }}" chart-titulo="{{ grafico_titulo }}"{% if comparacao %} chart-comparacao="True" chart-ordem="{{ ordem }}" chart-legend_id="{{ legend_id }}"{% endif %}></canvas>
        {% else %}
            <div class="alert alert-warning">
                <p>
                  {% trans "Faltam dados para fazer este gráfico! Por favor, complemente a Análise Econômica." %}
                </p>
                <p>
                    <a class="btn btn-secondary" data-toggle="collapse" href="#vars-{{ grafico_id }}" role="button" aria-expanded="false" aria-controls="vars-{{ grafico_id }}">
                      <i class="fas fa-eye mr-1"></i> {% trans "Lista de informações necessárias para gerar este gráfico" %}
                    </a>
                </p>
                <div class="collapse" id="vars-{{ grafico_id }}">
                    <h4>{% mostra_vars totais=totais vars=vars %}</h4>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $('#botao-{{ grafico_id }}').hide();
    {{ grafico_funcao_js }}('{{ grafico_id }}', {{ subtitulo_varname }})
</script>
