{% load i18n %}
{% load rules %}

<ul class="nav nav-tabs nav-fill">
    {% for navbar_tab in navbar_tabs %}
        <li class="nav-item">
            <a class="nav-link{{ navbar_tab.active }}{{ navbar_tab.extra_class }}" href="{{ navbar_tab.url }}">{{ navbar_tab.title }}</a>
        </li>
    {% endfor %}
</ul>
