{% load i18n %}
{% load rules %}

<tr>
    <th colspan="{{ colspan }}" class="nav_subtab_titles_wrapper">
        <div class="nav_subtab_titles">
            <ul class="nav nav-tabs">
                {% for sub_navbar_tab in sub_navbar_tabs %}
                    <li class="nav-item">
                        <a class="nav-link{{ sub_navbar_tab.active }}" href="{{ sub_navbar_tab.url }}">{{ sub_navbar_tab.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </th>
</tr>
