/*TO DEBUG ALL ELEMENTS!*/
/*
* {
  outline: 1px solid #f00 !important;
}
*/

.asteriskField {
  color: red;
}

body {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-family: "Open Sans", sans-serif;
  color: #303030;
}

/* html,
body {
  height: 100%;
  margin: 0;
} */

#breadcrumb-holder {
  margin-top: 1rem;
}
.breadcrumb {
  padding: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid #dbdbdb;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb-item a {
  color: inherit;
}
.breadcrumb-item.active {
  color: inherit;
  font-weight: bold;
}

.buttons-html5 {
  cursor: pointer;
}
h1.dropdown-header {
  text-align: center;
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
}
h2.dropdown-header {
  text-align: left;
  color: inherit;
  font-size: 0.9rem;
  padding: 0 1.2rem 0.4rem 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
/* .dropdown-lista {
} */
.dropdown-lista-left,
.dropdown-lista-right {
  width: 15rem;
}

.nav-tabs {
  margin: 1rem 0;
  border-bottom: 1px solid #dbdbdb;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px #008080 solid;
  background-color: transparent;
  font-weight: 700;
}
.nav-tabs .nav-link {
  border: none;
  color: inherit;
  border-bottom: 2px transparent solid;
  padding: 0.9rem 1rem;
}
.nav-tabs .nav-link:hover {
  text-decoration: none;
  color: #000;
}
#nav_sintese {
  background-color: #f2f2f2;
}

.tabelaPrimeiraColuna {
  max-width: 160px !important;
}

table thead tr th.nav_subtab_titles_wrapper {
  padding: 0;
  background-color: #f4f4f4;
}
.nav_bar_titles {
  overflow: hidden;
}
.nav_subtab_titles .nav-tabs,
.nav_bar_titles .nav-tabs {
  border: none;
}
.nav_subtab_titles .nav-tabs {
  margin: 0;
}
.nav_subtab_titles .nav,
.nav_bar_titles .nav {
  flex-wrap: nowrap;
}
.nav_subtab_titles .nav-item,
.nav_bar_titles .nav-item {
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
}
.nav_bar_titles::after,
.nav_bar_titles::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 4.5rem;
  width: 2rem;
  z-index: 2;
  pointer-events: none;
}
.nav_bar_titles::after {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 2rem;
}
.nav_bar_titles::before {
  left: 2rem;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.nav_bar_titles_wrapper i {
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

/* .container-fluid h3 {
} */
.container-fluid .d-flex h3 {
  margin: 0;
}
h4 {
  font-weight: 400;
  margin-bottom: 0;
}
h5 {
  font-weight: 700;
}

.btn-xsm {
  padding: 0.15rem 0.2rem;
  font-size: 0.7rem;
  border-radius: 0.125rem;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.btn {
  /* text-transform: uppercase; */
  font-size: 0.9rem;
  padding: 0.3rem 0.65rem;
  border-radius: 0.25rem;
}
.btn-sm {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.175rem;
}
.btn-outline-primary {
  color: #3aa0a5;
  border-color: #71bec1;
}
.btn-outline-primary:hover {
  color: #fff;
  border-color: #71bec1;
  background-color: #3aa0a5;
}
.btn-primary {
  background-color: #3aa0a5;
  border-color: #008080;
}
.btn-primary:hover {
  background-color: #008080;
  border-color: #3aa0a5;
}
.btn-secondary {
  color: #3aa0a5;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  border-color: #3aa0a5;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #3aa0a5;
}
.btn-success {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-color: #d8d8d8;
}
.btn-info {
  color: #6c757d;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  border-color: #6c757d;
}
.btn-info:hover {
  color: #fff;
  background-color: #6c757d;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  margin-right: 0.1rem;
}

.dropdown-menu {
  font-size: 0.9rem;
}
.dropdown-item {
  padding: 0.2rem 1.2rem;
}
#topMenu .navbar-nav a[aria-expanded="true"].nav-link {
  background-color: #ddd;
  border-radius: 0.2rem;
  color: inherit;
}

.bg-primary {
  background-color: #3aa0a5 !important;
  color: white;
}
.bg-primary .dropdown-item:hover,
.bg-primary .dropdown-item:active {
  background-color: #008080 !important;
  color: white;
}
.bg-primary .dropdown-item {
  background-color: transparent;
  color: inherit;
}
.bg-none {
  background: none;
}

.badge-info {
  font-size: 60%;
  background-color: #cbe2f9;
  color: #0b5cad;
}
.nav-link.aba_subsistema {
  font-weight: 600;
  color: #055;
}
/* .nav-link.aba_subsistema.active {
} */

.form-control {
  color: #303030;
}
.form-botoes-acao {
  text-align: right;
}
label.form-check-label {
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

#footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}
/* #footer {
} */
.push {
  display: none;
}
#page-content-wrapper {
  min-height: calc(100vh - 48px - 82px - 32px);
}
#page-content-wrapper,
#footer {
  width: calc(100% - 220px);
  margin-left: 220px;
  transition: width 0.3s, left 0.3s;
}
#page-content-wrapper.sidebar-min,
#footer.sidebar-min {
  width: calc(100% - 48px);
  margin-left: 48px;
}
#page-content-wrapper.no-sidebar,
#footer.no-sidebar {
  width: 100%;
  margin-left: 0;
}
#sidebar-wrapper {
  padding: 0;
  width: 220px;
  height: calc(100vh - 48px);
  position: fixed;
  top: 48px;
  background-color: #fafafa;
  border-right: 1px solid #dbdbdb;
  overflow-y: auto;
  transition: width 0.3s, left 0.3s;
}
#sidebar-wrapper.comunidade_ou_territorio {
  background-color: #ccccff;
}
.sidebar-items {
  max-height: calc(100vh - 96px);
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar-wrapper.sidebar-min,
.list-group-embaixo.sidebar-min {
  width: 48px;
}
#sidebar-wrapper .sidebar-header {
  color: #333;
  font-weight: 700;
}
#sidebar-wrapper .list-group-item,
.list-group-embaixo .list-group-item {
  background-color: transparent;
  border: none;
  color: #666;
  padding: 0.7rem 0.9rem;
  white-space: nowrap;
}
#sidebar-wrapper .list-group-item.sidebar-header {
  white-space: normal;
}
#sidebar-wrapper .sidebar-subheader {
  margin-top: -10px;
  padding-top: 0;
  padding-bottom: 0.4rem;
  margin-bottom: 0;
  line-height: normal;
  color: #28a745;
}
.list-group-embaixo {
  width: 220px;
  position: fixed;
  border-right: 1px solid #dbdbdb;
  transition: width 0.3s, left 0.3s;
  bottom: 0;
  left: 0;
}
.list-group-embaixo .list-group-item {
  border-top: 1px solid #dbdbdb;
}
#sidebar-wrapper .list-group-item.active,
#sidebar-wrapper .list-group-item.active:hover,
#sidebar-wrapper .list-group-item.menu-active,
#sidebar-wrapper .list-group-item.menu-active:hover,
#sidebar-wrapper .list-group-item.list-group-item-submenu,
#sidebar-wrapper .list-group-item.list-group-item-submenu.active,
#sidebar-wrapper.sidebar-min .list-group-item-menu.active,
#sidebar-wrapper .list-group-item.list-group-item-submenu:hover {
  color: #333;
  background-color: #e0e0e0;
  border-left: 3px solid #008080;
}
#sidebar-wrapper .list-group-divider {
  height: 2px;
  padding-top: 0;
  padding-bottom: 2px;
  border-top: 1px solid #d8d8d8;
  cursor: inherit;
  background-color: #fafafa !important;
}
#sidebar-wrapper .list-group-divider:hover {
  background-color: #fafafa !important;
}
#sidebar-wrapper .list-group-item-menu.has_submenu.active,
#sidebar-wrapper.sidebar-min .list-group-item.list-group-item-submenu.active {
  background-color: transparent;
}
#sidebar-wrapper .active {
  font-weight: 700;
}
#sidebar-wrapper .list-group-item-action:hover,
.list-group-item-action:hover {
  background-color: #e0e0e0;
}
#sidebar-wrapper .list-group-item.list-group-item-submenu {
  background-color: #f2f2f2;
  padding-left: 2.5rem;
}
#sidebar-wrapper.sidebar-min .list-group-item span,
.list-group-embaixo.sidebar-min .list-group-item span,
#sidebar-wrapper.sidebar-min .list-group-item.list-group-item-submenu {
  display: none;
}
#sidebar-wrapper .list-group-item.disabled,
#sidebar-wrapper .list-group-item:disabled,
#sidebar-wrapper .list-group-item.list-group-item-submenu:disabled {
  color: #6c757d;
}
.list-group-embaixo.sidebar-min .list-group-item i.fa-angle-double-left,
.list-group-embaixo .list-group-item i.fa-angle-double-right {
  display: none;
}
.list-group-embaixo.sidebar-min .list-group-item i.fa-angle-double-right,
.list-group-embaixo .list-group-item i.fa-angle-double-left {
  display: inline-block;
}

.modal-right {
  width: 300px;
  height: calc(100vh - 48px);
  position: fixed;
  top: 48px;
  right: 0;
  background: #f2f2f2;
  border-left: 1px solid #e0e0e0;
  display: none;
  z-index: 2000;
  overflow-y: auto;
}

.modal-right-close {
  color: #5e5e5e;
  font-size: 1rem;
}
.modal-right-header {
  padding: 1.2rem 1rem 0 1rem;
}
.modal-right-body {
  padding: 0 1rem;
  overflow-y: auto;
}
.modal-right-footer {
  border-top: 1px solid #e0e0e0;
  padding: 1rem 1rem 1.2rem 1rem;
}

.dropdown-menu-lista {
  width: 40rem;
  height: 25rem;
  padding: 0;
}
.dropdown-menu-lista .nav-tabs {
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #fafafa;
}
.dropdown-menu-lista .nav-tabs .nav-link {
  padding: 0.2rem;
  border-radius: 0.25rem;
}
.dropdown-menu-lista .nav-tabs .nav-item.show .nav-link,
.dropdown-menu-lista .nav-tabs .nav-link.active {
  border: none;
  background-color: #e0e0e0;
}
.dropdown-menu-lista .nav-tabs .nav-link:hover,
.dropdown-menu-lista .nav-tabs .nav-link:focus {
  background-color: #e0e0e0;
  border: none;
}
#topMenu .dropdown-menu-lista .nav-item .nav-link {
  color: inherit;
  border: none;
}
.dropdown-menu-lista .nav-item,
.dropdown-menu-lista .nav-item:hover {
  border: none;
  margin: 0.1rem;
  padding: 0.1rem 0.1rem;
  border-radius: 0.3rem;
  white-space: nowrap;
}
.dropdown-menu-lista nav-link.active {
  font-weight: 700;
}
.dropdown-menu-lista .tab-content {
  padding: 0.5rem 1rem;
}
.dropdown-menu-lista .tab-content .dataTables_filter label {
  width: 100%;
}
.dropdown-menu-lista table {
  padding: 0.25rem;
}
.dropdown-menu-lista table thead,
.dropdown-menu-lista .dataTables_scrollHead {
  display: none;
}
.dataTables_scrollHead .dropdown-menu {
  left: -3.5rem !important;
  top: -2.2rem !important;
}
.dropdown-menu-lista table thead th {
  border: none;
  background: none;
}
.dropdown-menu-lista table.datatable,
.dropdown-menu-lista table th,
.dropdown-menu-lista table td {
  border: none;
}
.dropdown-menu-lista table td a {
  text-decoration: none;
  color: inherit;
}
.dropdown-menu-lista table td:hover {
  background-color: #e0e0e0;
  border-radius: 0.25rem;
}
.dropdown-menu-lista table td span {
  line-height: 1rem;
}
.dropdown-menu-lista table td small {
  color: #666;
  line-height: 1rem;
}

#table_painel_agroecossistema_wrapper .dataTables_filter label,
#table_painel_comunidade_wrapper .dataTables_filter label,
#table_painel_territorio_wrapper .dataTables_filter label {
  width: 100%;
  padding-right: 0.8rem;
}

#table_painel_agroecossistema_wrapper .dataTables_filter label input,
#table_painel_comunidade_wrapper .dataTables_filter label input,
#table_painel_territorio_wrapper .dataTables_filter label input {
  width: 100%;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    display: none;
  }
}

/* alertas de erro em formulários */
.alert.alert-block > ul:last-child {
  margin-bottom: 0;
}

/* usar em colunas de tabela (menor largura possivel) */
td.min,
th.min {
  width: 1%;
  white-space: nowrap;
}

table thead tr.tableDummyFix,
table thead tr.tableDummyFix th {
  padding: 0;
  margin: 0;
  border: none;
}
table .formset_row.sub-row td {
  border-top: none;
}
table .formset_row.sub-row td .button-delete {
  display: none;
}
table .tabelaPeq td,
table .tabelaPeq th,
table .tabelaPeq .select2-container {
  font-size: 0.75rem;
}

.tabela-relatorio-wrapper {
  overflow-y: auto;
}

.form-control:disabled,
.tabelaEditavel select:disabled,
.tabelaEditavel textarea:disabled,
.tabelaEditavel input[type="text"]:disabled,
.tabelaEditavel input[type="number"]:disabled,
.tabelaEditavel input[type="date"]:disabled,
.tabelaEditavel
  .select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: inherit;
  color: inherit;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding-left: 0;
}
.button-delete.disabled,
.input-group.date.disabled div.input-group-append,
.tabelaEditavel
  .select2-container--default.select2-container--disabled
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}
textarea:disabled {
  resize: none;
}
/* Chrome, Safari, Edge, Opera */
.tabelaEditavel input::-webkit-outer-spin-button:disabled,
.tabelaEditavel input::-webkit-inner-spin-button:disabled {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.tabelaEditavel input[type="number"]:disabled,
.tabelaEditavel input[type="date"]:disabled {
  appearance: textfield;
  -moz-appearance: textfield;
}

.notify-wrapper {
  display: none;
}
.notify-loading {
  color: #868686;
  display: none;
}

/* summernote - can not upload file */
.note-group-select-from-files {
  display: none;
}

.select2-container {
  min-width: auto;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 3px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 15px;
}

/*thead th {
    text-align: center;
}*/

#gotoTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  opacity: 0.75;
}
.errorlist li,
.alert.alert-danger li {
  list-style: none;
}
.errorlist {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.decimalfield input,
.decimalfield {
  text-align: right;
}
.total.decimalfield,
.total.decimalfield_direct {
  font-weight: 700;
}
/* .decimalfield_direct {
} */
.fixoValor {
  width: 50px !important;
}
.fixoQtde {
  width: 40px !important;
}
.total.decimalfield_direct.reais::before {
  content: "R$ ";
}
.tabelaEditavel .decimalfield input,
.tabelaEditavel .decimalfield {
  text-align: left;
}

/*.table-secondary,
.table-secondary > th,
.table-secondary > td {
    font-weight: bold;
}*/

/* TABLES TABELAS */
table.datatable {
  /* border-radius: .3rem; */
  border: 1px solid #e9ecef;
  margin-bottom: 1rem;
}
.table thead th,
.table tfoot th {
  border: none;
  background-color: #e9ecef;
}
.table thead th {
  border-bottom: 1px solid #eee8e8;
}
.table tfoot th {
  font-weight: 700;
  border-top-color: #dbdbdb;
}
.table thead th.th-dark,
.table tfoot th.th-dark,
.table tbody td.td-dark {
  background-color: #d5d6d8;
}
.table thead th.th-darker,
.table tfoot th.th-darker,
.table tbody td.td-darker {
  background-color: #b9babd;
}
.table thead th.th-dark {
  border-bottom-color: #d5d6d8;
}
.table thead th.th-darker {
  border-bottom-color: #b9babd;
}
.table tbody td.td-dark {
  border-top-color: #f5f6f8;
}
.table tfoot th.th-dark {
  border-top: 1px solid #f5f6f8;
}
.table tfoot th.th-darker {
  border-top: 1px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.5rem;
}
.table th {
  font-weight: inherit;
}
h4.tableTitle {
  font-size: 1.2rem;
}
.preTable,
table thead tr th.tableTitleWrapper {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  background-color: #f4f4f4;
}
.preTable {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}
table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
table.modoEdicao .botaoEditar,
table.modoEdicao .exportButtons,
table .botaoConcluir,
table .badgeModoEdicao,
.preTable.modoEdicao .botaoEditar,
.preTable.modoEdicao .exportButtons,
.preTable .botaoConcluir,
.preTable .badgeModoEdicao {
  display: none;
}
.preTable .exportButtons,
table .exportButtons {
  white-space: nowrap;
}
table.modoEdicao .botaoConcluir,
table.modoEdicao .badgeModoEdicao,
.preTable.modoEdicao .botaoConcluir,
.preTable.modoEdicao .badgeModoEdicao {
  display: inline-flex;
}
table.modoEdicao tr td {
  background-color: #e9f3fc;
}
table.modoEdicao tfoot tr.dynamic-form-add td {
  background-color: #e9ecef;
}
div.dt-button-background {
  background-color: none;
  width: 0;
  height: 0;
}
button.dt-button,
div.dt-button,
a.dt-button {
  display: none;
}
div.dt-button-collection {
  border: none;
  background: none;
  width: 0;
  height: 0;
}
.dataTables_scrollBody .tableButtons {
  display: none !important;
}
.tableButtons-position-absolute {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

#loading {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 60, 0, 0.7);
  z-index: 9999;
}

#loading-inner {
  position: relative;
  top: 49%;
  font-size: 1.5rem;
}

#main-content {
  padding: 48px 0 0 0;
  margin: 0;
}

#topMenu {
  padding: 6px 1rem;
}
#topMenu .navbar-brand {
  padding: 0;
}
#topMenu .navbar-nav .nav-link {
  color: #fff;
}
#topMenu .navbar-nav .nav-link.userLogin {
  color: #e67171;
}
#topMenu .navbar-nav .nav-link.userMenu {
  font-weight: 600;
}

.bg-simulation {
  background-color: #d00 !important;
}
h3.simulation-title {
  margin-right: auto;
  margin-bottom: 0;
  color: #fff;
}

.chartCanvas {
  max-width: 100%;
  max-height: 780px;
}
.chartCanvas.legendsRight {
  max-height: 60vh;
}

i.mr-1.fa,
i.mr-1.fas {
  width: 1rem;
}

table.dataTable > thead .sorting::before,
table.dataTable > thead .sorting::after,
table.dataTable > thead .sorting_asc::before,
table.dataTable > thead .sorting_asc::after,
table.dataTable > thead .sorting_desc::before,
table.dataTable > thead .sorting_desc::after,
table.dataTable > thead .sorting_asc_disabled::before,
table.dataTable > thead .sorting_asc_disabled::after,
table.dataTable > thead .sorting_desc_disabled::before,
table.dataTable > thead .sorting_desc_disabled::after {
  bottom: 0.45rem;
}

:root {
  --avatar-size: 1.5rem;
  --avatar-size-lg: 2rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #cc3;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  float: left;
}

.avatar-square,
.avatar-square-lg {
  background-color: #cc3;
  border-radius: 0.2rem;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  float: left;
}
.avatar-square-lg {
  height: var(--avatar-size-lg);
  width: var(--avatar-size-lg);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}
.avatar-square-lg .initials {
  font-size: calc(var(--avatar-size-lg) / 2); /* 50% of parent */
  top: calc(var(--avatar-size-lg) / 4); /* 25% of parent */
}

.ajudaSubmodulo {
  padding-left: 1rem;
  text-align: justify;
}
.ajudaDaTelaBtn {
  color: #3aa0a5;
  padding: 0.2rem 0.5rem;
}
.ajudaDaTelaBtn:hover {
  color: #fff;
  background-color: #3aa0a5;
}

.typedchoicefield li {
  list-style: none;
}
#buttonsRow,
.buttonsRow {
  display: none;
}

/* #djDebug {
  display:none;
} */

#contextMenu,
#contextMenuSub {
  background-color: #3aa0a5;
}
#contextMenu .dropdown-item,
#contextMenuSub .dropdown-item {
  color: #fff;
  padding: 0.1rem 0.7rem;
  cursor: pointer;
}

#contextMenu .dropdown-item:focus,
#contextMenu .dropdown-item:hover,
#contextMenuSub .dropdown-item:focus,
#contextMenuSub .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

#contextMenu .dropdown-divider,
#contextMenuSub .dropdown-divider {
  border-color: #5ebdc1;
}

.toast {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 10;
}

#id_arquivo_img .img-thumb {
  max-width: 80px;
  max-height: 80px;
}

/* .indicador {
} */
.indicador:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f059";
  cursor: pointer;
  color: #999;
  padding-left: 0.3rem;
}

#glossario {
  display: none;
  width: 350px;
}

#glossario .cards tbody tr {
  padding: 12px;
  display: block;
  margin: 0.5rem 0 1rem 0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
#glossario .cards tbody td {
  display: block;
}
#glossario .table tbody label {
  display: none;
}
#glossario .cards tbody label {
  display: inline;
  position: relative;
  font-size: 85%;
  top: 0;
  color: #333;
  min-width: 4rem;
  margin-left: 0;
  margin-right: 1rem;
  text-align: left;
}
#glossario tr.selected label {
  color: #404040;
}
#glossario .table .fa {
  font-size: 2.5rem;
  text-align: center;
}
#glossario .cards .fa {
  font-size: 7.5rem;
}
#glossarioTable thead {
  display: none;
}
#glossarioTable tr.bg-dark {
  color: #fff;
  background-color: #00f;
}

select.select_lazy {
  width: 100%;
}

sup {
  margin-left: 0.2em;
  font-weight: bold;
}

full-height {
  height: 100%;
}

.markItUp {
  width: 500px;
}
.markItUpEditor {
  height: 150px;
  width: 490px;
}
.markItUpPreviewFrame {
  height: 150px;
}
.markItUpEditor,
.markItUpHeader,
.markItUpFooter {
  display: none;
}
table.modoEdicao .markItUpEditor,
table.modoEdicao .markItUpHeader,
table.modoEdicao .markItUpFooter {
  display: block;
}
table.modoEdicao .markItUpPreviewFrame {
  display: none;
}
.markItUpButton.preview {
  display: none;
}
.markItUpHeader ul a {
  padding: 12px;
}
